$font-stack: Helvetica, sans-serif;
$background: #ddd;
$light-background: #e6e6e6;
$text-color: #111;
$primary-color: #1d781d;
$secondary-color: #781D78;

$form-background-color: #ccc;
$form-text-color: #333;
$muted-color: #555; // solarized comment text

// Load custom theme
// @import "theme.scss";


.light-background {
    background: $light-background;
}


body {
  font-family: $font-stack;
  font-size: 20px;
  line-height: 32px;
  background: $background;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
a {
    text-decoration: none;
}

.shared-header {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: -20px;
    strong {
        color: $primary-color;
    }
}

div.highlight {
    background: #f0f0f0;
    padding: 0 10px;
    overflow: auto;
    display: block;
    margin: 20px 0;
}

.box {
    padding: 0 20px;
}

code, pre {
  color: $secondary-color; // #cb4b16; // #268bd2; // #2aa198;
  font-family: monospace;
}

.form {
    input, select, textarea {
        font-size: 20px;
        border: 0;
        padding: 5px;
        background: $form-background-color;
        color: $form-text-color;
        &:focus {
            outline: 1px solid $secondary-color;
        }
    }
    input[type=submit] {
        font-size: 20px;
        outline: none;
        background: $primary-color;
        color: $form-background-color;
        padding: 5px 12px;
        cursor: pointer;
    }
}

header {
  padding: 0 20px;
  .title {
    font-size: 1.3em;
    text-decoration: none;
    .handle {
      font-size: 0.85em;
      color: $muted-color;
    }
  }
  .counter {
    color: $muted-color;
  }
}
a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}
#main {
    flex: 1; 
}
main {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
}
footer {
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
    color: $muted-color;
}
.actor-box {
  display: flex;
  column-gap: 20px;
  margin:10px 0;
  .icon-box {
    flex: 0 0 50px;
  }
  .actor-handle {
    font-size: 0.85em;
    line-height: 1em;
    color: $muted-color;
  }
  .actor-icon {
    max-width: 50px;
  }
}
#notifications, #followers, #following {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
    }
}

@mixin admin-button() {
    font-size: 20px;
    line-height: 32px;
    font-family: $font-stack;
    background: $form-background-color;
    color: $form-text-color;
    border: 1px solid $background;
    padding: 8px 10px 5px 10px;
    cursor: pointer;
    &:hover {
        border: 1px solid $form-text-color;
    }
}

.show-sensitive-btn, .show-more-btn {
    @include admin-button;
    margin: 20px 0;
}

nav {
    form {
        margin: 15px 0;
    }
    input[type=submit], button {
        @include admin-button;
    }
}

nav.flexbox {
    ul {        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

    ul li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }
    }
    a {
        color: $primary-color;
        text-decoration: none;
        &:hover, &:active {
            color: $secondary-color;
            text-decoration: underline;
        }
    }
    a.active {
        color: $secondary-color;
        font-weight: bold;
    }
}

.ap-object {
    margin: 15px 0;
    padding: 20px;
    .in-reply-to {
        color: $muted-color;
        &:hover {
            color: $secondary-color;
            text-decoration: underline;
        }
    }
    nav {
        color: $muted-color;
    }
    .e-content, .activity-og-meta {
        a:hover {
            text-decoration: underline;
        }
    }
    .activity-attachment {
        img, audio, video {
            width: 100%;
            max-width: 740px;
            margin: 30px 0;
        }
    }
    img.inline-img {
        display: block;
        max-width: 740px;
    }
}
.ap-object-expanded {
    border: 2px dashed $secondary-color;
}

.actor-action {
  margin-top:20px;
  margin-bottom:-20px;
  padding: 0 20px;
  span {
    color: $muted-color;
  }
}
.actor-metadata {
    color: $muted-color;
}
.emoji, .custom-emoji {
  max-width: 25px;
}
