{{ template "header.tmpl" .}}
<main>
    <div class="profile">
        <div class="headerimage">
            {{ if .account.Header }}
            <img
                src="{{.account.Header}}"
                alt="{{if .account.DisplayName}}{{.account.DisplayName}}{{else}}{{.account.Username}}{{end}}'s header"
            />
            {{ end }}
        </div>
        <div class="basic">
            <a href="{{.account.Avatar}}" class="avatar"><img src="{{.account.Avatar}}" alt="{{if .account.DisplayName}}{{.account.DisplayName}}{{else}}{{.account.Username}}{{end}}'s avatar"></a>
            <a href="{{.account.URL}}" class="displayname">{{if .account.DisplayName}}{{.account.DisplayName}}{{else}}{{.account.Username}}{{end}}</a>
            <a href="{{.account.URL}}" class="username">@{{.account.Username}}</a>
        </div>
        <div class="detailed">
            <div class="bio">
                {{ if .account.Note }}{{ .account.Note | noescape }}{{else}}This GoToSocial user hasn't written a bio yet!{{end}}
            </div>
        </div>
        <div class="accountstats">
            <div class="entry">Joined <b>{{.account.CreatedAt | timestampShort}}</b></div>
            <div class="entry">Followed by <b>{{.account.FollowersCount}}</b></div>
            <div class="entry">Following <b>{{.account.FollowingCount}}</b></div>
            <div class="entry">Posted <b>{{.account.StatusesCount}}</b></div>
        </div>
    </div>
    <h2 id="recent">Recent public toots</h2>
	<div class="thread">
		{{range .statuses}}
		<div class="toot expanded">
			{{ template "status.tmpl" .}}
		</div>
		{{end}}
	</div>
</main>
{{ template "footer.tmpl" .}}
