// App identity
BUNDLE_DISPLAY_NAME = Chat
BASE_BUNDLE_IDENTIFIER = im.vector.app
APPLICATION_GROUP_IDENTIFIER = group.im.vector
APPLICATION_SCHEME = element

// Team
DEVELOPMENT_TEAM = 7J4U792NQT


// Provisioning profiles
RIOT_PROVISIONING_PROFILE_SPECIFIER = Vector App Store
RIOT_PROVISIONING_PROFILE = 4b43c1ca-3246-4984-828f-165838f5715a

NSE_PROVISIONING_PROFILE_SPECIFIER = "Vector NSE: App Store"
NSE_PROVISIONING_PROFILE = de44ca91-4318-4c23-8611-b531793505c2

SHARE_EXTENSION_PROVISIONING_PROFILE_SPECIFIER = "Vector Share Extension: App Store"
SHARE_EXTENSION_PROVISIONING_PROFILE = 546090a2-77ca-4bc2-b904-da5bd97a2f37

SIRI_INTENTS_PROVISIONING_PROFILE_SPECIFIER = "Vector Siri Intents: App Store"
SIRI_INTENTS_PROVISIONING_PROFILE = 6951ad31-4850-445a-89c8-b64bca0a1c44
