// XXX: check this?
/* Nunito lacks combining diacritics, so these will fall through
   to the next font.  Helevetica's diacritics however do not combine
   nicely (on OSX, at least) and result in a huge horizontal mess.
   Arial empirically gets it right, hence prioritising Arial here. */
/* We fall through to Twemoji for emoji rather than falling through
   to native Emoji fonts (if any) to ensure cross-browser consistency */
/* Noto Color Emoji contains digits, in fixed-width, therefore causing
   digits in flowed text to stand out.
   TODO: Consider putting all emoji fonts to the end rather than the front. */
$font-family: 'Nunito', 'Twemoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Arial', 'Helvetica', sans-serif, 'Noto Color Emoji';

$monospace-font-family: 'Inconsolata', 'Twemoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Courier', monospace, 'Noto Color Emoji';

// Colors from Figma Compound https://www.figma.com/file/X4XTH9iS2KGJ2wFKDqkyed/Compound?node-id=557%3A0
$system: #f5f5f5;

// unified palette
// try to use these colors when possible
$accent-color: #8BC34A;
$accent-bg-color: rgba(139, 195, 74, 0.16);
$notice-primary-color: #ff4b55;
$notice-primary-bg-color: rgba(255, 75, 85, 0.16);
$notice-secondary-color: #616161;
$header-panel-bg-color: #fafafa;

// typical text (dark-on-white in light skin)
$primary-fg-color: #212121;
$secondary-fg-color: $primary-fg-color;
$tertiary-fg-color: $primary-fg-color;
$primary-bg-color: #ffffff;
$muted-fg-color: #616161; // Commonly used in headings and relevant alt text

// Legacy theme backports
$primary-content: $primary-fg-color;
$secondary-content: $secondary-fg-color;
$tertiary-content: $tertiary-fg-color;
$quaternary-content: #bdbdbd;
$quinary-content: #e0e0e0;
$background: $primary-bg-color;

// used for dialog box text
$light-fg-color: #747474;

// used for focusing form controls
$focus-bg-color: #dddddd;

// button UI (white-on-green in light skin)
$accent-fg-color: #ffffff;
$accent-color-50pct: rgba(139, 195, 74, 0.5);    //#8BC34A in rgb
$accent-color-darker: #33691E;
$accent-color-alt: #368bd6;

$selection-fg-color: $primary-bg-color;

$focus-brightness: 105%;

// warning colours
$warning-color: $notice-primary-color; // red
$orange-warning-color: #ff8d13; // used for true warnings
// background colour for warnings
$warning-bg-color: #df2a8b;
$info-bg-color: #2a9edf;
$mention-user-pill-bg-color: $warning-color;
$other-user-pill-bg-color: rgba(0, 0, 0, 0.1);

// pinned events indicator
$pinned-unread-color: $notice-primary-color;
$pinned-color: $notice-secondary-color;

// informational plinth
$info-plinth-bg-color: #f7f7f7;
$info-plinth-fg-color: #888;

$preview-bar-bg-color: #f7f7f7;

// left-panel style muted accent color
$secondary-accent-color: #eeeeee;
$tertiary-accent-color: #d3efe1;

$groupFilterPanel-bg-color: #212121;
$inverted-bg-color: $groupFilterPanel-bg-color;

// used by RoomDirectory permissions
$plinth-bg-color: $secondary-accent-color;

// used by RoomDropTarget
$droptarget-bg-color: rgba(255, 255, 255, 0.5);

// used by AddressSelector
$selected-color: $secondary-accent-color;

// selected for hoverover & selected event tiles
$event-selected-color: $header-panel-bg-color;

// used for the hairline dividers in RoomView
$primary-hairline-color: #e5e5e5;

// used for the border of input text fields
$input-border-color: #e0e0e0;
$input-darker-bg-color: #e0e0e0;
$input-darker-fg-color: #aaaaaa;
$input-lighter-bg-color: #ffffff;
$input-lighter-fg-color: $input-darker-fg-color;
$input-focused-border-color: $accent-color;
$input-valid-border-color: $accent-color;
$input-invalid-border-color: $warning-color;

$field-focused-label-bg-color: #ffffff;

$resend-button-divider-color: $input-darker-bg-color;

$button-bg-color: $accent-color;
$button-fg-color: white;

// apart from login forms, which have stronger border
$strong-input-border-color: #c7c7c7;

// used for UserSettings EditableText
$input-underline-color: rgba(151, 151, 151, 0.5);
$input-fg-color: rgba(74, 74, 74, 0.9);
// scrollbars
$scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
$scrollbar-track-color: transparent;
// context menus
$menu-border-color: #e0e0e0;
$menu-bg-color: #fff;
$menu-box-shadow-color: rgba(118, 131, 156, 0.6);
$menu-selected-color: #f5f8fa;

$avatar-initial-color: #ffffff;
$avatar-bg-color: #ffffff;

$h3-color: #424242;

$dialog-title-fg-color: #424242;
$dialog-backdrop-color: rgba(48, 48, 48, 0.38);
$dialog-shadow-color: rgba(0, 0, 0, 0.48);
$dialog-close-fg-color: #c1c1c1;

$dialog-background-bg-color: #e0e0e0;
$lightbox-background-bg-color: #000;
$lightbox-background-bg-opacity: 0.95;

$imagebody-giflabel: rgba(0, 0, 0, 0.7);
$imagebody-giflabel-border: rgba(0, 0, 0, 0.2);
$imagebody-giflabel-color: rgba(255, 255, 255, 1);

$greyed-fg-color: #888;

$neutral-badge-color: #dbdbdb;

$preview-widget-bar-color: #bdbdbd;
$preview-widget-fg-color: unset;

$blockquote-bar-color: #bdbdbd;
$blockquote-fg-color: unset;

$settings-grey-fg-color: #9e9e9e;
$settings-profile-placeholder-bg-color: #e0e0e0;
$settings-profile-overlay-placeholder-fg-color: #212121;
$settings-profile-button-bg-color: #e0e0e0;
$settings-profile-button-fg-color: $settings-profile-overlay-placeholder-fg-color;
$settings-subsection-fg-color: #616161;

$voip-decline-color: #f48080;
$voip-accept-color: #80f480;

$rte-bg-color: #e0e0e0;
$rte-code-bg-color: rgba(0, 0, 0, 0.04);
$rte-room-pill-color: #aaa;
$rte-group-pill-color: #aaa;

$topleftmenu-color: #212121;
$roomheader-color: #424242;
$roomheader-bg-color: $primary-bg-color;
$roomheader-addroom-bg-color: #757575;
$roomheader-addroom-fg-color: $accent-fg-color;
$groupFilterPanel-button-color: #757575;
$groupheader-button-color: #757575;
$rightpanel-button-color: #757575;
$icon-button-color: #757575;
$roomtopic-color: #9e9e9e;
$eventtile-meta-color: $roomtopic-color;

$composer-e2e-icon-color: #757575;
$header-divider-color: #757575;

$voipcall-plinth-color: $system;

// ********************

$theme-button-bg-color: #e0e0e0;

$roomlist-button-bg-color: #fff; // Buttons include the filter box, explore button, and sublist buttons
$roomlist-filter-active-bg-color: $roomlist-button-bg-color;
$roomlist-bg-color: $header-panel-bg-color;
$roomlist-header-color: $primary-fg-color;
$roomsublist-divider-color: $primary-fg-color;
$roomsublist-skeleton-ui-bg: linear-gradient(180deg, #ffffff 0%, #ffffff00 100%);

$groupFilterPanel-divider-color: $roomlist-header-color;

$roomtile-preview-color: #9e9e9e;
$roomtile-default-badge-bg-color: $accent-color;
$roomtile-selected-bg-color: #fff;

$presence-online: $accent-color;
$presence-away: #d9b072;
$presence-offline: #e0e0e0;

// ********************

$username-variant1-color: #4189c9;
$username-variant2-color: #aa43a7;
$username-variant3-color: #48a188;
$username-variant4-color: #b3526d;
$username-variant5-color: #be6a31;
$username-variant6-color: #299ea0;
$username-variant7-color: #5c57df;
$username-variant8-color: #69a011;

$username-pl100-color: #F44336;
$username-pl95-color: #FF5722;
$username-pl51-color: #03A9F4;
$username-pl50-color: #2196F3;
$username-pl1-color: #CDDC39;
$username-pl0-color: #8bc34a;

$panel-divider-color: #dee1f3;

// ********************

$widget-menu-bar-bg-color: $secondary-accent-color;
$widget-body-bg-color: #fff;

// ********************

// both $event-highlight-bg-color and $room-warning-bg-color share this value,
// so to not make their order dependent on who depends on who, have a shared value
// defined before both
$yellow-background: #fff8e3;

// event tile lifecycle
$event-notsent-color: #f44;

$event-highlight-fg-color: $warning-color;
$event-highlight-bg-color: transparent;

// event redaction
$event-redacted-fg-color: #e2e2e2;
$event-redacted-border-color: #cccccc;

// event timestamp
$event-timestamp-color: #acacac;

$copy-button-url: "$(res)/img/feather-customised/clipboard.svg";
$collapse-button-url: "$(res)/img/feather-customised/minimise.svg";
$expand-button-url: "$(res)/img/feather-customised/maximise.svg";

// e2e
$e2e-verified-color: #76cfa5; // N.B. *NOT* the same as $accent-color
$e2e-unknown-color: #e8bf37;
$e2e-unverified-color: #e8bf37;
$e2e-warning-color: #ba6363;

/*** ImageView ***/
$lightbox-bg-color: #424242;
$lightbox-fg-color: #ffffff;
$lightbox-border-color: #ffffff;

// Tabbed views
$tab-label-fg-color: #424242;
$tab-label-active-fg-color: #ffffff;
$tab-label-bg-color: transparent;
$tab-label-active-bg-color: $accent-color;
$tab-label-icon-bg-color: #424242;
$tab-label-active-icon-bg-color: $tab-label-active-fg-color;

// Buttons
$button-primary-fg-color: #ffffff;
$button-primary-bg-color: $accent-color;
$button-secondary-bg-color: $accent-fg-color;
$button-danger-fg-color: #ffffff;
$button-danger-bg-color: $notice-primary-color;
$button-danger-disabled-fg-color: #ffffff;
$button-danger-disabled-bg-color: #f5b6bb; // TODO: Verify color
$button-link-fg-color: $accent-color;
$button-link-bg-color: transparent;

$visual-bell-bg-color: #faa;

// Toggle switch
$togglesw-off-color: #bdbdbd;
$togglesw-on-color: $accent-color;
$togglesw-ball-color: #fff;

// Slider
$slider-selection-color: $accent-color;
$slider-background-color: #bdbdbd;

$progressbar-fg-color: $accent-color;
$progressbar-bg-color: rgba(144, 144, 144, 0.2);

$room-warning-bg-color: $yellow-background;

$memberstatus-placeholder-color: $muted-fg-color;

$authpage-bg-color: #424242;
$authpage-modal-bg-color: rgba(255, 255, 255, 0.59);
$authpage-body-bg-color: #ffffff;
$authpage-focus-bg-color: #dddddd;
$authpage-lang-color: #424242;
$authpage-primary-color: #212121;
$authpage-secondary-color: #616161;

$dark-panel-bg-color: $roomlist-bg-color;
$message-bubble-background: #eeeeee;
$message-bubble-background-self: #F1F8E9;
$message-bubble-background-selected: #DBEDC6;
$panel-gradient: rgba(242, 245, 248, 0), rgba(242, 245, 248, 1);

$message-action-bar-bg-color: $primary-bg-color;
$message-action-bar-fg-color: $primary-fg-color;
$message-action-bar-border-color: #e0e0e0;
$message-action-bar-hover-border-color: $focus-bg-color;

$reaction-row-button-bg-color: $header-panel-bg-color;
$reaction-row-button-border-color: #e0e0e0;
$reaction-row-button-hover-border-color: $focus-bg-color;
$reaction-row-button-selected-bg-color: #DCEDC8;
$reaction-row-button-selected-border-color: $accent-color;

$kbd-border-color: $reaction-row-button-border-color;

$tooltip-timeline-bg-color: $groupFilterPanel-bg-color;
$tooltip-timeline-fg-color: #ffffff;

$interactive-tooltip-bg-color: #212121;
$interactive-tooltip-fg-color: #ffffff;

$breadcrumb-placeholder-bg-color: #e0e0e0;

$user-tile-hover-bg-color: $header-panel-bg-color;

$message-body-panel-fg-color: $secondary-fg-color;
$message-body-panel-bg-color: #e0e0e0;
$message-body-panel-icon-fg-color: $secondary-fg-color;
$message-body-panel-icon-bg-color: $system;

// See non-legacy _light for variable information
$voice-record-stop-symbol-color: #ff4b55;
$voice-record-live-circle-color: #ff4b55;
$voice-record-stop-border-color: #e0e0e0;
$voice-record-waveform-incomplete-fg-color: #bdbdbd;
$voice-record-icon-color: $tertiary-fg-color;
$voice-playback-button-bg-color: $message-body-panel-icon-bg-color;
$voice-playback-button-fg-color: $message-body-panel-icon-fg-color;

// FontSlider colors
$appearance-tab-border-color: $input-darker-bg-color;

$composer-shadow-color: tranparent;

// Background for code in event tile
$eventtile-code-bg-color: #00000010;

// ***** Mixins! *****

@define-mixin mx_DialogButton {
    /* align images in buttons (eg spinners) */
    vertical-align: middle;
    border: 0px;
    border-radius: $border-radius-8px;
    font-family: $font-family;
    font-size: $font-14px;
    color: $button-fg-color;
    background-color: $button-bg-color;
    width: auto;
    padding: 7px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

@define-mixin mx_DialogButton_hover {
}

@define-mixin mx_DialogButton_danger {
    background-color: $accent-color;
}

@define-mixin mx_DialogButton_small {
    @mixin mx_DialogButton;
    font-size: $font-15px;
    padding: 0px 1.5em 0px 1.5em;
}

@define-mixin mx_DialogButton_secondary {
    // flip colours for the secondary ones
    font-weight: 600;
    border: 1px solid $accent-color !important;
    color: $accent-color;
    background-color: $button-secondary-bg-color;
}

@define-mixin mx_Dialog_link {
    color: $accent-color;
    text-decoration: none;
}

// diff highlight colors
.hljs-addition {
    background: #dfd;
}

.hljs-deletion {
    background: #fdd;
}
