// Colors from Figma Compound https://www.figma.com/file/X4XTH9iS2KGJ2wFKDqkyed/Compound?node-id=559%3A741
$accent: #8BC34A;
$alert: #FF5B55;
$links: #0086e6;
$primary-content: #ffffff;
$secondary-content: #b3b3b3;
$tertiary-content: #808080;
$quaternary-content: #757575;
$quinary-content: #424242;
$system: #383838;
$background: #212121;
$panels: rgba($system, 0.9);
$panel-base: #808080; // This color is not intended for use in the app
$panel-selected: rgba($panel-base, 0.3);
$panel-hover: rgba($panel-base, 0.1);
$panel-actions: rgba($panel-base, 0.2);
$space-nav: rgba($panel-base, 0.1);

// TODO: Move userId colors here

// unified palette
// try to use these colors when possible
$header-panel-bg-color: #303030;
$header-panel-border-color: #000000;
$header-panel-text-primary-color: #b3b3b3;
$header-panel-text-secondary-color: #cccccc;
$text-secondary-color: #b3b3b3;
$search-bg-color: #303030;
$search-placeholder-color: #616161;
$room-highlight-color: #424242;

// typical text (dark-on-white in light skin)
$muted-fg-color: $header-panel-text-primary-color;

// used for dialog box text
$light-fg-color: $header-panel-text-secondary-color;

// used for focusing form controls
$focus-bg-color: $room-highlight-color;

$mention-user-pill-bg-color: $warning-color;
$other-user-pill-bg-color: $room-highlight-color;
$rte-room-pill-color: $room-highlight-color;
$rte-group-pill-color: $room-highlight-color;

// informational plinth
$info-plinth-bg-color: $header-panel-bg-color;
$info-plinth-fg-color: #888;

$preview-bar-bg-color: $header-panel-bg-color;

$groupFilterPanel-bg-color: rgba(48, 48, 48, 0.82);
$inverted-bg-color: $background;

// used by AddressSelector
$selected-color: $room-highlight-color;

// selected for hoverover & selected event tiles
$event-selected-color: $system;

// used for the hairline dividers in RoomView
$primary-hairline-color: transparent;

// used for the border of input text fields
$input-border-color: rgba(231, 231, 231, 0.2);
$input-darker-bg-color: $search-bg-color;
$input-darker-fg-color: $search-placeholder-color;
$input-lighter-bg-color: #ffffff;
$input-lighter-fg-color: $input-darker-fg-color;
$input-focused-border-color:$accent-color;
$input-valid-border-color: $accent-color;
$input-invalid-border-color: $warning-color;

$field-focused-label-bg-color: $background;

$resend-button-divider-color: #b3b3b34a; // muted-text with a 4A opacity.

// scrollbars
$scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
$scrollbar-track-color: transparent;

// context menus
$menu-border-color: rgba(231, 231, 231, 0.2);
$menu-bg-color: $header-panel-bg-color;
$menu-box-shadow-color: $background;
$menu-selected-color: $room-highlight-color;

$avatar-initial-color: #ffffff;
$avatar-bg-color: $background;

$h3-color: $primary-content;

$dialog-title-fg-color: $primary-content;
$dialog-backdrop-color: #000;
$dialog-shadow-color: rgba(0, 0, 0, 0.48);
$dialog-close-fg-color: #aaaaaa;

$dialog-background-bg-color: $header-panel-bg-color;
$lightbox-background-bg-color: #000;
$lightbox-background-bg-opacity: 0.85;

$preview-widget-bar-color: #bdbdbd;
$preview-widget-fg-color: unset;

$blockquote-bar-color: #bdbdbd;
$blockquote-fg-color: unset;

$settings-grey-fg-color: #9e9e9e;
$settings-profile-placeholder-bg-color: $system;
$settings-profile-overlay-placeholder-fg-color: #424242;
$settings-profile-button-bg-color: #e0e0e0;
$settings-profile-button-fg-color: $settings-profile-overlay-placeholder-fg-color;
$settings-subsection-fg-color: $text-secondary-color;

$topleftmenu-color: $primary-content;
$roomheader-color: $primary-content;
$roomheader-addroom-bg-color: rgba(97, 97, 97, 0.3);
$roomheader-addroom-fg-color: $primary-content;
$groupFilterPanel-button-color: $header-panel-text-primary-color;
$groupheader-button-color: $header-panel-text-primary-color;
$rightpanel-button-color: $header-panel-text-primary-color;
$icon-button-color: $tertiary-content;
$roomtopic-color: $text-secondary-color;
$eventtile-meta-color: $roomtopic-color;

$header-divider-color: $header-panel-text-primary-color;
$composer-e2e-icon-color: $header-panel-text-primary-color;

// ********************

$theme-button-bg-color: #e0e0e0;

$roomlist-button-bg-color: rgba(144, 144, 144, 0.2); // Buttons include the filter box, explore button, and sublist buttons
$roomlist-bg-color: rgba(48, 48, 48, 0.90);
$roomlist-header-color: $tertiary-content;
$roomsublist-divider-color: $primary-content;
$roomsublist-skeleton-ui-bg: linear-gradient(180deg, #3e444c 0%, #3e444c00 100%);

$groupFilterPanel-divider-color: $roomlist-header-color;

$roomtile-preview-color: $secondary-content;
$roomtile-default-badge-bg-color: $accent-color;
$roomtile-selected-bg-color: rgba(144, 144, 144, 0.2);

// ********************

$notice-secondary-color: $roomlist-header-color;

$panel-divider-color: transparent;

$widget-menu-bar-bg-color: $header-panel-bg-color;
$widget-body-bg-color: #303030;

// event redaction
$event-redacted-fg-color: #606060;
$event-redacted-border-color: #000000;

$event-highlight-fg-color: $warning-color;
$event-highlight-bg-color: transparent;

// event timestamp
$event-timestamp-color: #ffffffb3;

// Tabbed views
$tab-label-fg-color: $primary-content;
$tab-label-active-fg-color: $primary-content;
$tab-label-bg-color: transparent;
$tab-label-active-bg-color: $accent-color;
$tab-label-icon-bg-color: $primary-content;
$tab-label-active-icon-bg-color: $primary-content;

// Buttons
$button-primary-fg-color: $primary-content;
$button-primary-bg-color: $accent-color;
$button-secondary-bg-color: transparent;
$button-danger-fg-color: $primary-content;
$button-danger-bg-color: $notice-primary-color;
$button-danger-disabled-fg-color: $primary-content;
$button-danger-disabled-bg-color: #f5b6bb; // TODO: Verify color
$button-link-fg-color: $accent-color;
$button-link-bg-color: transparent;

// Toggle switch
$togglesw-off-color: $room-highlight-color;

$progressbar-fg-color: $accent-color;
$progressbar-bg-color: $system;

$visual-bell-bg-color: #800;

$room-warning-bg-color: $header-panel-bg-color;

$authpage-body-bg-color: $background;
$authpage-primary-color: $primary-content;

$dark-panel-bg-color: $header-panel-bg-color;
$message-bubble-background: #424242;
$message-bubble-background-self: #303030;
$message-bubble-background-selected: #3F4931;
$panel-gradient: rgba(48, 48, 48, 0), rgba(48, 48, 48, 1);

$message-action-bar-bg-color: $header-panel-bg-color;
$message-action-bar-fg-color: $header-panel-text-primary-color;
$message-action-bar-border-color: #616161;
$message-action-bar-hover-border-color: $header-panel-text-primary-color;

$reaction-row-button-bg-color: $header-panel-bg-color;
$reaction-row-button-border-color: #616161;
$reaction-row-button-hover-border-color: $header-panel-text-primary-color;
$reaction-row-button-selected-bg-color: #33691E;
$reaction-row-button-selected-border-color: $accent-color;

$kbd-border-color: #000000;

$tooltip-timeline-bg-color: $groupFilterPanel-bg-color;
$tooltip-timeline-fg-color: $primary-content;

$interactive-tooltip-bg-color: $background;
$interactive-tooltip-fg-color: $primary-content;

$breadcrumb-placeholder-bg-color: #303030;

$user-tile-hover-bg-color: $header-panel-bg-color;

$message-body-panel-fg-color: $secondary-content;
$message-body-panel-bg-color: $quinary-content;
$message-body-panel-icon-bg-color: $system;
$message-body-panel-icon-fg-color: $secondary-content;

$voice-record-stop-border-color: $quaternary-content;
$voice-record-waveform-incomplete-fg-color: $quaternary-content;
$voice-record-icon-color: $quaternary-content;
$voice-playback-button-bg-color: $message-body-panel-icon-bg-color;
$voice-playback-button-fg-color: $message-body-panel-icon-fg-color;

// Appearance tab colors
$appearance-tab-border-color: $room-highlight-color;

// blur amounts for left left panel (only for element theme)
:root {
    --lp-background-blur: 45px;
}

$composer-shadow-color: rgba(0, 0, 0, 0.28);

// Background for code in event tile
$eventtile-code-bg-color: #121212;

// ***** Mixins! *****

@define-mixin mx_DialogButton {
    /* align images in buttons (eg spinners) */
    vertical-align: middle;
    border: 0px;
    border-radius: $border-radius-8px;
    font-family: $font-family;
    font-size: $font-14px;
    color: $button-fg-color;
    background-color: $button-bg-color;
    width: auto;
    padding: 7px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

@define-mixin mx_DialogButton_danger {
    background-color: $accent-color;
}

@define-mixin mx_DialogButton_secondary {
    // flip colours for the secondary ones
    font-weight: 600;
    border: 1px solid $accent-color !important;
    color: $accent-color;
    background-color: $button-secondary-bg-color;
}

@define-mixin mx_Dialog_link {
    color: $accent-color;
    text-decoration: none;
}

// Nasty hacks to apply a filter to arbitrary monochrome artwork to make it
// better match the theme.  Typically applied to dark grey 'off' buttons or
// light grey 'on' buttons.
.mx_filterFlipColor {
    filter: invert(1);
}

// markdown overrides:
.mx_EventTile_content .markdown-body {
    table {
        tr {
            background-color: #000000;
        }

        tr:nth-child(2n) {
            background-color: #080808;
        }
    }
}

// highlight.js overrides
.hljs-tag {
    color: inherit; // Without this they'd be weirdly blue which doesn't match the theme
}

.hljs-addition {
    background: #1a4b59;
}

.hljs-deletion {
    background: #53232a;
}
