/*
	GoToSocial
	Copyright (C) 2021-2022 GoToSocial Authors admin@gotosocial.org

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
   This stylesheets defines (color) variables to be used by other stylesheets on the page
   postcss-custom-prop-vars will transpile these to css --variables
*/

$bg: #525c66;
$fg: #fafaff;
$fg_dark: #b0b0b5;

$bg_darker3: color-mod($bg lightness(-3%));
$bg_darker5: color-mod($bg lightness(-5%));

$bg_lighter3: color-mod($bg lightness(+3%));

$acc1: #de8957; // sloth light orange
$acc2: #c76d33; // sloth dark orange
$blue: #5897df;
