/*
	GoToSocial
	Copyright (C) 2021-2022 GoToSocial Authors admin@gotosocial.org

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

main {
	background: transparent;
	padding-top: 0;
}

.profile {
	position: relative;
	background: $bg_darker3;
	display: grid;
	grid-template-rows: minmax(6rem, 20%) auto auto;
	grid-template-columns: 1fr;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 0.5rem;
	margin-bottom: 0.2rem;
	border-radius: $br;

	box-shadow: $boxshadow;

	.headerimage {
		height: 100%;
		aspect-ratio: 3 / 1;
		overflow: hidden;
		box-shadow: $boxshadow;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: $br $br 0 0;
		}
	}

	.basic {
		margin-top: -7rem;
		padding: 0 1rem;

		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: 6.5rem auto;

		.avatar {
			box-sizing: border-box;
			height: 8.5rem;
			width: 8.5rem;
			grid-row: 1 / span 2;
			background: $bg;
			border: 0.2rem solid $acc2;
			padding: 0;
			border-radius: $br;
			position: relative;

			box-shadow: $boxshadow;
			img {
				object-fit: cover;
				border-radius: $br;
				width: 100%;
				height: 100%;
			}
		}

		a {
			position: relative;
			z-index: 1;
			color: inherit;
			text-decoration: none;
			padding: 0.5rem;
		}

		.displayname {
			align-self: end;
			font-weight: bold;
			font-size: 2rem;
			line-height: 2.2rem;
		}

		.username {
			padding-top: 0.25rem;
			color: $acc1;
			font-weight: bold;
		}
	}

	.detailed {
		padding: 0 1rem;
		display: flex;
		flex-direction: column;
		flex: 1 1 25em;

		h2 {
			margin-top: 0;
		}

		.bio {
			margin: 0;

			a {
				color: $acc1;
				text-decoration: underline;
			}
		}
	}
}

.accountstats {
	background: $bg_lighter3;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1.2rem;
	border-radius: 0 0 $br $br;

	.entry {
		padding: 1rem 0;
		text-align: center;
	}
}

.toot, .toot:last-child {
	box-shadow: $boxshadow;
}

#recent {
	margin-left: 1rem;
}