{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}
{% block content %}

{{ utils.display_box_filters("admin_outbox") }}

{% for outbox_object in outbox %}

    {% if outbox_object.ap_type == "Announce" %}
        <div class="actor-action">You shared</div>
        {{ utils.display_object(outbox_object.relates_to_anybox_object) }}
    {% elif outbox_object.ap_type == "Like" %}
        <div class="actor-action">You liked</div>
        {{ utils.display_object(outbox_object.relates_to_anybox_object) }}
    {% elif outbox_object.ap_type == "Follow" %}
        <div class="actor-action">You followed</div>
        {{ utils.display_actor(outbox_object.relates_to_actor, actors_metadata) }}
    {% elif outbox_object.ap_type in ["Article", "Note", "Video"] %}
        {{ utils.display_object(outbox_object) }}
    {% else %}
        Implement {{ outbox_object.ap_type }}
    {% endif %}

{% endfor %}

{% if next_cursor %}
<div class="box">
    <p><a href="{{ url_for("admin_outbox") }}?cursor={{ next_cursor }}{% if request.query_params.filter_by %}&filter_by={{ request.query_params.filter_by }}{% endif %}">See more</a></p>
</div>
{% endif %}

{% endblock %}
