{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
<title>{{ local_actor.display_name }}'s followers</title>
{% endblock %}

{% block content %}
{% include "header.html" %}
<div id="followers">
<ul>
{% for follower in followers %}
<li>{{ utils.display_actor(follower.actor, actors_metadata) }}</li>
{% endfor %}
</ul>

{% set x_more = followers_count - followers | length %}
{% if x_more > 0 %}
    <p>And {{ x_more }} more.</p>
{% endif %}

{% if is_admin %}
<div class="box">
    <p><a href="{{ url_for("admin_inbox") }}?filter_by=Follow">Manage followers</a></p>
</div>
{% endif %}

</div>
{% endblock %}
