<header id="header">

<div class="h-card p-author">
<data class="u-photo" value="{{ local_actor.icon_url }}"></data>
<a href="{{ local_actor.url }}" class="u-url u-uid no-hover title">
	<span class="name">{{ local_actor.name }}</span>
	<span class="p-name handle">{{ local_actor.handle }}</span>
</a>

<div class="p-note summary">
{{ local_actor.summary | safe }}
</div>

</div>

{%- macro header_link(url, text) -%}
{% set url_for = request.app.router.url_path_for(url) %}
<a href="{{ url_for }}" {% if request.url.path == url_for %}class="active"{% endif %}>{{ text }}</a>
{% endmacro %}

<div style="margin:30px 0 0 0;">
<nav class="flexbox">
    <ul>
        <li>{{ header_link("index", "Notes") }}</li>
        <li>{{ header_link("followers", "Followers") }} <span class="counter">{{ followers_count }}</span></li>
        <li>{{ header_link("following", "Following") }} <span class="counter">{{ following_count }}</span></li>
        <li>{{ header_link("get_remote_follow", "Remote follow") }}</li>
    </ul>
</nav>
</div>


</header>
