{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}
{% block content %}
<div class="box">
    <div style="display:flex;column-gap: 20px;">
        {% if client.logo %}
        <div style="flex:initial;width:100px;">
            <img src="{{client.logo | media_proxy_url }}" style="max-width:100px;" alt="{{ client.name }} logo">
        </div>
        {% endif %}
        <div style="flex:1;">
            <div style="padding-left: 20px;">
                <a class="lcolor" style="font-size:1.2em;font-weight:600;" href="{{ client.url }}">{{ client.name }}</a>
                <p>wants you to login as <strong class="lcolor">{{ me }}</strong> with the following redirect URI: <code>{{ redirect_uri }}</code>.</p>


                <form method="POST" action="{{ url_for('indieauth_flow') }}" class="form">
                    {{ utils.embed_csrf_token() }}
                    {% if scopes %}
                    <h3>Scopes</h3>
                    <ul>
                    {% for scope in scopes %}
                    <li><input type="checkbox" name="scopes" value="{{scope}}" id="scope-{{scope}}"><label for="scope-{{scope}}">{{ scope }}</label>
                    </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
                    <input type="hidden" name="state" value="{{ state }}">
                    <input type="hidden" name="client_id" value="{{ client_id }}">
                    <input type="hidden" name="me" value="{{ me }}">
                    <input type="hidden" name="response_type" value="{{ response_type }}">
                    <input type="hidden" name="code_challenge" value="{{ code_challenge }}">
                    <input type="hidden" name="code_challenge_method" value="{{ code_challenge_method }}">
                    <input type="submit" value="login">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
