<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/static/css/main.css">
<link rel="alternate" title="{{ local_actor.display_name}}'s microblog" type="application/json" href="{{ url_for("json_feed") }}" />
<link rel="alternate" href="{{ url_for("rss_feed") }}" type="application/rss+xml" title="{{ local_actor.display_name}}'s microblog">
<link rel="alternate" href="{{ url_for("atom_feed") }}" type="application/atom+xml" title="{{ local_actor.display_name}}'s microblog">
<style>
{{ highlight_css }}
</style>
{% block head %}{% endblock %}
</head>
<body>
<div id="main">
<main>
{% if is_admin %}
<div id="admin">
{% macro admin_link(url, text) %}
{% set url_for = request.app.router.url_path_for(url) %}
<a href="{{ url_for }}" {% if request.url.path == url_for %}class="active"{% endif %}>{{ text }}</a>
{% endmacro %}
<div style="margin-bottom:30px;padding: 0 20px;">
<nav class="flexbox">
    <ul>
        <li>Admin</li>
        <li>{{ admin_link("index", "Public") }}</li>
        <li>{{ admin_link("admin_new", "New") }}</li>
        <li>{{ admin_link("admin_stream", "Stream") }}</li>
        <li>{{ admin_link("admin_inbox", "Inbox") }}/{{ admin_link("admin_outbox", "Outbox") }}</li>
        <li>{{ admin_link("get_notifications", "Notifications") }} {% if notifications_count %}({{ notifications_count }}){% endif %}</li>
        <li>{{ admin_link("get_lookup", "Lookup") }}</li>
        <li>{{ admin_link("admin_bookmarks", "Bookmarks") }}</li>
        <li><a href="{{ url_for("logout")}}">Logout</a></li>
    </ul>
</nav>
</div>

</div>
{% endif %}
{% block content %}{% endblock %}
</main>
</div>

<footer class="footer">
    Powered by <a href="https://docs.microblog.pub">microblog.pub</a> <small class="microblogpub-version"><code>{{ microblogpub_version }}</code></small> and the <a href="https://activitypub.rocks/">ActivityPub</a> protocol. <a href="{{ url_for("login") }}">Admin</a>.
</footer>
</body>
</html>
