{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
{% if outbox_object %}
{% set excerpt = outbox_object.content | html2text | trim | truncate(50) %}
<title>{{ local_actor.display_name }}: "{{ excerpt }}"</title>
<link rel="webmention" href="{{ url_for("webmention_endpoint") }}">
<link rel="alternate" href="{{ request.url }}" type="application/activity+json">
<meta name="description" content="{{ excerpt }}">
<meta content="article" property="og:type" />
<meta content="{{ outbox_object.url }}" property="og:url" />
<meta content="{{ local_actor.display_name }}'s microblog" property="og:site_name" />
<meta content="Note" property="og:title" />
<meta content="{{ excerpt }}" property="og:description" />
<meta content="{{ local_actor.icon_url }}" property="og:image" />
<meta content="summary" property="twitter:card" />
{% endif %}
{% endblock %}

{% block content %}
{% include "header.html" %}

{% macro display_replies_tree(replies_tree_node) %}

{% if replies_tree_node.is_requested %}
{{ utils.display_object(replies_tree_node.ap_object, likes=likes, shares=shares, webmentions=webmentions, expanded=not replies_tree_node.is_root) }}
{% else %}
    {{ utils.display_object(replies_tree_node.ap_object) }}
{% endif %}

{% for child in replies_tree_node.children %}
    {{ display_replies_tree(child) }}
{% endfor %}

{% endmacro %}

{{ display_replies_tree(replies_tree) }}

{% endblock %}
