/**
    Fereghdei
    The Flow webesite theme for Jekyll
    (C) 2019 Flow developers. All rights reserved.
 */

@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Varela+Round|Fira+Mono&display=swap");

:root {
  --code-font-family: "Fira Mono", "SFMono-Regular", Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
  --heading-font-family: "Varela Round", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --text-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --color-theme-main: #673ab7;
  --color-theme-main-gradient: #ba68c8;
  --color-theme-secondary: #ff1744;
  --color-theme-gradient: linear-gradient(
    to bottom,
    var(--color-theme-main) 50%,
    var(--color-theme-main-gradient)
  );
  --theme-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --theme-shadow-big: 0px 4px 8px -1px rgba(0, 0, 0, 0.4),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

html,
body {
  font-family: var(--text-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family), var(--text-font-family),
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: var(--color-theme-secondary);
  text-decoration: none;
}

blockquote {
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: italic;
  background-color: #f4f4f4;
  margin-left: 0;
  margin-right: 0;
  padding-left: 48px;
  padding-right: 8px;
  border-left-color: var(--color-theme-main);
  border-left-width: 2px;
  border-left-style: solid;
}

code {
  font-family: var(--code-font-family);
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: scroll;
}

code.highlighter-rouge {
  background-color: #f4f4f4;
  padding: 4px;
}

div.highlighter-rouge {
  padding: 16px 24px;
  background-color: #f4f4f4;
  /* width: 100%; */
  overflow-x: scroll;
}

.highlighter-rouge .highlight {
  background-color: #f4f4f4;
}

.site-content {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.navbar {
  background: var(--color-theme-gradient);
  background-color: var(--color-theme-main);
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  box-shadow: var(--theme-shadow);
}

.navbar.no-color {
  background: transparent;
  box-shadow: none;
}

.navbar-logo {
  flex-grow: 1;
  display: flex;
}

.navbar-logo a {
  font-size: 1.5em;
  font-weight: 700;
  font-family: var(--heading-font-family);
  color: white;
  text-decoration: none;
}

.navbar-links {
  display: inline-flex;
}

.navbar-mobile-links {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 0;
}

.navbar-links a {
  color: white;
  font-family: var(--text-font-family);
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: color 0.25s;
}

.navbar-mobile-links a {
  width: 100%;
  color: white;
  font-family: var(--text-font-family);
  text-decoration: none;
  padding-left: auto;
  padding-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: color 0.25s;
}

.navbar-links a:hover {
  color: var(--color-theme-main-gradient);
  transition: color 0.25s;
}

.navbar-button {
  display: none;
  margin-left: -10px;
}

.jumbo-bg {
  background: var(--color-theme-gradient);
  background-color: var(--color-theme-main);
}

.jumbo {
  display: grid;
  grid-template-columns: 45% 55%;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.jumbo.mini {
  padding-top: 4%;
  padding-bottom: 4%;
}

.jumbo-title {
  font-family: var(--heading-font-family);
  font-size: 2.85em;
  margin: 0;
  padding: 0;
}

.jumbo-detail {
  font-size: 1.05em;
  line-height: 1.55em;
}

.jumbo-button {
  background-color: var(--color-theme-secondary);
  color: white;
  padding: 8px 32px;
  border-radius: 2px;
  box-shadow: var(--theme-shadow);
  font-weight: 700;
  font-size: 1.15em;
  text-transform: uppercase;
  transition: background-color 0.1s;
}

.jumbo-text {
  padding-right: 12px;
}

.jumbo-img {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.jumbo-img img {
  width: 100%;
}

.jumbo-button:hover {
  background-color: #ff8a80;
  transition: background-color 0.1s;
}

.mastodon-font {
  color: #2b90d9;
}

.post-list-item {
  margin: 24px 0;
  padding: 24px 32px;
  box-shadow: var(--theme-shadow);
}

.post-list-button {
  background-color: #e4e4e4;
  color: black;
  padding: 8px 28px;
  border-radius: 2px;
  /* box-shadow: var(--theme-shadow); */
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.1s;
}

.post-list-button:hover {
  background-color: #f4f4f4;
}

.post-head {
  background-image: url("../images/post.jpg");
  background-color: var(--color-theme-main);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 10%;
  color: white;
}

.post-section-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr;
  padding-top: 12px;
  padding-bottom: 12px;
}

.post-section-content {
  grid-column-start: 1;
  grid-column-end: 9;
  line-height: 2;
  font-size: 1.15em;
}

.post-section-content img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: var(--theme-shadow);
}

.post-section-author {
  grid-column-start: 10;
  grid-column-end: 12;
  text-align: center;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  flex-grow: 1;
}

.content.full-width {
  padding-left: 0;
  padding-right: 0;
}

.content .section {
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.5em;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature-grid-element p {
  font-size: 1.15em;
  line-height: 1.5em;
}

.feature-grid-image {
  width: 100%;
  text-align: center;
}

.feature-grid-image img {
  width: 100%;
}

.team-member-name {
  font-family: var(--heading-font-family);
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.team-member-image {
  width: 176px;
  height: 176px;
  box-shadow: var(--theme-shadow);
  border-radius: 50%;
  padding: 8px;
  margin: 8px;
}

.post-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.plist-card {
  box-shadow: var(--theme-shadow);
  margin: 4px;
  text-align: center;
  border-radius: 4px;
  color: black;
  height: 100%;
  transition: box-shadow 0.25s;
}

.plist-card:hover {
  box-shadow: var(--theme-shadow-big);
  transition: box-shadow 0.25s;
}

.plist-background {
  background-color: var(--color-theme-main);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.plist-image {
  width: 128px;
  background-color: white;
  box-shadow: var(--theme-shadow);
  border-radius: 50%;
  padding: 8px;
  margin: 8px;
  transform: translateY(50%);
}

.plist-content {
  padding-top: 64px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.doc {
  display: flex;
  flex-direction: row;
}

.doc-list {
  max-width: 30%;
  width: 100%;
  border-color: #999999;
  border-width: 1px;
  border-right-style: solid;
}

.doc-list-entry {
  padding: 6px 10px;
  padding-left: 24px;
  border-top-color: #999999;
  border-top-style: solid;
  border-width: 1px;
}

.doc-list-entry h3 {
  margin: 8px 0;
}

.doc-list:first-child {
  border-top-style: none;
}

/* .doc-list:last-child, .doc-list:nth-last-child(2) {
  border-bottom-color: #999999;
  border-bottom-style: solid;
} */

.doc-head {
  background-color: var(--color-theme-main);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
}

.doc-title {
  font-size: 2.5em;
  text-shadow: var(--theme-shadow);
}

.doc-title-separator {
  border-color: #999999;
  border-style: dashed;
  margin: 8px auto;
  border-width: 0.25px;
}

.doc-search-bar {
  padding: 10px;
}

.doc-search-bar form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  outline: none;
  padding: 10px 14px;
  border-color: #999999;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 1em;
  transition: all 0.25s;
}

input[type="text"]:focus {
  border-color: var(--color-theme-secondary);
  /* padding: 14px 18px; */
  transition: all 0.25s;
}

.doc-search-bar input[type="submit"] {
  display: none;
}

.doc-section {
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
}

.doc-section img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: var(--theme-shadow);
}

.footer {
  background-color: #333333;
  color: white;
  padding-top: 8px;
  margin-top: 32px;
}

.footer a {
  text-decoration: none;
  color: white;
  transition: color 0.25s;
}

.footer a:hover {
  color: var(--color-theme-secondary);
  transition: color 0.25s;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer-segment {
  padding-left: 6px;
  padding-right: 6px;
}

.footer-copyright {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #212121;
  font-size: 0.75em;
}

@media (max-width: 768px) {
  .navbar {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar-logo {
    flex-grow: 0;
  }

  .navbar-links {
    display: none;
  }

  .navbar-button {
    display: block;
    background-color: transparent;
    color: white;
    outline: none;
    border-style: none;
    font-size: 1.05em;
  }

  .jumbo {
    grid-template-columns: repeat(1, 1fr);
  }

  .jumbo-img {
    padding-top: 32px;
  }

  .jumbo-title {
    font-size: 2em;
  }

  .doc {
    flex-direction: column-reverse;
  }

  .doc-section {
    padding: 16px;
  }

  .doc-list {
    max-width: 100%;
    border-right-style: none;
    border-top-style: solid;
  }

  .post-list-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .post-section-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .post-section-content,
  .post-section-author {
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .feature-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-member-image {
    width: 96px;
    height: 96px;
  }

  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .footer-segment {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .footer-copyright {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.65em;
  }
}
