.m_RoomView_auxPanel_stateViews {
    padding: 5px;
    padding-left: 19px;
    border-bottom: 1px solid $primary-hairline-color;
}

.m_RoomView_auxPanel_stateViews_span a {
    text-decoration: none;
    color: inherit;
}

.m_RoomView_auxPanel_stateViews_span[data-severity=warning] {
    font-weight: bold;
    color: orange;
}

.m_RoomView_auxPanel_stateViews_span[data-severity=alert] {
    font-weight: bold;
    color: red;
}

.m_RoomView_auxPanel_stateViews_span[data-severity=normal] {
    font-weight: normal;
}

.m_RoomView_auxPanel_stateViews_span[data-severity=notice] {
    font-weight: normal;
    color: $settings-grey-fg-color;
}

.m_RoomView_auxPanel_stateViews_delim {
    padding: 0 5px;
    color: $settings-grey-fg-color;
}
