.mx_BasicMessageComposer {
    position: relative;

    .mx_BasicMessageComposer_inputEmpty > :first-child::before {
        content: var(--placeholder);
        opacity: 0.333;
        width: 0;
        height: 0;
        overflow: visible;
        display: inline-block;
        pointer-events: none;
        white-space: nowrap;
    }

    @keyframes visualbell {
        from { background-color: $visual-bell-bg-color; }
        to { background-color: $background; }
    }

    &.mx_BasicMessageComposer_input_error {
        animation: 0.2s visualbell;
    }

    .mx_BasicMessageComposer_input {
        white-space: pre-wrap;
        word-wrap: break-word;
        outline: none;
        overflow-x: hidden;

        &.mx_BasicMessageComposer_input_shouldShowPillAvatar {
            span.mx_UserPill, span.mx_RoomPill {
                position: relative;

                // avatar psuedo element
                &::before {
                    content: var(--avatar-letter);
                    width: $font-16px;
                    height: $font-16px;
                    margin-right: 0.24rem;
                    background: var(--avatar-background), $avatar-bg-color;
                    color: $avatar-initial-color;
                    background-repeat: no-repeat;
                    background-size: $font-16px;
                    border-radius: $font-16px;
                    text-align: center;
                    font-weight: normal;
                    line-height: $font-16px;
                    font-size: $font-10-4px;
                }
            }

            span.mx_UserPill {
                cursor: pointer;
            }

            span.mx_RoomPill {
                cursor: default;
            }
        }

        &.mx_BasicMessageComposer_input_disabled {
            // Ignore all user input to avoid accidentally triggering the composer
            pointer-events: none;
        }
    }

    .mx_BasicMessageComposer_AutoCompleteWrapper {
        position: relative;
        height: 0;
    }
}
