$left-gutter: 54px;

.sc_BubbleLayout {
    // ---- Overrides ----

    .mx_RoomView_MessageList {
        padding-bottom: 8px;
        padding-right: 10px;
    }

    .mx_RoomTile {
        .mx_RoomTile_nameContainer {
            .mx_RoomTile_name,
            .mx_RoomTile_messagePreview {
                margin: 2px 2px;
            }
        }
    }

    li > .mx_DateSeparator {
        margin: 7px 0px 1px 0px;
    }

    .mx_LinkPreviewWidget {
        margin-bottom: 0px;
    }

    .mx_LinkPreviewGroup > .mx_AccessibleButton {
        margin-top: 8px;
        margin-bottom: -$font-18px; // make timestamp fit on the same line
    }

    .mx_EventTile {
        // no reserved space for read receipts required.
        padding-top: 6px;
        position: relative;
        font-size: $font-14px;

        &.mx_EventTile_info {
            padding-top: 0px;

            .mx_EventTile_avatar {
                left: $left-gutter;
            }
        }

        > .mx_SenderProfile {
            line-height: $font-17px;
            padding-left: $left-gutter;
            max-width: unset !important;
        }

        > .mx_EventTile_line {
            padding-left: $left-gutter !important;
            border-left: none !important;
            background: transparent !important;
            margin-right: unset;
        }

        > .mx_EventTile_avatar {
            position: absolute;
        }

        .mx_EventTile_line, .mx_EventTile_reply {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: $left-gutter;
            line-height: $font-22px;
            min-height: $font-22px;
        }
    }

    .mx_EventTile_continuation {
        padding-top: 0 !important;
    }

    .mx_EventTile_line, .mx_EventTile_reply {
        padding-left: $left-gutter;
    }

    .mx_EventListSummary {
        // For toggle
        position: relative;

        // Consistence with other bubbles
        .mx_EventTile {
            padding-top: 0;
        }
        .sc_EventTile_bubbleLine_info {
            margin-top: 6px;
        }

        .mx_EventTile_line {
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .sc_EventTile_bubbleArea_info {
            // For toggle
            max-width: 72rem;
        }
    }

    .mx_EventListSummary_toggle {
        // ToDo: Find better way to not crash bubble on small width screens
        float: unset;
        position: absolute;
        right: 10px;
        margin-right: 0;
        z-index: 1;
    }

    .mx_EventTile_info .mx_EventTile_line {
        padding-left: calc($left-gutter + 18px) !important;
        max-width: max-content;

        .mx_MessageActionBar {
            top: -21px; // counteract padding: 24-3
        }
    }

    .mx_SenderProfile {
        text-align: left;
        font-size: $font-15px;
    }

    .mx_EventTile_selected > div > a > .mx_MessageTimestamp {
        left: 0px;
        width: 46px;
    }

    .mx_EventTile_msgOption {
        float: unset;
        text-align: unset;
        position: unset;

        margin-left: 8px;
        margin-right: unset;

        /* Hack to stop the height of this pushing the messages apart.
           Replaces margin-top: -6px. This interacts better with a read
           marker being in between. Content overflows. */
        // SC: Reserve our space
        height: 14px;
        margin-top: 6px;
        margin-bottom: 6px;

        // stop read avatars overflowing
        width: 100%;

        &.sc_readReceipts_empty {
            height: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .mx_EventTile_bubbleContainer .mx_EventTile_msgOption {
        grid-column: unset; // show read avatara like always
    }

    .mx_EventTile_readAvatars {
        // SC-TODO align left below msg area
        //top: 29px;
        top: 0;

        // stop read avatars overflowing
        width: 100%;
        height: 22px;
        overflow-x: scroll;
        overflow-y: hidden;
        z-index: 0; // let message action bar not jump away
    }

    .mx_EventTile_readAvatarRemainder {
        height: 14px;
    }

    .mx_EventTile_content {
        // Handled by bubble
        margin-right: unset;

        .markdown-body {
            p, ul, ol, dl, blockquote, pre, table {
                margin-bottom: 8px;
            }

            blockquote > :last-child {
                margin-bottom: 0;
            }
        }
    }

    // No unnecessary horizontal scrolling of code blocks
    .markdown-body {
        pre {
            padding-left: calc(16px + 1em);

            .mx_EventTile_lineNumber {
                padding-left: 0;
            }
        }
    }

    // Explicit relationships so that it doesn't apply to nested EventTile components (e.g in Replies)
    .mx_EventTile:hover.mx_EventTile_verified .mx_EventTile_line > a > .mx_MessageTimestamp,
    .mx_EventTile:hover.mx_EventTile_unverified .mx_EventTile_line > a > .mx_MessageTimestamp,
    .mx_EventTile:hover.mx_EventTile_unknown .mx_EventTile_line > a > .mx_MessageTimestamp {
        left: 5px;
    }

    .mx_EventTile_isEditing {
        background-color: transparent;
    }

    .mx_EditMessageComposer {
        margin: 0;
        padding: 0;

        .mx_EditMessageComposer_buttons {
            position: unset;
            margin: 0;
            margin-left: auto;
            padding: 0;
            padding-top: 10px;
            max-width: 100%;
            background: transparent;
            flex-wrap: wrap;

            .mx_AccessibleButton {
                padding: 5px 0;
                width: 11em;
                max-width: 100%;
            }
        }
    }

    .mx_BasicMessageComposer {
        max-width: 100%;
    }

    // blockquote.mx_ReplyThread {
    //     margin-bottom: 10px;
    // }

    .mx_ReplyThread, .mx_ReplyPreview {
        // padding-top: 2px;

        .mx_EventTile_avatar {
            top: 4px !important;
        }

        .mx_MessageTimestamp {
            top: 4px !important;
        }

        .mx_MImageBody_thumbnail_container {
            border: 1px solid $event-timestamp-color !important;
            border-radius: $border-radius-4px;
            overflow: hidden;
        }

        .sc_MVideoBody_video_container {
            border-color: $event-timestamp-color !important;
        }
    }

    .mx_MNoticeBody {
        opacity: unset;
    }

    .mx_MessageActionBar {
        left: unset;
        right: 0px;
        top: -36px;
    }

    // ToDo: These break on small width
    .mx_MFileBody_info, .mx_MediaBody.mx_AudioPlayer_container {
        display: inline-block;
    }
    .mx_MediaBody.mx_VoiceMessagePrimaryContainer {
        display: inline-flex;
        contain: paint;
    }

    .sc_LinkedTimestamp {
        // Get rid of underline with custom themes
        text-decoration: none;
    }


    .mx_MessageTimestamp {
        position: absolute;
        width: 46px; /* 8 + 30 (avatar) + 8 */
    }

    .mx_ReactionsRow {
        margin-right: -6px;
        display: flex;
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;

        margin-top: 0;
        > * {
            margin-top: 6px;
        }

        .mx_ReactionsRow_addReactionButton {
            margin-left: unset;

            &::before {
                left: 0;
            }
        }
    }

    a.mx_Pill {
        max-width: 100%;
    }

    .sc_MImageBody_container {
        position: relative;
    }

    .mx_MImageBody {
        margin-right: 0;
        position: relative;
        max-width: 600px;
        overflow: hidden;
        border-radius: $border-radius-4px;

        .mx_MFileBody_download {
            display: none;
        }

        .sc_PlaceholderTimestamp {
            display: none;
        }

        .mx_MessageTimestamp {
            visibility: visible !important;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            left: unset;
            right: 0;
            top: unset;
            bottom: 0;
            border-top-left-radius: $border-radius-4px;
            font-size: 0.85em;
            padding: 6px 9px;
            width: unset;
            line-height: 1;
        }
    }

    .mx_MImageBody_thumbnail {
        border-radius: unset;
    }

    .mx_MImageBody, .sc_MVideoBody_video_container {
        box-sizing: border-box;
        border: 1px solid $message-bubble-background;
    }

    .mx_MStickerBody_wrapper {
        padding: 0;
    }

    span.mx_MVideoBody {
        display: block;
        max-width: 600px;
        position: relative;
        text-align: right;

        video.mx_MVideoBody {
            display: block;
            width: auto;
            max-height: 600px;
            max-width: 100%;
            border-radius: unset;
        }

        .mx_MFileBody {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
        }

        .mx_MFileBody_download {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .sc_PlaceholderTimestamp {
            display: none;
        }

        .sc_LinkedTimestamp {
            margin-left: 1rem;

            .mx_MessageTimestamp {
                visibility: visible !important;
                position: unset !important;
                width: unset !important;
                font-size: 0.85em;
                line-height: 1;
            }
        }
    }

    .sc_MVideoBody_video_container {
        display: block;
        border-radius: $border-radius-4px;
        overflow: hidden;
    }

    // ---- Bubble specific ----

    .mx_EventTile > .sc_EventTile_bubbleLine_info {
        padding-left: 0 !important;
    }

    .mx_EventTile .sc_EventTile_bubbleLine_info {
        line-height: unset;
    }

    .mx_EventListSummary .sc_EventTile_bubbleLine_info {
        // ToDo: Find better way to not crash bubble with toggle on small width screens
        // padding-left: 110px;
        padding-left: 0;
        margin-right: 0;
    }

    .sc_EventTile_bubbleContainer {
        > .mx_EventTile_avatar {
            top: 9px;
            left: 8px;
        }
    }

    .mx_EventTile_e2eIcon {
        display: none !important;
    }

    // .sc_EventTile_bubbleLine {
    //     .mx_EventTile_e2eIcon {
    //         left: 16px;

    //         .sc_EventTile_bubbleTailLeftContainer & {
    //             top: 35px;
    //         }
    //     }
    // }

    .sc_EventTile_bubbleArea {
        // No full width for both-side bubbles only
        width: 84%;
        max-width: 88rem;
        padding: 0px;
        margin-bottom: 0;
    }

    .sc_EventTile_bubbleArea_left {
        margin-left: 0px;
        margin-right: auto;
        text-align: left;
    }

    .sc_EventTile_bubble {
        background-color: $message-bubble-background;
        padding: 7px 10px;
        border-radius: $border-radius-4px;
        //margin: 10px auto;
        max-width: max-content;
        // Min width: respect/"hide" bubble tail
        min-width: 20px;
        position: relative;
        //box-sizing: content-box;
        //display: flex;
        //flex-wrap: wrap;

        // Don't inherit bubbleArea alignment
        text-align: start;

        // ToDo: make the tail some sort of absolutely positioned rotated cutout
        &.sc_EventTile_bubble_tail::before {
            content: '';
            border: 16px solid transparent;
            border-top-color: $message-bubble-background;
            border-bottom: 0;
            position: absolute;
            top: 0;
            z-index: -1; // bring the tail behind the bubble
        }

        > .mx_SenderProfile {
            // Sender-profile within bubble
            max-width: 100%;
            margin-bottom: 4px;
            display: block;
        }

        .mx_ReplyThread_wrapper {
            margin-top: 3px;
        }

        > *:not(.mx_ReplyThread_wrapper) {
            .markdown-body > blockquote {
                margin-top: 3px !important;
            }

            .markdown-body > .mx_EventTile_pre_container:last-child {
                pre {
                    margin-bottom: 0;
                }
            }

            .markdown-body > p:last-child {
                display: inline;
            }

            // ToDo: Find a way to have this not break if plain text follows after
            // .markdown-body > blockquote:last-child {
            //     display: inline-block;
            //     max-width: 100%;
            // }

            .sc_PlaceholderTimestamp {
                display: inline-flex;
                margin-inline-start: .7em;

                // don't add additional height
                height: 0;
                overflow-y: hidden;

                .mx_MessageTimestamp {
                    visibility: visible !important;
                    position: unset;
                    width: unset;
                    text-align: unset;
                    display: inline;
                    font-size: 0.85em;
                }

                &:dir(rtl) {
                    display: block;
                    margin-inline-start: unset;
                }
            }

            .sc_LinkedTimestamp {
                position: absolute;
                inset-block-end: 4px;
                inset-inline-end: 10px;

                .mx_MessageTimestamp {
                    visibility: visible !important;
                    position: unset;
                    text-align: unset;
                    display: inline;
                    font-size: 0.85em;
                }

                &:dir(rtl) {
                    position: absolute;
                    display: block;
                    inset-inline-end: unset;
                    right: 10px;
                }
            }
        }
    }

    .sc_EventTile_bubble_left {
        margin-left: 0px;
        margin-right: auto;

        &.sc_EventTile_bubble_tail::before {
            left: -8px;
        }
    }

    .sc_EventTile_bubbleArea_right {
        margin-right: 16px;
        margin-left: auto;
        text-align: right;

        .mx_ReactionsRow {
            justify-content: right;
            flex-direction: row-reverse;

            .mx_ReactionsRow_addReactionButton {
                margin-left: unset;
                margin-right: 6px;
            }

            .mx_ReactionsRow_showAll {
                margin-left: -4px;
                margin-right: 10px;
            }
        }
    }

    .sc_EventTile_bubble_right {
        margin-right: 0px;
        margin-left: auto;

        &.sc_EventTile_bubble_tail::before {
            right: -8px;
        }
    }

    .sc_EventTile_bubble_self {
        &:not(.sc_EventTile_bubble_media) {
            background-color: $message-bubble-background-self;

            &.sc_EventTile_bubble_tail::before {
                border-top-color: $message-bubble-background-self;
            }
        }

        .mx_MImageBody, span.mx_MVideoBody video.mx_MVideoBody {
            border-color: $message-bubble-background-self;
        }
    }

    .sc_EventTile_bubbleArea_center {
        margin-left: auto;
        margin-right: auto;
    }

    .sc_EventTile_bubble_center {
        margin-left: auto;
        margin-right: auto;
    }

    .sc_EventTile_bubbleArea_info {
        width: 76%;
    }

    .sc_EventTile_bubble_info {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            box-shadow: inset 0px 0px 0px 1px $roomtopic-color;
            opacity: 0.15;
            border-radius: $border-radius-4px;
        }

        text-align: center;
        background: transparent;

        .mx_EventTileBubble {
            background-color: transparent;
            padding: 0;
            margin: 0;
            max-width: unset;
            text-align: start;

            &::before, &::after {
                margin-top: 1px;
            }

            .mx_EventTileBubble_title {
                opacity: 0.8;
            }
        }

        .mx_EventTile_avatar {
            display: inline;
            position: unset;

            &:after {
                content: "\00a0";
            }
        }

        .mx_BaseAvatar {
            display: inline-flex;
            vertical-align: middle;
            margin-top: -2px;
        }

        .mx_EventListSummary_avatars {
            padding-top: unset;
        }

        .mx_TextualEvent, .mx_RoomAvatarEvent {
            display: inline;
            opacity: 0.8;
        }

        .mx_RoomAvatarEvent_avatar {
            top: unset;
        }
    }

    .mx_CallEvent_wrapper {
        padding: 2px 0;

        .mx_CallEvent {
            &.mx_CallEvent_narrow {
                width: 100%;

                .mx_CallEvent_info {
                    margin-top: 8px;
                }

                .mx_CallEvent_content {
                    margin-bottom: 6px;
                }
            }
        }
    }

    .mx_CallEvent {
        background-color: transparent;
        padding: 0;
        margin: 0;
        border-radius: unset;
        width: 100%;
        max-width: unset;
        height: unset;

        .mx_CallEvent_info {
            margin-left: unset;

            .mx_BaseAvatar {
                margin-top: unset;
            }

            .mx_CallEvent_info_basic {
                text-align: left;

                .mx_CallEvent_sender {
                    opacity: 0.8;
                }
            }
        }

        .mx_CallEvent_content {
            margin-right: unset;
            margin-left: 16px;
        }
    }

    .sc_EventTile_bubble_notice {
        opacity: 0.6;
    }

    .sc_EventTile_bubble_media {
        max-width: max-content;
        position: relative;

        &.sc_EventTile_bubble_right {
            margin-left: auto;

            > * {
                margin-left: auto;
            }

            .mx_MImageBody_thumbnail {
                left: unset;
                right: 0;
            }
        }

        // maybe:
        // & + .mx_ReactionsRow {
        //     margin-top: 0;
        //     margin-bottom: 0;
        // }
    }

    .sc_EventTile_bubble_sticker {
        .mx_MImageBody {
            border: none;

            .mx_MessageTimestamp {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .mx_EventTile_selected {
        .sc_EventTile_bubble {
            background: $message-bubble-background-selected;

            &.sc_EventTile_bubble_tail::before {
                border-top-color: $message-bubble-background-selected;
            }
        }

        .sc_EventTile_bubble_media {
            > .mx_MImageBody {
                background: $accent-color;

                .mx_MImageBody_thumbnail {
                    opacity: 0.7;
                }
            }

            > span.mx_MVideoBody {
                .sc_MVideoBody_video_container {
                    background: $accent-color;
                    border-radius: $border-radius-4px;
                    display: block;
                }

                video.mx_MVideoBody {
                    opacity: 0.7;
                }
            }
        }
    }

    .mx_NewRoomIntro {
        margin-left: $left-gutter;
        margin-right: $left-gutter;
        text-align: center;

        .mx_MiniAvatarUploader {
            margin-left: auto;
            margin-right: auto;
        }

        // ToDo: Wrap this somehow into the real bubble layout
        .mx_EventTileBubble {
            text-align: start;
            background-color: transparent;
            box-shadow: inset 0px 0px 0px 1px rgba($roomtopic-color, 0.15);
            text-align: start;
            margin-bottom: 3rem;

            &::before, &::after {
                margin-top: 1px;
            }

            .mx_EventTileBubble_title {
                opacity: 0.8;
            }
        }
    }

    // single side bubbles overrides
    &.sc_BubbleLayout_singleSide {
        .sc_EventTile_bubbleArea {
            width: calc(100% - 16px);
            max-width: unset;
        }

        .sc_EventTile_bubbleArea_info {
            width: 80%;
            max-width: 72rem;
        }

        .sc_EventTile_bubbleLine {
            max-width: 104rem;
        }

        .mx_NewRoomIntro {
            max-width: calc(104rem - $left-gutter);
        }

        .sc_EventTile_bubbleLine_info, .mx_DateSeparator, .mx_EventListSummary,
        .mx_RoomView_MessageList > li > .mx_Spinner {
            max-width: calc($left-gutter + 104rem);
        }
    }
}

/* Compact layout overrides */

// .mx_MatrixChat_useCompactLayout {
//     .sc_BubbleLayout {
//         // nothing (yet?)
//         // ToDo: figure out if there is a useful way to make it more compact
//         // maybe reduce text line-height and some paddings and margins
//     }
// }
