.mx_EditMessageComposer {

    padding: 3px;
    // this is to try not make the text move but still have some
    // padding around and in the editor.
    // Actual values from fiddling around in inspector
    margin: -7px -10px -5px -10px;
    overflow: visible !important;   // override mx_EventTile_content


    .mx_BasicMessageComposer_input {
        border-radius: $border-radius-4px;
        border: solid 1px $primary-hairline-color;
        background-color: $background;
        max-height: 200px;
        padding: 3px 6px;

        &:focus {
            border-color: $accent-color-50pct;
        }
    }

    .mx_EditMessageComposer_buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 5px;
        position: absolute;
        left: 0;
        background: $header-panel-bg-color;
        z-index: 100;
        right: 0;
        margin: 0 -110px 0 0;
        padding-right: 147px;

        .mx_AccessibleButton {
            margin-left: 5px;
            padding: 5px 40px;
        }
    }
}

.mx_EventTile_last .mx_EditMessageComposer_buttons {
    position: static;
    margin-right: -147px;
}
