$left-gutter: 64px;
$hover-select-border: 4px;

.mx_EventTile:not([data-layout=bubble]) {
    max-width: 100%;
    clear: both;
    padding-top: 18px;
    font-size: $font-14px;
    position: relative;

    &.mx_EventTile_info {
        padding-top: 1px;
    }

    .mx_EventTile_avatar {
        top: 14px;
        left: 8px;
        cursor: pointer;
        user-select: none;
    }

    &.mx_EventTile_info .mx_EventTile_avatar {
        top: $font-6px;
        left: $left-gutter;
    }

    &.mx_EventTile_continuation {
        padding-top: 0px !important;

        &.mx_EventTile_isEditing {
            padding-top: 5px !important;
            margin-top: -5px;
        }
    }

    &.mx_EventTile_isEditing {
        background-color: $header-panel-bg-color;
    }

    .mx_SenderProfile {
        color: $primary-content;
        font-size: $font-14px;
        display: inline-block; /* anti-zalgo, with overflow hidden */
        overflow: hidden;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: 0px;
        /* the next three lines, along with overflow hidden, truncate long display names */
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - $left-gutter);
    }

    .mx_SenderProfile .mx_Flair {
        opacity: 0.7;
        margin-left: 5px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        user-select: none;

        img {
            vertical-align: -2px;
            margin-right: 2px;
            border-radius: 8px;
        }
    }

    .mx_ReplyTile {
        .mx_SenderProfile {
            margin-bottom: $font-2px;
        }
    }

    &.mx_EventTile_isEditing .mx_MessageTimestamp {
        visibility: hidden;
    }

    .mx_MessageTimestamp {
        display: block;
        white-space: nowrap;
        left: 0px;
        text-align: center;
        user-select: none;
    }

    &.mx_EventTile_continuation .mx_EventTile_line {
        clear: both;
    }

    .mx_EventTile_line, .mx_EventTile_reply {
        position: relative;
        padding-left: $left-gutter;
        border-radius: $border-radius-8px;
    }

    .mx_EventTile_reply {
        margin-right: 10px;
    }

    &.mx_EventTile_selected > div > a > .mx_MessageTimestamp {
        left: calc(-$hover-select-border);
    }

    /* this is used for the tile for the event which is selected via the URL.
     * TODO: ultimately we probably want some transition on here.
     */
    &.mx_EventTile_selected > .mx_EventTile_line {
        border-left: $accent-color 4px solid;
        padding-left: calc($left-gutter - $hover-select-border);
        background-color: $event-selected-color;
    }

    &.mx_EventTile_highlight,
    &.mx_EventTile_highlight .markdown-body {
        color: $event-highlight-fg-color;

        .mx_EventTile_line {
            background-color: $event-highlight-bg-color;
        }
    }

    &.mx_EventTile_selected.mx_EventTile_info .mx_EventTile_line {
        padding-left: calc($left-gutter + 18px - $hover-select-border);
    }

    &.mx_EventTile:hover .mx_EventTile_line,
    &.mx_EventTile.mx_EventTile_actionBarFocused .mx_EventTile_line,
    &.mx_EventTile.focus-visible:focus-within .mx_EventTile_line {
        background-color: $event-selected-color;
    }

    .mx_EventTile_searchHighlight {
        background-color: $accent-color;
        color: $accent-fg-color;
        border-radius: $border-radius-5px;
        padding-left: 2px;
        padding-right: 2px;
        cursor: pointer;
    }

    .mx_EventTile_searchHighlight a {
        background-color: $accent-color;
        color: $accent-fg-color;
    }

    .mx_EventTile_receiptSent,
    .mx_EventTile_receiptSending {
        // We don't use `position: relative` on the element because then it won't line
        // up with the other read receipts

        &::before {
            background-color: $tertiary-content;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: 14px;
            width: 14px;
            height: 14px;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
    .mx_EventTile_receiptSent::before {
        mask-image: url('$(res)/img/element-icons/circle-sent.svg');
    }
    .mx_EventTile_receiptSending::before {
        mask-image: url('$(res)/img/element-icons/circle-sending.svg');
    }

    &.mx_EventTile_contextual {
        opacity: 0.4;
    }

    .mx_EventTile_msgOption {
        float: right;
        text-align: right;
        position: relative;
        width: 90px;

        /* Hack to stop the height of this pushing the messages apart.
           Replaces margin-top: -6px. This interacts better with a read
           marker being in between. Content overflows. */
        height: 1px;

        margin-right: 10px;
    }

    .mx_EventTile_msgOption a {
        text-decoration: none;
    }

    /* De-zalgoing */
    .mx_EventTile_body {
        overflow-y: hidden;
    }

    &:hover.mx_EventTile_verified .mx_EventTile_line,
    &:hover.mx_EventTile_unverified .mx_EventTile_line,
    &:hover.mx_EventTile_unknown .mx_EventTile_line {
        padding-left: calc($left-gutter - $hover-select-border);
    }

    &:hover.mx_EventTile_verified .mx_EventTile_line {
        border-left: $e2e-verified-color $EventTile_e2e_state_indicator_width solid;
    }

    &:hover.mx_EventTile_unverified .mx_EventTile_line {
        border-left: $e2e-unverified-color $EventTile_e2e_state_indicator_width solid;
    }

    &:hover.mx_EventTile_unknown .mx_EventTile_line {
        border-left: $e2e-unknown-color $EventTile_e2e_state_indicator_width solid;
    }

    &:hover.mx_EventTile_verified.mx_EventTile_info .mx_EventTile_line,
    &:hover.mx_EventTile_unverified.mx_EventTile_info .mx_EventTile_line,
    &:hover.mx_EventTile_unknown.mx_EventTile_info .mx_EventTile_line {
        padding-left: calc($left-gutter + 18px - $hover-select-border);
    }

    /* End to end encryption stuff */
    &:hover .mx_EventTile_e2eIcon {
        opacity: 1;
    }

    // Explicit relationships so that it doesn't apply to nested EventTile components (e.g in Replies)
    &:hover.mx_EventTile_verified .mx_EventTile_line > a > .mx_MessageTimestamp,
    &:hover.mx_EventTile_unverified .mx_EventTile_line > a > .mx_MessageTimestamp,
    &:hover.mx_EventTile_unknown .mx_EventTile_line > a > .mx_MessageTimestamp {
        left: calc(-$hover-select-border);
    }

    // Explicit relationships so that it doesn't apply to nested EventTile components (e.g in Replies)
    &:hover.mx_EventTile_verified .mx_EventTile_line > .mx_EventTile_e2eIcon,
    &:hover.mx_EventTile_unverified .mx_EventTile_line > .mx_EventTile_e2eIcon,
    &:hover.mx_EventTile_unknown .mx_EventTile_line > .mx_EventTile_e2eIcon {
        display: block;
        left: 41px;
    }

    .mx_MImageBody {
        margin-right: 34px;
    }

    .mx_EventTile_e2eIcon {
        position: absolute;
        top: 6px;
        left: 44px;
        bottom: 0;
        right: 0;
    }

    .mx_ReactionsRow {
        margin: 0;
        padding: 4px 64px;
    }
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_info .mx_EventTile_line,
.mx_EventListSummary:not([data-layout=bubble]) > :not(.mx_EventTile) .mx_EventTile_avatar ~ .mx_EventTile_line {
    padding-left: calc($left-gutter + 18px);
}

.mx_EventListSummary:not([data-layout=bubble]) .mx_EventTile_line {
    padding-left: calc($left-gutter);
}

/* all the overflow-y: hidden; are to trap Zalgos -
   but they introduce an implicit overflow-x: auto.
   so make that explicitly hidden too to avoid random
   horizontal scrollbars occasionally appearing, like in
   https://github.com/vector-im/vector-web/issues/1154 */
.mx_EventTile_content {
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 34px;
}

/* Spoiler stuff */
.mx_EventTile_spoiler {
    cursor: pointer;
}

.mx_EventTile_spoiler_reason {
    color: $event-timestamp-color;
    font-size: $font-11px;
}

.mx_EventTile_spoiler_content {
    filter: blur(5px) saturate(0.1) sepia(1);
    transition-duration: 0.5s;
}

.mx_EventTile_spoiler.visible > .mx_EventTile_spoiler_content {
    filter: none;
}

.mx_RoomView_timeline_rr_enabled {
    .mx_EventTile[data-layout=group] {
        .mx_EventTile_line {
            /* ideally should be 100px, but 95px gives us a max thumbnail size of 800x600, which is nice */
            margin-right: 110px;
        }
    }
    // on ELS we need the margin to allow interaction with the expand/collapse button which is normally in the RR gutter
}

.mx_SenderProfile {
    cursor: pointer;
}

.mx_EventTile_bubbleContainer {
    display: grid;
    grid-template-columns: 1fr 100px;

    .mx_EventTile_line {
        margin-right: 0;
        grid-column: 1 / 3;
        // override default padding of mx_EventTile_line so that we can be centered
        padding: 0 !important;
    }

    .mx_EventTile_msgOption {
        grid-column: 2;
    }

    &:hover {
        .mx_EventTile_line {
            // To avoid bubble events being highlighted
            background-color: inherit !important;
        }
    }
}

.mx_EventTile_readAvatars {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    // This aligns the avatar with the last line of the
    // message. We want to move it one line up - 2.2rem
    top: -2.2rem;
    user-select: none;
    z-index: 1;
}

.mx_EventTile_readAvatars .mx_BaseAvatar {
    position: absolute;
    display: inline-block;
    height: $font-14px;
    width: $font-14px;

    will-change: left, top;
    transition:
        left var(--transition-short) ease-out,
        top var(--transition-standard) ease-out;
}

.mx_EventTile_readAvatarRemainder {
    color: $event-timestamp-color;
    font-size: $font-11px;
    position: absolute;
}

/* HACK to override line-height which is already marked important elsewhere */
.mx_EventTile_bigEmoji.mx_EventTile_bigEmoji {
    font-size: 48px !important;
    line-height: 57px !important;
}

.mx_EventTile_content .mx_EventTile_edited {
    user-select: none;
    font-size: $font-12px;
    color: $roomtopic-color;
    display: inline-block;
    margin-left: 9px;
    cursor: pointer;
}


.mx_EventTile_e2eIcon {
    position: relative;
    width: 14px;
    height: 14px;
    display: block;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: contain;

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
    }

    &::before {
        background-color: #ffffff;
        mask-image: url('$(res)/img/e2e/normal.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 80%;
    }
}

.mx_EventTile_e2eIcon_undecryptable, .mx_EventTile_e2eIcon_unverified {
    &::after {
        mask-image: url('$(res)/img/e2e/warning.svg');
        background-color: $notice-primary-color;
    }
    opacity: 1;
}

.mx_EventTile_e2eIcon_unknown {
    &::after {
        mask-image: url('$(res)/img/e2e/warning.svg');
        background-color: $notice-primary-color;
    }
    opacity: 1;
}

.mx_EventTile_e2eIcon_unencrypted {
    &::after {
        mask-image: url('$(res)/img/e2e/warning.svg');
        background-color: $notice-primary-color;
    }
    opacity: 1;
}

.mx_EventTile_e2eIcon_unauthenticated {
    &::after {
        mask-image: url('$(res)/img/e2e/normal.svg');
        background-color: $composer-e2e-icon-color;
    }
    opacity: 1;
}

/* Various markdown overrides */

.mx_EventTile_body {
    a:hover {
        text-decoration: underline;
    }

    pre {
        border: 1px solid transparent;
    }
}

.mx_EventTile_content .markdown-body {
    font-family: inherit !important;
    white-space: normal !important;
    line-height: inherit !important;
    color: inherit; // inherit the colour from the dark or light theme by default (but not for code blocks)
    font-size: $font-14px;

    pre, code {
        font-family: $monospace-font-family !important;
        background-color: $eventtile-code-bg-color;
    }

    pre code > * {
        display: inline;
    }

    pre {
        // have to use overlay rather than auto otherwise Linux and Windows
        // Chrome gets very confused about vertical spacing:
        // https://github.com/vector-im/vector-web/issues/754
        overflow-x: overlay;
        overflow-y: visible;

        code {
            background-color: transparent;
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }
    }
}

.mx_EventTile_lineNumbers {
    float: left;
    margin: 0 0.5em 0 -1.5em;
    color: gray;
}

.mx_EventTile_lineNumber {
    text-align: right;
    display: block;
    padding-left: 1em;
}

.mx_EventTile_collapsedCodeBlock {
    max-height: 30vh;
}

.mx_EventTile:hover .mx_EventTile_body pre,
.mx_EventTile.focus-visible:focus-within .mx_EventTile_body pre {
    border: 1px solid $tertiary-content;
}

.mx_EventTile_pre_container {
    // For correct positioning of _copyButton (See TextualBody)
    position: relative;
}

// Inserted adjacent to <pre> blocks, (See TextualBody)
.mx_EventTile_button {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 19px;
    height: 19px;
    background-color: $message-action-bar-fg-color;
}
.mx_EventTile_buttonBottom {
    top: 33px;
}
.mx_EventTile_copyButton {
    mask-image: url($copy-button-url);
}
.mx_EventTile_collapseButton {
    mask-size: 75%;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url($collapse-button-url);
}
.mx_EventTile_expandButton {
    mask-size: 75%;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url($expand-button-url);
}

.mx_EventTile_body .mx_EventTile_pre_container:focus-within .mx_EventTile_copyButton,
.mx_EventTile_body .mx_EventTile_pre_container:hover .mx_EventTile_copyButton,
.mx_EventTile_body .mx_EventTile_pre_container:focus-within .mx_EventTile_collapseButton,
.mx_EventTile_body .mx_EventTile_pre_container:hover .mx_EventTile_collapseButton,
.mx_EventTile_body .mx_EventTile_pre_container:focus-within .mx_EventTile_expandButton,
.mx_EventTile_body .mx_EventTile_pre_container:hover .mx_EventTile_expandButton {
    visibility: visible;
}

.mx_EventTile_content .markdown-body h1,
.mx_EventTile_content .markdown-body h2,
.mx_EventTile_content .markdown-body h3,
.mx_EventTile_content .markdown-body h4,
.mx_EventTile_content .markdown-body h5,
.mx_EventTile_content .markdown-body h6 {
    font-family: inherit !important;
    color: inherit;
}


/* Make h1 and h2 the same size as h3. */
.mx_EventTile_content .markdown-body h1,
.mx_EventTile_content .markdown-body h2 {
    font-size: 1.5em;
    border-bottom: none !important; // override GFM
}

.mx_EventTile_content .markdown-body a {
    color: $accent-color-alt;
}

.mx_EventTile_content .markdown-body blockquote {
    color: $blockquote-fg-color;
    margin: 0 0 16px;
    padding: 2px 10px;
    border-left: 2px solid $blockquote-bar-color;
}

.mx_EventTile_content .markdown-body .hljs {
    display: inline !important;
}

/*
// actually, removing the Italic TTF provides
// better results seemingly

// compensate for Nunito italics being terrible
// https://github.com/google/fonts/issues/1726
.mx_EventTile_content .markdown-body em {
    transform: skewX(-14deg);
    display: inline-block;
}
*/

/* end of overrides */


.mx_EventTile_keyRequestInfo {
    font-size: $font-12px;
}

.mx_EventTile_keyRequestInfo_text {
    opacity: 0.5;
}

.mx_EventTile_keyRequestInfo_text a {
    color: $primary-content;
    text-decoration: underline;
    cursor: pointer;
}

.mx_EventTile_keyRequestInfo_tooltip_contents p {
    text-align: auto;
    margin-left: 3px;
    margin-right: 3px;
}

.mx_EventTile_keyRequestInfo_tooltip_contents p:first-child {
    margin-top: 0px;
}

.mx_EventTile_keyRequestInfo_tooltip_contents p:last-child {
    margin-bottom: 0px;
}

.mx_EventTile_tileError {
    color: red;
    text-align: center;

    // Remove some of the default tile padding so that the error is centered
    margin-right: 0;

    .mx_EventTile_line {
        padding-left: 0;
        margin-right: 0;
    }

    .mx_EventTile_line span {
        padding: 4px 8px;
    }

    a {
        margin-left: 1em;
    }
}

.mx_EventTile:hover .mx_MessageActionBar,
.mx_EventTile.mx_EventTile_actionBarFocused .mx_MessageActionBar,
[data-whatinput='keyboard'] .mx_EventTile:focus-within .mx_MessageActionBar,
.mx_EventTile.focus-visible:focus-within .mx_MessageActionBar {
    visibility: visible;
}

@media only screen and (max-width: 480px) {
    .mx_EventTile_line, .mx_EventTile_reply {
        padding-left: 0;
        margin-right: 0;
    }
    .mx_EventTile_content {
        margin-top: 10px;
        margin-right: 0;
    }
}

.mx_ThreadInfo:hover {
    cursor: pointer;
}

.mx_ThreadView {
    display: flex;
    flex-direction: column;

    .mx_ScrollPanel {
        margin-top: 20px;

        .mx_RoomView_MessageList {
            padding: 0;
        }
    }

    .mx_EventTile_senderDetails {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 6px;

        a {
            flex: 1;
            min-width: none;
            max-width: 100%;
            display: flex;
            align-items: center;

            .mx_SenderProfile {
                flex: 1;
            }
        }
    }

    .mx_ThreadView_List {
        flex: 1;
        overflow: scroll;
    }

    .mx_EventTile_roomName {
        display: none;
    }

    .mx_EventTile_line {
        padding-left: 0 !important;
        order: 10 !important;
    }

    .mx_EventTile {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .mx_MessageComposer_sendMessage {
        margin-right: 0;
    }
}
