.mx_EventTile[data-layout=bubble],
.mx_EventListSummary[data-layout=bubble] {
    --avatarSize: 32px;
    --gutterSize: 11px;
    --cornerRadius: 12px;
    --maxWidth: 70%;
}

.mx_EventTile[data-layout=bubble] {
    position: relative;
    margin-top: var(--gutterSize);
    margin-left: 49px;
    margin-right: 100px;
    font-size: $font-14px;

    &.mx_EventTile_continuation {
        margin-top: 2px;
    }

    &.mx_EventTile_highlight {
        &::before {
            background-color: $event-highlight-bg-color;
        }

        color: $event-highlight-fg-color;
    }

    /* For replies */
    .mx_EventTile {
        padding-top: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -60px;
        right: -60px;
        z-index: -1;
        border-radius: 4px;
    }

    &:hover,
    &.mx_EventTile_selected {

        &::before {
            background: $eventbubble-bg-hover;
        }

        .mx_EventTile_avatar {
            img {
                box-shadow: 0 0 0 3px $eventbubble-bg-hover;
            }
        }
    }

    .mx_SenderProfile,
    .mx_EventTile_line {
        width: fit-content;
        max-width: 70%;
    }

    > .mx_SenderProfile {
        position: relative;
        top: -2px;
        left: 2px;
        font-size: $font-15px;
    }

    &[data-self=false] {
        .mx_EventTile_line {
            border-bottom-right-radius: var(--cornerRadius);
        }
        .mx_EventTile_avatar {
            left: -34px;
        }

        .mx_MessageActionBar {
            right: 0;
            transform: translate3d(90%, 50%, 0);
        }

        --backgroundColor: $eventbubble-others-bg;
    }
    &[data-self=true] {
        .mx_EventTile_line {
            border-bottom-left-radius: var(--cornerRadius);
            float: right;
            > a {
                left: auto;
                right: -68px;
            }
        }
        .mx_SenderProfile {
            display: none;
        }

        .mx_ReplyTile .mx_SenderProfile {
            display: block;
        }

        .mx_ReactionsRow {
            float: right;
            clear: right;
            display: flex;

            /* Moving the "add reaction button" before the reactions */
            > :last-child {
                order: -1;
            }
        }
        .mx_EventTile_avatar {
            top: -19px; // height of the sender block
            right: -35px;
        }

        --backgroundColor: $eventbubble-self-bg;
    }

    .mx_EventTile_line {
        position: relative;
        padding: var(--gutterSize);
        border-top-left-radius: var(--cornerRadius);
        border-top-right-radius: var(--cornerRadius);
        background: var(--backgroundColor);
        display: flex;
        gap: 5px;
        margin: 0 -12px 0 -9px;
        > a {
            position: absolute;
            padding: 10px 20px;
            top: 0;
            left: -68px;
        }
    }

    &.mx_EventTile_continuation[data-self=false] .mx_EventTile_line {
        border-top-left-radius: 0;
    }
    &.mx_EventTile_lastInSection[data-self=false] .mx_EventTile_line {
        border-bottom-left-radius: var(--cornerRadius);
    }

    &.mx_EventTile_continuation[data-self=true] .mx_EventTile_line {
        border-top-right-radius: 0;
    }
    &.mx_EventTile_lastInSection[data-self=true] .mx_EventTile_line {
        border-bottom-right-radius: var(--cornerRadius);
    }

    .mx_EventTile_avatar {
        position: absolute;
        top: 0;
        line-height: 1;
        z-index: 9;
        img {
            box-shadow: 0 0 0 3px $eventbubble-avatar-outline;
            border-radius: 50%;
        }
    }

    &.mx_EventTile_noSender {
        .mx_EventTile_avatar {
            top: -19px;
        }
    }

    .mx_BaseAvatar,
    .mx_EventTile_avatar {
        line-height: 1;
    }

    &[data-has-reply=true] {
        > .mx_EventTile_line {
            flex-direction: column;
        }

        .mx_ReplyThread_show {
            order: 99999;
        }

        .mx_ReplyThread {
            .mx_EventTile_reply {
                max-width: 90%;
                padding: 0;
                > a {
                    display: none !important;
                }
            }

            .mx_EventTile {
                display: flex;
                gap: var(--gutterSize);
                .mx_EventTile_avatar {
                    position: static;
                }
                .mx_SenderProfile {
                    display: none;
                }
            }
        }
    }

    .mx_EditMessageComposer_buttons {
        position: static;
        padding: 0;
        margin: 0;
        background: transparent;
    }

    .mx_ReactionsRow {
        margin-right: -18px;
        margin-left: -9px;
    }

    /* Special layout scenario for "Unable To Decrypt (UTD)" events */
    &.mx_EventTile_bad > .mx_EventTile_line {
        display: grid;
        grid-template:
            "reply reply" auto
            "shield body" auto
            "shield link" auto
            / auto  1fr;
        .mx_EventTile_e2eIcon {
            grid-area: shield;
        }
        .mx_UnknownBody {
            grid-area: body;
        }
        .mx_EventTile_keyRequestInfo {
            grid-area: link;
        }
        .mx_ReplyThread_wrapper {
            grid-area: reply;
        }
    }


    .mx_EventTile_readAvatars {
        position: absolute;
        right: -110px;
        bottom: 0;
        top: auto;
    }

    .mx_MTextBody {
        max-width: 100%;
    }
}

.mx_EventTile.mx_EventTile_bubbleContainer[data-layout=bubble],
.mx_EventTile.mx_EventTile_leftAlignedBubble[data-layout=bubble],
.mx_EventTile.mx_EventTile_info[data-layout=bubble],
.mx_EventListSummary[data-layout=bubble][data-expanded=false] {
    --backgroundColor: transparent;
    --gutterSize: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;

    .mx_EventTile_avatar {
        position: static;
        order: -1;
        margin-right: 5px;
    }

    .mx_EventTile_line,
    .mx_EventTile_info {
        min-width: 100%;
        // Preserve alignment with left edge of text in bubbles
        margin: 0;
    }

    .mx_EventTile_e2eIcon {
        margin-left: 9px;
    }

    .mx_EventTile_line > a {
        // Align timestamps with those of normal bubble tiles
        right: auto;
        top: -11px;
        left: -95px;
    }
}

.mx_EventListSummary[data-layout=bubble] {
    --maxWidth: 70%;
    margin-left: calc(var(--avatarSize) + var(--gutterSize));
    margin-right: 94px;
    .mx_EventListSummary_toggle {
        float: none;
        margin: 0;
        order: 9;
        margin-left: 5px;
        margin-right: 55px;
    }
    .mx_EventListSummary_avatars {
        padding-top: 0;
    }

    &::after {
        content: "";
        clear: both;
    }

    .mx_EventTile {
        margin: 0 6px;
        padding: 2px 0;
    }

    .mx_EventTile_line {
        margin: 0;
        > a {
            // Align timestamps with those of normal bubble tiles
            left: -76px;
        }
    }

    .mx_MessageActionBar {
        transform: translate3d(90%, 0, 0);
    }
}

.mx_EventListSummary[data-expanded=false][data-layout=bubble] {
    // Align with left edge of bubble tiles
    padding: 0 49px;
}

/* events that do not require bubble layout */
.mx_EventListSummary[data-layout=bubble],
.mx_EventTile.mx_EventTile_bad[data-layout=bubble] {
    .mx_EventTile_line {
        background: transparent;
    }

    &:hover {
        &::before {
            background: transparent;
        }
    }
}
