$left-gutter: 64px;

.mx_GroupLayout {
    .mx_EventTile {
        > .mx_SenderProfile {
            line-height: $font-20px;
            margin-left: $left-gutter;
        }

        > .mx_EventTile_avatar {
            position: absolute;
            z-index: 9;
        }

        .mx_MessageTimestamp {
            position: absolute;
            width: $MessageTimestamp_width;
        }

        .mx_EventTile_line, .mx_EventTile_reply {
            padding-top: 1px;
            padding-bottom: 3px;
            line-height: $font-22px;
        }
    }

    li > .mx_DateSeparator {
        margin-top: 9px;
    }
}

/* Compact layout overrides */

.mx_MatrixChat_useCompactLayout .mx_GroupLayout {
    .mx_EventTile {
        padding-top: 4px;

        .mx_EventTile_line, .mx_EventTile_reply {
            padding-top: 0;
            padding-bottom: 0;
        }

        &.mx_EventTile_info {
            // same as the padding for non-compact .mx_EventTile.mx_EventTile_info
            padding-top: 0px;
            font-size: $font-13px;
            .mx_EventTile_line, .mx_EventTile_reply {
                line-height: $font-20px;
            }
            .mx_EventTile_avatar {
                top: 4px;
            }
        }

        .mx_SenderProfile {
            font-size: $font-13px;
        }

        &.mx_EventTile_emote {
            // add a bit more space for emotes so that avatars don't collide
            padding-top: 8px;
            .mx_EventTile_avatar {
                top: 2px;
            }
            .mx_EventTile_line, .mx_EventTile_reply {
                padding-top: 0px;
                padding-bottom: 1px;
            }
        }

        &.mx_EventTile_emote.mx_EventTile_continuation {
            padding-top: 0;
            .mx_EventTile_line, .mx_EventTile_reply {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }

        .mx_EventTile_avatar {
            top: 2px;
        }

        .mx_EventTile_e2eIcon {
            top: 3px;
        }

        .mx_EventTile_readAvatars {
            // This aligns the avatar with the last line of the
            // message. We want to move it one line up - 2rem
            top: -2rem;
        }

        .mx_EventTile_content .markdown-body {
            p, ul, ol, dl, blockquote, pre, table {
                margin-bottom: 4px; // 1/4 of the non-compact margin-bottom
            }
        }
    }

    .mx_RoomView_MessageList h2 {
        margin-top: 6px;
    }
}
