@charset "utf-8";

.mx_JumpToBottomButton {
    z-index: 1000;
    position: absolute;
    // 12 because height is 50 but button is only 38 = 12+(50-38) = 24
    bottom: 12px;
    right: 24px;
    width: 38px;
    // give it a fixed height so the badge doesn't make
    // it taller and pop upwards when visible
    height: 50px;
    text-align: center;
}

.mx_JumpToBottomButton_badge {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 16px;
    font-weight: bold;
    font-size: $font-12px;
    line-height: $font-14px;
    text-align: center;
    // to be able to get it centered
    // with text-align in parent
    display: inline-block;
    padding: 0 4px;
    color: $accent-fg-color;
    background-color: $muted-fg-color;
}

.mx_JumpToBottomButton_highlight .mx_JumpToBottomButton_badge {
    color: $secondary-accent-color;
    background-color: $warning-color;
}

.mx_JumpToBottomButton_scrollDown {
    position: relative;
    display: block;
    height: 38px;
    border-radius: 19px;
    box-sizing: border-box;
    background: $button-bg-color;
    border: 1.3px solid #09090900;
    cursor: pointer;
    box-shadow: 0px 1px 3px 1px #00000021;
}

.mx_JumpToBottomButton_scrollDown::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mask-image: url('$(res)/img/feather-customised/chevron-down.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    background: $button-fg-color;
}
