.mx_MessageComposerFormatBar {
    display: none;
    width: calc(26px * 5);
    height: 24px;
    position: absolute;
    cursor: pointer;
    border-radius: $border-radius-4px;
    background-color: $message-action-bar-bg-color;
    user-select: none;
    // equal to z-index of mx_ReplyPreview and mx_RoomView_statusArea (1000)
    // but as it appears after them in the DOM, will appear on top.
    z-index: 1000;

    &.mx_MessageComposerFormatBar_shown {
        display: block;
    }

    > * {
        white-space: nowrap;
        display: inline-block;
        position: relative;
        border: 1px solid $message-action-bar-border-color;
        margin-left: -1px;

        &:hover {
            border-color: $message-action-bar-hover-border-color;
            z-index: 1;
        }

        &:first-child {
            border-radius: $border-radius-3px 0 0 $border-radius-3px;
        }

        &:last-child {
            border-radius: 0 $border-radius-3px $border-radius-3px 0;
        }

        &:only-child {
            border-radius: $border-radius-3px;
        }
    }

    .mx_MessageComposerFormatBar_button {
        width: 27px;
        height: 24px;
        box-sizing: border-box;
        background: none;
        vertical-align: middle;
    }

    .mx_MessageComposerFormatBar_button::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $message-action-bar-fg-color;
    }

    .mx_MessageComposerFormatBar_buttonIconBold::after {
        mask-image: url('$(res)/img/element-icons/room/format-bar/bold.svg');
    }

    .mx_MessageComposerFormatBar_buttonIconItalic::after {
        mask-image: url('$(res)/img/element-icons/room/format-bar/italic.svg');
    }

    .mx_MessageComposerFormatBar_buttonIconStrikethrough::after {
        mask-image: url('$(res)/img/element-icons/room/format-bar/strikethrough.svg');
    }

    .mx_MessageComposerFormatBar_buttonIconQuote::after {
        mask-image: url('$(res)/img/element-icons/room/format-bar/quote.svg');
    }

    .mx_MessageComposerFormatBar_buttonIconCode::after {
        mask-image: url('$(res)/img/element-icons/room/format-bar/code.svg');
    }
}

.mx_MessageComposerFormatBar_buttonTooltip {
    white-space: nowrap;
    font-size: $font-13px;
    font-weight: 600;
    min-width: 54px;
    text-align: center;

    .mx_MessageComposerFormatBar_tooltipShortcut {
        font-size: $font-9px;
        opacity: 0.7;
    }
}
