.mx_PinnedEventTile {
    min-height: 40px;
    width: 100%;
    padding: 0 4px 12px;

    display: grid;
    grid-template-areas:
        "avatar name remove"
        "content content content"
        "footer footer footer";
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 24px auto 24px;
    grid-row-gap: 12px;
    grid-column-gap: 8px;

    & + .mx_PinnedEventTile {
        padding: 12px 4px;
        border-top: 1px solid $menu-border-color;
    }

    .mx_PinnedEventTile_senderAvatar {
        grid-area: avatar;
    }

    .mx_PinnedEventTile_sender {
        grid-area: name;
        font-weight: $font-semi-bold;
        font-size: $font-15px;
        line-height: $font-24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mx_PinnedEventTile_unpinButton {
        visibility: hidden;
        grid-area: remove;
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 8px;

        &:hover {
            background-color: $roomheader-addroom-bg-color;
        }

        &::before {
            content: "";
            position: absolute;
            //top: 0;
            //left: 0;
            height: inherit;
            width: inherit;
            background: $secondary-content;
            mask-position: center;
            mask-size: 8px;
            mask-repeat: no-repeat;
            mask-image: url('$(res)/img/image-view/close.svg');
        }
    }

    .mx_PinnedEventTile_message {
        grid-area: content;
    }

    .mx_PinnedEventTile_footer {
        grid-area: footer;
        font-size: 10px;
        line-height: 12px;

        .mx_PinnedEventTile_timestamp {
            font-size: inherit;
            line-height: inherit;
            color: $secondary-content;
        }

        .mx_AccessibleButton_kind_link {
            padding: 0;
            margin-left: 12px;
            font-size: inherit;
            line-height: inherit;
        }
    }

    &:hover {
        .mx_PinnedEventTile_unpinButton {
            visibility: visible;
        }
    }
}
