.mx_RoomUpgradeWarningBar {
    max-height: 235px;
    background-color: $preview-bar-bg-color;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
}

.mx_RoomUpgradeWarningBar_wrapped {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-align-items: center;
}

.mx_RoomUpgradeWarningBar_header {
    color: $warning-color;
    font-weight: bold;
}

.mx_RoomUpgradeWarningBar_body {
    color: $warning-color;
}

.mx_RoomUpgradeWarningBar_upgradelink {
    color: $warning-color;
    text-decoration: underline;
}

.mx_RoomUpgradeWarningBar_small {
    color: $greyed-fg-color;
    font-size: 70%;
}
