// Note: the room tile expects to be in a flexbox column container
.mx_RoomTile {
    margin-bottom: .4rem;
    padding: .4rem;
    position: relative;

    contain: content; // Not strict as it will break when resizing a sublist vertically
    box-sizing: border-box;

    // The tile is also a flexbox row itself
    display: flex;

    &.mx_RoomTile_selected,
    &:hover,
    &:focus-within,
    &.mx_RoomTile_hasMenuOpen {
        background-color: $roomtile-selected-bg-color;
        border-radius: $border-radius-8px;
    }

    .mx_DecoratedRoomAvatar, .mx_RoomTile_avatarContainer {
        margin-right: .8rem;

        .mx_BaseAvatar_initial {
            width: 4.8rem !important;
            line-height: 4.8rem !important;
            font-size: 3.12rem !important;
        }

        .mx_BaseAvatar_image {
            width: 4.8rem !important;
            height: 4.8rem !important;
        }
    }

    .mx_RoomTile_nameContainer {
        flex-grow: 1;
        min-width: 0; // allow flex to shrink it
        margin-right: .8rem; // spacing to buttons/badges

        // Create a new column layout flexbox for the name parts
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mx_RoomTile_name,
        .mx_RoomTile_messagePreview {
            margin: 0 .2rem;
            width: 100%;

            // Ellipsize any text overflow
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            // for rtl
            text-align: left;
        }

        .mx_RoomTile_name {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }

        .mx_RoomTile_name.mx_RoomTile_nameHasUnreadEvents {
            font-weight: 600;
        }

        .mx_RoomTile_messagePreview {
            font-size: 1.3rem;
            color: $roomtile-preview-color;
        }
    }

    .mx_RoomTile_menuButton {
        right: 2.8rem;
    }

    .mx_RoomTile_notificationsButton {
        right: .4rem;
    }

    .mx_RoomTile_badgeContainer {
        height: 1.6rem;
        // don't set width so that it takes no space when there is no badge to show
        margin: auto 0; // vertically align

        // Create a flexbox to make aligning dot badges easier
        display: flex;
        align-items: center;

        .mx_NotificationBadge {
            margin-right: .2rem; // centering
        }

        .mx_NotificationBadge_dot {
            // make the smaller dot occupy the same width for centering
            margin-left: .5rem;
            margin-right: .7rem;
        }
    }

    // The context menu buttons are hidden by default
    .mx_RoomTile_menuButton,
    .mx_RoomTile_notificationsButton {
        width: 2rem;
        min-width: 2rem; // yay flex
        height: 2rem;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        display: none;
        top: calc(50% - 1rem);
        background: $roomlist-bg-color;
        border-radius: 500px;

        &::before {
            top: .2rem;
            left: .2rem;
            content: '';
            width: 1.6rem;
            height: 1.6rem;
            position: absolute;
            mask-position: center;
            mask-size: contain;
            mask-repeat: no-repeat;
            background: $primary-content;
        }
    }

    // If the room has an overriden notification setting then we always show the notifications menu button
    .mx_RoomTile_notificationsButton.mx_RoomTile_notificationsButton_show {
        display: block;
    }

    .mx_RoomTile_menuButton::before {
        mask-image: url('$(res)/img/element-icons/context-menu.svg');
    }

    &:not(.mx_RoomTile_minimized) {
        &:hover,
        &:focus-within,
        &.mx_RoomTile_hasMenuOpen {
            // Hide the badge container on hover because it'll be a menu button
            .mx_RoomTile_badgeContainer {
                opacity: 0;
            }

            .mx_RoomTile_notificationsButton,
            .mx_RoomTile_menuButton {
                display: block;
            }
        }
    }

    &.mx_RoomTile_minimized {
        flex-direction: column;
        align-items: center;
        position: relative;

        .mx_DecoratedRoomAvatar, .mx_RoomTile_avatarContainer {
            margin-right: 0;
        }
    }
}

.mx_RoomList_Roomy .mx_RoomTile {
    height: 5.6rem;

    .mx_DecoratedRoomAvatar, .mx_RoomTile_avatarContainer {
        .mx_BaseAvatar_initial {
            width: 4.8rem !important;
            line-height: 4.8rem !important;
            font-size: 3.12rem !important;
        }

        .mx_BaseAvatar_image {
            width: 4.8rem !important;
            height: 4.8rem !important;
        }
    }

    .mx_RoomTile_nameContainer {
        max-height: 4.8rem; // same as avatar

        .mx_RoomTile_messagePreview {
            font-size: 1.3rem;
            line-height: 1.6rem;
            max-height: 2 * 1.6rem;
            white-space: unset;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: -.3rem; // shift the preview down a bit more
        }

        .mx_RoomTile_nameWithPreview {
            margin-top: -.4rem; // shift the name up a bit more
        }
    }
}

.mx_RoomList_Intermediate .mx_RoomTile {
    height: 4rem;

    .mx_DecoratedRoomAvatar, .mx_RoomTile_avatarContainer {
        .mx_BaseAvatar_initial {
            width: 3.2rem !important;
            line-height: 3.2rem !important;
            font-size: 2.08rem !important;
        }

        .mx_BaseAvatar_image {
            width: 3.2rem !important;
            height: 3.2rem !important;
        }
    }

    .mx_RoomTile_nameContainer {
        max-height: 3.2rem; // same as avatar

        .mx_RoomTile_messagePreview {
            font-size: 1.3rem;
            line-height: 1.8rem;
            max-height: 1.8rem;
            margin-bottom: -.4rem; // shift the preview down a bit more
        }

        .mx_RoomTile_nameWithPreview {
            margin-top: -.4rem; // shift the name up a bit more
        }
    }
}

.mx_RoomList_Compact .mx_RoomTile {
    height: 2.6rem;
    padding-top: .2rem;
    padding-bottom: .2rem;

    .mx_DecoratedRoomAvatar, .mx_RoomTile_avatarContainer {
        margin-right: .4rem;

        .mx_BaseAvatar_initial {
            width: 2.2rem !important;
            line-height: 2.2rem !important;
            font-size: 1.43rem !important;
        }

        .mx_BaseAvatar_image {
            width: 2.2rem !important;
            height: 2.2rem !important;
        }
    }

    .mx_RoomTile_nameContainer {
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: .4rem; // spacing to buttons/badges

        .mx_RoomTile_name,
        .mx_RoomTile_messagePreview {
            display: inline;
            text-overflow: unset;
        }

        .mx_RoomTile_name {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }

        .mx_RoomTile_name.mx_RoomTile_nameHasUnreadEvents {
            font-weight: 600;
        }

        .mx_RoomTile_messagePreview {
            font-size: 1.3rem;
            line-height: 2.2rem;
        }
    }

    mx_RoomTile_badgeContainer {
        width: 2rem;
        min-width: 2rem; // yay flex
        height: 2rem;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        display: none;
        top: calc(50% - 1rem);
        right: .4rem;
    }
}

// We use these both in context menus and the room tiles
.mx_RoomTile_iconBell::before {
    mask-image: url('$(res)/img/element-icons/notifications.svg');
}
.mx_RoomTile_iconBellDot::before {
    mask-image: url('$(res)/img/element-icons/roomlist/notifications-default.svg');
}
.mx_RoomTile_iconBellCrossed::before {
    mask-image: url('$(res)/img/element-icons/roomlist/notifications-off.svg');
}
.mx_RoomTile_iconBellMentions::before {
    mask-image: url('$(res)/img/element-icons/roomlist/notifications-dm.svg');
}

.mx_RoomTile_contextMenu {
    .mx_RoomTile_iconStar::before {
        mask-image: url('$(res)/img/element-icons/roomlist/favorite.svg');
    }

    .mx_RoomTile_iconArrowDown::before {
        mask-image: url('$(res)/img/element-icons/roomlist/low-priority.svg');
    }

    .mx_RoomTile_iconSettings::before {
        mask-image: url('$(res)/img/element-icons/settings.svg');
    }

    .mx_RoomTile_iconCopyLink::before {
        mask-image: url('$(res)/img/element-icons/link.svg');
    }

    .mx_RoomTile_iconInvite::before {
        mask-image: url('$(res)/img/element-icons/room/invite.svg');
    }

    .mx_RoomTile_iconSignOut::before {
        mask-image: url('$(res)/img/element-icons/leave.svg');
    }
}
