.mx_RoomList {
    padding-right: 7px; // width of the scrollbar, to line things up
}

.mx_RoomList_iconPlus::before {
    mask-image: url('$(res)/img/element-icons/roomlist/plus-circle.svg');
}
.mx_RoomList_iconHash::before {
    mask-image: url('$(res)/img/element-icons/roomlist/hash-circle.svg');
}
.mx_RoomList_iconExplore::before {
    mask-image: url('$(res)/img/element-icons/roomlist/explore.svg');
}
.mx_RoomList_iconBrowse::before {
    mask-image: url('$(res)/img/element-icons/roomlist/browse.svg');
}
.mx_RoomList_iconDialpad::before {
    mask-image: url('$(res)/img/element-icons/roomlist/dialpad.svg');
}

.mx_RoomList_explorePrompt {
    margin: 4px 12px 4px;
    padding-top: 12px;
    border-top: 1px solid $input-border-color;
    font-size: $font-14px;

    div:first-child {
        font-weight: $font-semi-bold;
        line-height: $font-18px;
        color: $primary-content;
    }

    .mx_AccessibleButton {
        color: $primary-content;
        position: relative;
        padding: 8px 8px 8px 32px;
        font-size: inherit;
        margin-top: 12px;
        display: block;
        text-align: start;
        background-color: $roomlist-button-bg-color;
        border-radius: 4px;

        &::before {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: 8px;
            background: $secondary-content;
            mask-position: center;
            mask-size: contain;
            mask-repeat: no-repeat;
        }

        &.mx_RoomList_explorePrompt_startChat::before {
            mask-image: url('$(res)/img/element-icons/feedback.svg');
        }

        &.mx_RoomList_explorePrompt_explore::before {
            mask-image: url('$(res)/img/element-icons/roomlist/explore.svg');
        }

        &.mx_RoomList_explorePrompt_spaceInvite::before {
            mask-image: url('$(res)/img/element-icons/room/invite.svg');
        }

        &.mx_RoomList_explorePrompt_spaceExplore::before {
            mask-image: url('$(res)/img/element-icons/roomlist/browse.svg');
        }
    }
}
