@charset "utf-8";

.mx_TopUnreadMessagesBar {
    z-index: 1000;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 38px;
}

.mx_TopUnreadMessagesBar::after {
    content: "";
    position: absolute;
    top: 5.5px;
    left: 16.5px;
    width: 5px;
    height: 5px;
    border-radius: 16px;
    background-color: $button-fg-color;
    border: none;
    pointer-events: none;
}

.mx_TopUnreadMessagesBar_scrollUp {
    height: 38px;
    border-radius: 19px;
    box-sizing: border-box;
    background: $button-bg-color;
    border: 1.3px solid #09090900;
    cursor: pointer;
    box-shadow: 0px 1px 3px 1px #00000021;
}

.mx_TopUnreadMessagesBar_scrollUp::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    mask-image: url('$(res)/img/feather-customised/chevron-down.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    background: $button-fg-color;
    transform: rotate(180deg);
}

.mx_TopUnreadMessagesBar_markAsRead {
    display: block;
    width: 18px;
    height: 18px;
    background: $icon-button-color;
    border: 1.3px solid #09090900;
    border-radius: 10px;
    margin: 5px auto;
    box-shadow: 0px 1px 3px 1px #00000021;
}

.mx_TopUnreadMessagesBar_markAsRead::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    mask-image: url('$(res)/img/icons-close.svg');
    mask-repeat: no-repeat;
    mask-size: 9px;
    mask-position: 4.5px 4.5px;
    background: $button-fg-color;
}
