.mx_BetaCard {
    margin-bottom: 20px;
    padding: 24px;
    background-color: $settings-profile-placeholder-bg-color;
    border-radius: 8px;
    box-sizing: border-box;

    .mx_BetaCard_columns {
        display: flex;

        > div {
            .mx_BetaCard_title {
                font-weight: $font-semi-bold;
                font-size: $font-18px;
                line-height: $font-22px;
                color: $primary-content;
                margin: 4px 0 14px;

                .mx_BetaCard_betaPill {
                    margin-left: 12px;
                }
            }

            .mx_BetaCard_caption {
                font-size: $font-15px;
                line-height: $font-20px;
                color: $secondary-content;
                margin-bottom: 20px;
            }

            .mx_BetaCard_buttons .mx_AccessibleButton {
                display: block;
                margin: 12px 0;
                padding: 7px 40px;
                width: auto;
            }

            .mx_BetaCard_disclaimer {
                font-size: $font-12px;
                line-height: $font-15px;
                color: $secondary-content;
                margin-top: 20px;
            }
        }

        > img {
            margin: auto 0 auto 20px;
            width: 300px;
            object-fit: contain;
            height: 100%;
        }
    }

    .mx_BetaCard_relatedSettings {
        .mx_SettingsFlag {
            margin: 16px 0 0;
            font-size: $font-15px;
            line-height: $font-24px;
            color: $primary-content;

            .mx_SettingsFlag_microcopy {
                margin-top: 4px;
                font-size: $font-12px;
                line-height: $font-15px;
                color: $secondary-content;
            }
        }
    }
}

.mx_BetaCard_betaPill {
    background-color: $accent-color-alt;
    padding: 4px 10px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: text-bottom;

    &.mx_BetaCard_betaPill_clickable {
        cursor: pointer;
    }
}

$pulse-color: $accent-color-alt;
$dot-size: 12px;

.mx_BetaDot {
    border-radius: 50%;
    margin: 10px;
    height: $dot-size;
    width: $dot-size;
    transform: scale(1);
    background: rgba($pulse-color, 1);
    animation: mx_Beta_bluePulse 2s infinite;
    animation-iteration-count: 20;
    position: relative;
    pointer-events: none;

    &::after {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        transform: scale(1);
        transform-origin: center center;
        animation-name: mx_Beta_bluePulse_shadow;
        animation-duration: inherit;
        animation-iteration-count: inherit;
        border-radius: 50%;
        background: rgba($pulse-color, 1);
    }
}

@keyframes mx_Beta_bluePulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes mx_Beta_bluePulse_shadow {
    0% {
        opacity: 0.7;
    }

    70% {
        transform: scale(2.2);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
