.mx_CompleteSecurity_header {
    display: flex;
    align-items: center;
}

.mx_CompleteSecurity_headerIcon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    position: relative;
}

.mx_CompleteSecurity_heroIcon {
    width: 128px;
    height: 128px;
    position: relative;
    margin: 0 auto;
}

.mx_CompleteSecurity_body {
    font-size: $font-15px;
}

.mx_CompleteSecurity_waiting {
    color: $notice-secondary-color;
}

.mx_CompleteSecurity_actionRow {
    display: flex;
    justify-content: flex-end;
    margin-top: $font-28px;

    .mx_AccessibleButton {
        margin-inline-start: 18px;

        &.warning {
            color: $warning-color;
        }
    }
}
