.mx_Login_submit {
    @mixin mx_DialogButton;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    box-sizing: border-box;
    text-align: center;
}

.mx_Login_submit:hover {
    @mixin mx_DialogButton_hover;
}

.mx_Login_submit:disabled {
    opacity: 0.3;
    cursor: default;
}

.mx_Login_loader {
    display: inline;
    position: relative;
    top: 2px;
    left: 8px;
}

.mx_Login_loader .mx_Spinner {
    display: inline;
}

.mx_Login_loader .mx_Spinner img {
    width: 16px;
    height: 16px;
}

.mx_Login_error {
    color: $warning-color;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.mx_Login_error.mx_Login_serverError {
    text-align: left;
    font-weight: normal;
}

.mx_Login_error.mx_Login_serverError.mx_Login_serverErrorNonFatal {
    color: $orange-warning-color;
}

.mx_Login_type_container {
    display: flex;
    align-items: center;
    color: $authpage-primary-color;

    .mx_Field {
        margin: 0;
    }
}

.mx_Login_type_label {
    flex: 1;
}

.mx_Login_underlinedServerName {
    width: max-content;
    border-bottom: 1px dashed $accent-color;
}

div.mx_AccessibleButton_kind_link.mx_Login_forgot {
    display: block;
    margin: 0 auto;
    // style it as a link
    font-size: inherit;
    padding: 0;

    &.mx_AccessibleButton_disabled {
        cursor: not-allowed;
    }
}
.mx_Login_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 14px;
}
