---
layout: default
---
<style>
img[alt="screenshot"] { 
    max-width: 800px; 
    display: block;

}

.font18 {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}


.thumbnail {
    max-width: 150px;
}

.project {

   vertical-align: text-top;
    width: 170px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.bigproject {
    vertical-align: text-top;
    width: 300px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.featured_screenshot {
    max-height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toc {
    display: table;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    list-style: disc inside;
    list-style-type: disc inside;
    color: #2EA3F2;
    padding-left: 16px;
    width: 400px;
  
}

td {
    padding: 3px;
}

</style>
<h1>{{page.title}}</h1>
<div style="float:left;max-width: 700px;">
<img src="{{page.screenshot}}" />
</div>
<div style="float:left;max-width: 360px;">
<table>
    <tr>
        <td>Name</td>
        <td>{{page.title}}</td>
    </tr>
    <tr>
        <td>Project Type</td>
        <td>{{page.categories[1]}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{page.description}}</td>
    </tr>
    <tr>
        <td>Author</td>
        <td>{{page.author}}</td>
    </tr>
    <tr>
        <td>Maturity</td>
        <td>{{page.maturity}}</td>
    </tr>
    <tr>
        <td>Language</td>
        <td>{{page.language}}</td>
    </tr>
    <tr>
        <td>License</td>
        <td>{{page.license}}</td>
    </tr>
    <tr>
        <td>Repo</td>
        <td><a href="{{page.repo}}">{{page.repo}}</a></td>
    </tr>
    {% if page.home %}
    <tr>
        <td>Homepage</td>
        <td><a href="{{page.home}}">{{page.home}}</a></td>
    </tr>
    {% endif %}
    {% if page.room %}
    <tr>
        <td>Chat Room</td>
        <td><a href="https://to.chat.imzqqq.top/#/{{page.room}}">{{page.room}}</a></td>
    </tr>
    {% endif %}
</table>
</div>
<br clear="all" />
    {{ content }}