{{ define "main" }}
<section class="section hero-container">
  <div class="container row justify-content-center align-items-center">
    <figure class="hero-image-container col-lg-9 col-md-16">
      <img src="/images/owncast-splash-loading.png" alt="" class="splash-image splash-image-loader" id="splash-image-loader" />
      <img src="/images/owncast-splash.png" alt="Live on desktop and mobile" class="splash-image" loading="lazy" onLoad="handleHeroImageLoad()" id="splash-image-main" />
    </figure>

    <div class="intro col-lg-7 col-md-16">
      <p class="lead">Live is a self-hosted live video and web chat server for use with existing popular broadcasting software.</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "quickstart/" | absURL }}" role="button">Get started</a>
    </div>
  </div>
  <script>
    //
    const timeout = setTimeout(function() {
      handleHeroImageLoad();
    }, 2000);

    function handleHeroImageLoad() {
      clearTimeout(timeout);

      const loader = document.getElementById('splash-image-loader');
      const main = document.getElementById('splash-image-main');
      if (loader) {
        loader.style.opacity = 0;
      }
      if (main) {
        main.style.opacity = 1;
      }
    }
  </script>
</section>

<!-- 4 key points section -->
<section class="section key-points-container">
  <div class="container row justify-content-center">
    <div class="row justify-content-center text-center col-lg-8 col-sm-16">
      <div class="col-md-8 col-sm-16 key-point-item">
        <span class="key-icon mask" aria-hidden="true" style="-webkit-mask-image: url('/images/key-selfhosted.svg');mask-image: url('/images/key-selfhosted.svg')"></span>

        <h2>Self hosted and Independent</h2>
        <p>
          Have complete control and ownership over your stream, allowing you to create the content and community you want.
        </p>
      </div>
      <div class="col-md-8 col-sm-16 key-point-item">
        <span class="key-icon mask" aria-hidden="true" style="-webkit-mask-image: url('/images/key-chat.svg');mask-image: url('/images/key-chat.svg')"></span>
        <h2>Chat</h2>
        <p>
          The frictionless built-in chat allows your viewers to be a part of the action.  Include custom emotes and build <a href="/thirdparty">chat bots</a> to encourage engagement from your viewers.
        </p>
      </div>
    </div>
    <div class="row justify-content-center text-center col-lg-8 col-sm-16">
      <div class="col-md-8 col-sm-16 key-point-item">
        <span class="key-icon mask" aria-hidden="true" style="-webkit-mask-image: url('/images/key-videosoftware.svg');mask-image: url('/images/key-videosoftware.svg')"></span>
        <h2>Works with your software</h2>
        <p>
          Point your existing broadcasting software at your Live server and begin streaming.
        </p>
      </div>
      <div class="col-md-8 col-sm-16 key-point-item">
        <span class="key-icon mask" aria-hidden="true" style="-webkit-mask-image: url('/images/key-storage.svg');mask-image: url('/images/key-storage.svg')"></span>
        <h2>External Storage</h2>
        <p>Live can work with <a href="/docs/storage/"
          title="Storage providers | Live Docs">different storage providers</a> to optionally scale your videos to many viewers using only low-powered hardware.
        </p>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ define "sidebar-prefooter" }}
<!-- Quotes & testimonials section -->
<section class="section quotes-container">
  <div class="container row justify-content-center">
    <div id="quote1" class="col-md-8 col-sm-16"></div>
    <div id="quote2" class="col-md-8 col-sm-16"></div> 
  </div>
  <a id="blogs-link" href="/examples/blogs-tutorials/">See how others are using Live and what they're saying.</a>
</section>

<!-- Live now from Directory section -->
<section id="container-live-now" class="section text-center live-now-container">
  <h2>Streams live right now</h2>
  <p>Visit the <a href="https://directory.live.imzqqq.top">Live Directory</a> to discover more streams.</p>
  <div class="stream-list-holder scrollbar-hidden">
    <ul id="stream-list" role="list">
    </ul>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<!-- Contributors list Section -->
<section class="section container-contributors text-center contributors-container">
  {{- .Content -}}
</section>

{{ end }}
