[Unit]
Description=Tube instances daemon
After=network.target postgresql.service

[Service]
Type=simple
Environment=NODE_ENV=production
Environment=NODE_CONFIG_DIR=/var/www/instances-tube/config
User=tube
Group=tube
ExecStart=/usr/bin/npm start
WorkingDirectory=/var/www/instances-tube
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=instances-tube
Restart=always

[Install]
WantedBy=multi-user.target
