.mx_AddressPickerDialog {
    a:link,
    a:hover,
    a:visited {
        @mixin mx_Dialog_link;
    }
}

/* Using a textarea for this element, to circumvent autofill */
.mx_AddressPickerDialog_input,
.mx_AddressPickerDialog_input:focus {
    height: 26px;
    font-size: $font-14px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 !important;
    border: 0 !important;
    outline: 0 !important;
    width: 1000%; /* Pretend that this is an "input type=text" */
    resize: none;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    word-wrap: nowrap;
}

.mx_AddressPickerDialog .mx_Dialog_content {
    min-height: 50px;
}

.mx_AddressPickerDialog_inputContainer {
    border-radius: $border-radius-3px;
    border: solid 1px $input-border-color;
    line-height: $font-36px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.mx_AddressPickerDialog_error {
    margin-top: 10px;
    color: $warning-color;
}

.mx_AddressPickerDialog_cancel {
    position: absolute;
    right: 11px;
    top: 13px;
    cursor: pointer;
}

.mx_AddressPickerDialog_cancel object {
    pointer-events: none;
}

.mx_AddressPickerDialog_identityServer {
    margin-top: 1em;
}
