.mx_ConfirmUserActionDialog .mx_Dialog_content {
    min-height: 48px;
    margin-bottom: 24px;
}

.mx_ConfirmUserActionDialog_avatar {
    float: left;
    margin-right: 20px;
    margin-top: -2px;
}

.mx_ConfirmUserActionDialog_name {
    font-size: $font-18px;
}

.mx_ConfirmUserActionDialog_userId {
    font-size: $font-13px;
}

.mx_ConfirmUserActionDialog_reasonField {
    font-size: $font-14px;
    color: $primary-content;
    background-color: $background;

    border-radius: $border-radius-3px;
    border: solid 1px $input-border-color;
    line-height: $font-36px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 1px;

    margin-bottom: 24px;

    width: 90%;
}
