.mx_CreateGroupDialog_inputRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx_CreateGroupDialog_label {
    text-align: left;
    padding-bottom: 12px;
}

.mx_CreateGroupDialog_input {
    font-size: $font-15px;
    border-radius: $border-radius-3px;
    border: 1px solid $input-border-color;
    padding: 9px;
    color: $primary-content;
    background-color: $background;
}

.mx_CreateGroupDialog_input_hasPrefixAndSuffix {
    border-radius: 0px;
}

.mx_CreateGroupDialog_input_group {
    display: flex;
}

.mx_CreateGroupDialog_prefix,
.mx_CreateGroupDialog_suffix {
    padding: 0px 5px;
    line-height: $font-37px;
    background-color: $input-darker-bg-color;
    border: 1px solid $input-border-color;
    text-align: center;
}

.mx_CreateGroupDialog_prefix {
    border-right: 0px;
    border-radius: $border-radius-3px 0px 0px $border-radius-3px;
}

.mx_CreateGroupDialog_suffix {
    border-left: 0px;
    border-radius: 0px $border-radius-3px $border-radius-3px 0px;
}
