.mx_CreateSpaceFromCommunityDialog_wrapper {
    .mx_Dialog {
        display: flex;
        flex-direction: column;
    }
}

.mx_CreateSpaceFromCommunityDialog {
    width: 480px;
    color: $primary-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 0;

    .mx_CreateSpaceFromCommunityDialog_content {
        > p {
            font-size: $font-15px;
            line-height: $font-24px;

            &:first-of-type {
                margin-top: 0;
            }

            &.mx_CreateSpaceFromCommunityDialog_flairNotice {
                font-size: $font-12px;
                line-height: $font-15px;
            }
        }

        .mx_SpaceBasicSettings {
            > p {
                font-size: $font-12px;
                line-height: $font-15px;
                margin: 16px 0;
            }

            .mx_Field_textarea {
                margin-bottom: 0;
            }
        }

        .mx_JoinRuleDropdown .mx_Dropdown_menu {
            width: auto !important; // override fixed width
        }

        .mx_CreateSpaceFromCommunityDialog_nonPublicSpacer {
            height: 63px; // balance the height of the missing room alias field to prevent modal bouncing
        }
    }

    .mx_CreateSpaceFromCommunityDialog_footer {
        display: flex;
        margin-top: 20px;

        > span {
            flex-grow: 1;
            font-size: $font-12px;
            line-height: $font-15px;
            color: $secondary-content;

            .mx_ProgressBar {
                height: 8px;
                width: 100%;

                @mixin ProgressBarBorderRadius 8px;
            }

            .mx_CreateSpaceFromCommunityDialog_progressText {
                margin-top: 8px;
                font-size: $font-15px;
                line-height: $font-24px;
                color: $primary-content;
            }

            > * {
                vertical-align: middle;
            }
        }

        .mx_CreateSpaceFromCommunityDialog_error {
            padding-left: 12px;

            > img {
                align-self: center;
            }

            .mx_CreateSpaceFromCommunityDialog_errorHeading {
                font-weight: $font-semi-bold;
                font-size: $font-15px;
                line-height: $font-18px;
                color: $notice-primary-color;
            }

            .mx_CreateSpaceFromCommunityDialog_errorCaption {
                margin-top: 4px;
                font-size: $font-12px;
                line-height: $font-15px;
                color: $primary-content;
            }
        }

        .mx_AccessibleButton {
            display: inline-block;
            align-self: center;
        }

        .mx_AccessibleButton_kind_primary {
            padding: 8px 36px;
            margin-left: 24px;
        }

        .mx_AccessibleButton_kind_primary_outline {
            margin-left: auto;
        }

        .mx_CreateSpaceFromCommunityDialog_retryButton {
            margin-left: 12px;
            padding-left: 24px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: $primary-content;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                mask-image: url('$(res)/img/element-icons/retry.svg');
                width: 18px;
                height: 18px;
                left: 0;
            }
        }

        .mx_AccessibleButton_kind_link {
            padding: 0;
        }
    }
}

.mx_CreateSpaceFromCommunityDialog_SuccessInfoDialog {
    .mx_InfoDialog {
        max-width: 500px;
    }

    .mx_AccessibleButton_kind_link {
        padding: 0;
    }

    .mx_CreateSpaceFromCommunityDialog_SuccessInfoDialog_checkmark {
        position: relative;
        border-radius: 50%;
        border: 3px solid $accent-color;
        width: 68px;
        height: 68px;
        margin: 12px auto 32px;

        &::before {
            width: inherit;
            height: inherit;
            content: '';
            position: absolute;
            background-color: $accent-color;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-image: url('$(res)/img/element-icons/roomlist/checkmark.svg');
            mask-size: 48px;
        }
    }
}
