// XXX: many of these styles are shared with the create dialog
.mx_EditCommunityPrototypeDialog {
    &.mx_Dialog_fixedWidth {
        width: 360px;
    }

    .mx_Dialog_content {
        margin-bottom: 12px;

        .mx_AccessibleButton.mx_AccessibleButton_kind_primary {
            display: block;
            height: 32px;
            font-size: $font-16px;
            line-height: 32px;
        }

        .mx_EditCommunityPrototypeDialog_rowAvatar {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .mx_EditCommunityPrototypeDialog_avatarContainer {
            margin-top: 20px;
            margin-bottom: 20px;

            .mx_EditCommunityPrototypeDialog_avatar,
            .mx_EditCommunityPrototypeDialog_placeholderAvatar {
                width: 96px;
                height: 96px;
                border-radius: 96px;
            }

            .mx_EditCommunityPrototypeDialog_placeholderAvatar {
                background-color: #368bd6; // hardcoded for both themes

                &::before {
                    display: inline-block;
                    background-color: #fff; // hardcoded because the background is
                    mask-repeat: no-repeat;
                    mask-size: 96px;
                    width: 96px;
                    height: 96px;
                    mask-position: center;
                    content: '';
                    vertical-align: middle;
                    mask-image: url('$(res)/img/element-icons/add-photo.svg');
                }
            }
        }

        .mx_EditCommunityPrototypeDialog_tip {
            margin-left: 20px;

            & > b, & > span {
                display: block;
                color: $muted-fg-color;
            }
        }
    }
}
