.mx_FeedbackDialog {
    hr {
        margin: 24px 0;
        border-color: $input-border-color;
    }

    .mx_Dialog_content {
        margin-bottom: 24px;

        > h2 {
            margin-bottom: 32px;
        }
    }

    .mx_FeedbackDialog_section {
        position: relative;
        padding-left: 52px;

        > p {
            color: $tertiary-content;
        }

        .mx_AccessibleButton_kind_link {
            padding: 0;
            font-size: inherit;
        }

        a, .mx_AccessibleButton_kind_link {
            color: $accent-color;
            text-decoration: underline;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            left: 0;
            top: 0;
        }

        &::before {
            background-color: $icon-button-color;
            border-radius: 20px;
        }

        &::after {
            background: $avatar-initial-color; // TODO
            mask-position: center;
            mask-size: 24px;
            mask-repeat: no-repeat;
        }
    }

    .mx_FeedbackDialog_reportBug {
        &::after {
            mask-image: url('$(res)/img/feather-customised/bug.svg');
        }
    }

    .mx_FeedbackDialog_rateApp {
        .mx_RadioButton {
            display: inline-flex;
            font-size: 20px;
            transition: font-size 1s, border .5s;
            border-radius: 50%;
            border: 2px solid transparent;
            margin-top: 12px;
            margin-bottom: 24px;
            vertical-align: top;
            cursor: pointer;

            input[type="radio"] + div {
                display: none;
            }

            .mx_RadioButton_content {
                background: $icon-button-color;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 20px;
                margin: 5px;
            }

            .mx_RadioButton_spacer {
                display: none;
            }

            & + .mx_RadioButton {
                margin-left: 16px;
            }
        }

        .mx_RadioButton_checked {
            font-size: 24px;
            border-color: $accent-color;
        }

        &::after {
            mask-image: url('$(res)/img/element-icons/feedback.svg');
        }
    }
}
