.mx_GenericFeatureFeedbackDialog {
    .mx_GenericFeatureFeedbackDialog_subheading {
        color: $primary-content;
        font-size: $font-14px;
        line-height: $font-20px;
        margin-bottom: 24px;
    }

    .mx_AccessibleButton_kind_link {
        padding: 0;
        font-size: inherit;
        line-height: inherit;
    }
}
