.mx_HostSignupDialog {
    width: 90vw;
    max-width: 580px;
    height: 80vh;
    max-height: 600px;
    // Ensure dialog borders are always white as the HostSignupDialog
    // does not yet support dark mode or theming in general.
    // In the future we might want to pass the theme to the called
    // iframe, should some hosting provider have that need.
    background-color: #ffffff;

    .mx_HostSignupDialog_info {
        text-align: center;

        .mx_HostSignupDialog_content_top {
            margin-bottom: 24px;
        }

        .mx_HostSignupDialog_paragraphs {
            text-align: left;
            padding-left: 25%;
            padding-right: 25%;
        }

        .mx_HostSignupDialog_buttons {
            margin-bottom: 24px;
            display: flex;
            justify-content: center;

            button {
                padding: 12px;
                margin: 0 16px;
            }
        }

        .mx_HostSignupDialog_footer {
            display: flex;
            justify-content: center;
            align-items: baseline;

            img {
                padding-right: 5px;
            }
        }
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #fff;
        min-height: 540px;
    }
}

.mx_HostSignupDialog_text_dark {
    color: $primary-content;
}

.mx_HostSignupDialog_text_light {
    color: $secondary-content;
}

.mx_HostSignup_maximize_button {
    mask: url('$(res)/img/feather-customised/maximise.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    width: 14px;
    height: 14px;
    background-color: $dialog-close-fg-color;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.mx_HostSignup_minimize_button {
    mask: url('$(res)/img/feather-customised/minimise.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    width: 14px;
    height: 14px;
    background-color: $dialog-close-fg-color;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 25px;
}

.mx_HostSignup_persisted {
    width: 90vw;
    max-width: 580px;
    height: 80vh;
    max-height: 600px;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

.mx_HostSignupDialog_minimized {
    position: fixed;
    bottom: 80px;
    right: 26px;
    width: 314px;
    height: 217px;
    overflow: hidden;

    &.mx_Dialog {
        padding: 12px;
    }

    .mx_Dialog_title {
        text-align: left !important;
        padding-left: 20px;
        font-size: $font-15px;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #fff;
    }
}
