.mx_KeyboardShortcutsDialog {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: -50px;
    max-height: 1100px; // XXX: this may need adjusting when adding new shortcuts

    .mx_KeyboardShortcutsDialog_category {
        width: 33.3333%; // 3 columns
        margin: 0 0 40px;

        & > div {
            padding-left: 5px;
        }
    }

    h3 {
        margin: 0 0 10px;
    }

    h5 {
        margin: 15px 0 5px;
        font-weight: normal;
    }

    kbd {
        padding: 5px;
        border-radius: $border-radius-4px;
        background-color: $reaction-row-button-bg-color;
        margin-right: 5px;
        min-width: 20px;
        text-align: center;
        display: inline-block;
        border: 1px solid $kbd-border-color;
        box-shadow: 0 2px $kbd-border-color;
        margin-bottom: 4px;
        text-transform: capitalize;

        & + kbd {
            margin-left: 5px;
        }
    }

    .mx_KeyboardShortcutsDialog_inline div {
        display: inline;
    }
}
