.mx_LeaveSpaceDialog_wrapper {
    .mx_Dialog {
        display: flex;
        flex-direction: column;
        padding: 24px 32px;
    }
}

.mx_LeaveSpaceDialog {
    width: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 520px;

    .mx_Dialog_content {
        flex-grow: 1;
        margin: 0;
        overflow-y: auto;

        .mx_RadioButton + .mx_RadioButton {
            margin-top: 16px;
        }

        .mx_SearchBox {
            // To match the space around the title
            margin: 0 0 15px 0;
            flex-grow: 0;
            border-radius: 8px;
        }

        .mx_LeaveSpaceDialog_noResults {
            display: block;
            margin-top: 24px;
        }

        .mx_LeaveSpaceDialog_section {
            margin: 16px 0;
        }

        .mx_LeaveSpaceDialog_section_warning {
            position: relative;
            border-radius: 8px;
            margin: 12px 0 0;
            padding: 12px 8px 12px 42px;
            background-color: $header-panel-bg-color;

            font-size: $font-12px;
            line-height: $font-15px;
            color: $secondary-content;

            &::before {
                content: '';
                position: absolute;
                left: 10px;
                top: calc(50% - 8px); // vertical centering
                height: 16px;
                width: 16px;
                background-color: $secondary-content;
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-image: url('$(res)/img/element-icons/room/room-summary.svg');
                mask-position: center;
            }
        }

        > p {
            color: $primary-content;
        }
    }

    .mx_Dialog_buttons {
        margin-top: 20px;

        .mx_Dialog_primary {
            background-color: $notice-primary-color !important; // override default colour
            border-color: $notice-primary-color;
        }
    }
}
