.mx_MessageEditHistoryDialog .mx_Dialog_header > .mx_Dialog_title {
    text-align: center;
}

.mx_MessageEditHistoryDialog {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
}

.mx_MessageEditHistoryDialog_scrollPanel {
    flex: 1 1 auto;
}

.mx_MessageEditHistoryDialog_error {
    color: $warning-color;
    text-align: center;
}

.mx_MessageEditHistoryDialog_edits {
    list-style-type: none;
    font-size: $font-14px;
    padding: 0;
    color: $primary-content;

    span.mx_EditHistoryMessage_deletion, span.mx_EditHistoryMessage_insertion {
        padding: 0px 2px;
    }

    .mx_EditHistoryMessage_deletion {
        color: rgb(255, 76, 85);
        background-color: rgba(255, 76, 85, 0.1);
        text-decoration: line-through;
    }

    .mx_EditHistoryMessage_insertion {
        color: rgb(26, 169, 123);
        background-color: rgba(26, 169, 123, 0.1);
        text-decoration: underline;
    }

    .mx_EventTile_line, .mx_EventTile_content {
        margin-right: 0px;
    }

    .mx_MessageActionBar .mx_AccessibleButton {
        font-size: $font-10px;
        padding: 0 8px;
    }
}

