.mx_NewSessionReviewDialog_header {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.mx_NewSessionReviewDialog_headerIcon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    position: relative;
}

.mx_NewSessionReviewDialog_deviceName {
    font-weight: 600;
}

.mx_NewSessionReviewDialog_deviceID {
    font-size: $font-12px;
    color: $notice-secondary-color;
}
