.mx_RegistrationEmailPromptDialog {
    width: 417px;

    .mx_Dialog_content {
        margin-bottom: 24px;
        color: $tertiary-content;
    }

    .mx_Dialog_primary {
        width: 100%;
    }
}
