// ICONS
// ==========================================================

.mx_RoomSettingsDialog_settingsIcon::before {
    mask-image: url('$(res)/img/element-icons/settings.svg');
}

.mx_RoomSettingsDialog_securityIcon::before {
    mask-image: url('$(res)/img/element-icons/security.svg');
}

.mx_RoomSettingsDialog_rolesIcon::before {
    mask-image: url('$(res)/img/element-icons/room/settings/roles.svg');
}

.mx_RoomSettingsDialog_notificationsIcon::before {
    mask-image: url('$(res)/img/element-icons/notifications.svg');
}

.mx_RoomSettingsDialog_bridgesIcon::before {
    // This icon is pants, please improve :)
    mask-image: url('$(res)/img/feather-customised/bridge.svg');
}

.mx_RoomSettingsDialog_warningIcon::before {
    mask-image: url('$(res)/img/element-icons/room/settings/advanced.svg');
}

.mx_RoomSettingsDialog .mx_Dialog_title {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    padding-right: 80px;
}

// show a different AvatarSetting placeholder for RoomProfileSettings which is basically a clone of ProfileSettings
.mx_RoomSettingsDialog .mx_AvatarSetting_avatar .mx_AvatarSetting_avatarPlaceholder::before {
    mask: url("$(res)/img/feather-customised/image.svg");
    mask-repeat: no-repeat;
    mask-size: 36px;
    mask-position: center;
}

