.mx_RoomSettingsDialog_BridgeList {
    padding: 0;

    .mx_AccessibleButton {
        display: inline;
        margin: 0;
        padding: 0;
    }
}

.mx_RoomSettingsDialog_BridgeList li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 8px;
    border-width: 1px 1px;
    border-color: $primary-hairline-color;
    border-style: solid;
    border-radius: $border-radius-5px;

    .column-icon {
        float: left;
        padding-right: 10px;

        * {
            border-radius: $border-radius-5px;
            border: 1px solid $input-darker-bg-color;
        }

        .noProtocolIcon {
            width: 48px;
            height: 48px;
            background: $input-darker-bg-color;
            border-radius: $border-radius-5px;
        }

        .protocol-icon {
            float: left;
            margin-right: 5px;
            img {
                border-radius: $border-radius-5px;
                border-width: 1px 1px;
                border-color: $primary-hairline-color;
            }
            span {
                /* Correct letter placement */
                left: auto;
            }
        }
    }

    .column-data {
        display: inline-block;
        width: 85%;

        > h3 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 16pt;
            color: $primary-content;
        }

        > * {
            margin-top: 4px;
            margin-bottom: 0;
        }

        .workspace-channel-details {
            color: $primary-content;
            font-weight: 600;

            .channel {
                margin-left: 5px;
            }
        }

        .metadata {
            color: $muted-fg-color;
            margin-bottom: 0;
            overflow-y: visible;
            text-overflow: ellipsis;
            white-space: normal;
            padding: 0;

            > li {
                padding: 0;
                border: 0;
            }
        }
    }
}
