.mx_ServerPickerDialog {
    width: 468px;
    box-sizing: border-box;

    .mx_Dialog_content {
        margin-bottom: 0;

        > p {
            color: $secondary-content;
            font-size: $font-14px;
            margin: 16px 0;

            &:first-of-type {
                margin-bottom: 40px;
            }

            &:last-of-type {
                margin: 0 24px 24px;
            }
        }

        > h4 {
            font-size: $font-15px;
            font-weight: $font-semi-bold;
            color: $secondary-content;
            margin-left: 8px;
        }

        > a {
            color: $accent-color;
            margin-left: 8px;
        }
    }

    .mx_ServerPickerDialog_otherHomeserverRadio {
        input[type="radio"] + div {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .mx_ServerPickerDialog_otherHomeserver {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: unset;

        > input {
            padding-left: 0;
        }

        > label {
            margin-left: 0;
        }
    }

    .mx_AccessibleButton_kind_primary {
        width: calc(100% - 64px);
        margin: 0 8px;
        padding: 15px 18px;
    }
}
