.mx_SetEmailDialog_email_input {
    border-radius: $border-radius-3px;
    border: 1px solid $input-border-color;
    padding: 9px;
    color: $input-fg-color;
    background-color: $background;
    font-size: $font-15px;
    width: 100%;
    max-width: 280px;
    margin-bottom: 10px;
}

.mx_SetEmailDialog_email_input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid $accent-color;
}
