// Not actually a component but things shared by settings components
.mx_UserSettingsDialog, .mx_RoomSettingsDialog, .mx_SpaceSettingsDialog {
    width: 90vw;
    max-width: 1000px;
    // set the height too since tabbed view scrolls itself.
    height: 80vh;

    .mx_TabbedView {
        top: 65px;
    }

    .mx_TabbedView .mx_SettingsTab {
        box-sizing: border-box;
        min-width: 580px;
        padding-right: 100px;

        // Put some padding on the bottom to avoid the settings tab from
        // colliding harshly with the dialog when scrolled down.
        padding-bottom: 100px;
    }

    .mx_Dialog_title {
        margin-bottom: 24px;
    }
}
