.mx_ShareDialog hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border-color: $light-fg-color;
}

.mx_ShareDialog_content {
    margin: 10px 0;
}

.mx_ShareDialog_matrixto {
    display: flex;
    justify-content: space-between;
    border-radius: $border-radius-5px;
    border: solid 1px $light-fg-color;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 10px;
}

.mx_ShareDialog_matrixto a {
    text-decoration: none;
}

.mx_ShareDialog_matrixto_link {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mx_ShareDialog_matrixto_copy {
    flex-shrink: 0;
    cursor: pointer;
    margin-left: 20px;
    display: inherit;
}
.mx_ShareDialog_matrixto_copy::after {
    content: "";
    mask-image: url($copy-button-url);
    background-color: $message-action-bar-fg-color;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mx_ShareDialog_split {
    display: flex;
    flex-wrap: wrap;
}

.mx_ShareDialog_qrcode_container {
    float: left;
    height: 256px;
    width: 256px;
    margin-right: 64px;
}

.mx_ShareDialog_qrcode_container + .mx_ShareDialog_social_container {
    width: 299px;
}

.mx_ShareDialog_social_container {
    display: inline-block;
}

.mx_ShareDialog_social_icon {
    display: inline-grid;
    margin-right: 10px;
    margin-bottom: 10px;
}
