.mx_TabbedIntegrationManagerDialog .mx_Dialog {
    width: 60%;
    height: 70%;
    overflow: hidden;
    padding: 0;
    max-width: initial;
    max-height: initial;
    position: relative;
}

.mx_TabbedIntegrationManagerDialog_container {
    // Full size of the dialog, whatever it is
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .mx_TabbedIntegrationManagerDialog_currentManager {
        width: 100%;
        height: 100%;
        border-top: 1px solid $accent-color;

        iframe {
            background-color: #fff;
            border: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.mx_TabbedIntegrationManagerDialog_tab {
    display: inline-block;
    border: 1px solid $accent-color;
    border-bottom: 0;
    border-top-left-radius: $border-radius-3px;
    border-top-right-radius: $border-radius-3px;
    padding: 10px 8px;
    margin-right: 5px;
}

.mx_TabbedIntegrationManagerDialog_currentTab {
    background-color: $accent-color;
    color: $accent-fg-color;
}
