.mx_WidgetOpenIDPermissionsDialog .mx_SettingsFlag {
    .mx_ToggleSwitch {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }

    .mx_SettingsFlag_label {
        display: inline-block;
        vertical-align: middle;
    }
}
