.mx_AnalyticsToast {
    .mx_AccessibleButton_kind_danger {
        background: none;
        color: $accent-color;
    }

    .mx_AccessibleButton_kind_primary {
        background: $accent-color;
        color: #ffffff;
    }
}
