.mx_IncomingCallToast {
    display: flex;
    flex-direction: row;
    pointer-events: initial; // restore pointer events so the user can accept/decline

    .mx_IncomingCallToast_content {
        display: flex;
        flex-direction: column;
        margin-left: 8px;

        .mx_CallEvent_caller {
            font-weight: bold;
            font-size: $font-15px;
            line-height: $font-18px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            margin-top: 2px;
            margin-right: 6px;

            max-width: 200px;
        }

        .mx_CallEvent_type {
            font-size: $font-12px;
            line-height: $font-15px;
            color: $tertiary-content;

            margin-top: 4px;
            margin-bottom: 6px;

            display: flex;
            flex-direction: row;
            align-items: center;

            .mx_CallEvent_type_icon {
                height: 16px;
                width: 16px;
                margin-right: 6px;

                &::before {
                    content: '';
                    position: absolute;
                    height: inherit;
                    width: inherit;
                    background-color: $tertiary-content;
                    mask-repeat: no-repeat;
                    mask-size: contain;
                }
            }
        }

        &.mx_IncomingCallToast_content_voice {
            .mx_CallEvent_type .mx_CallEvent_type_icon::before,
            .mx_IncomingCallToast_buttons .mx_IncomingCallToast_button_accept span::before {
                mask-image: url('$(res)/img/element-icons/call/voice-call.svg');
            }
        }

        &.mx_IncomingCallToast_content_video {
            .mx_CallEvent_type .mx_CallEvent_type_icon::before,
            .mx_IncomingCallToast_buttons .mx_IncomingCallToast_button_accept span::before {
                mask-image: url('$(res)/img/element-icons/call/video-call.svg');
            }
        }

        .mx_IncomingCallToast_buttons {
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            gap: 12px;

            .mx_IncomingCallToast_button {
                height: 24px;
                padding: 0px 8px;
                flex-shrink: 0;
                flex-grow: 1;
                margin-right: 0;
                font-size: $font-15px;
                line-height: $font-24px;

                span {
                    padding: 8px 0;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: '';
                        display: inline-block;
                        background-color: $button-fg-color;
                        mask-position: center;
                        mask-repeat: no-repeat;
                        margin-right: 8px;
                    }
                }

                &.mx_IncomingCallToast_button_accept span::before {
                    mask-size: 13px;
                    width: 13px;
                    height: 13px;
                }

                &.mx_IncomingCallToast_button_decline span::before {
                    mask-image: url('$(res)/img/element-icons/call/hangup.svg');
                    mask-size: 16px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .mx_IncomingCallToast_iconButton {
        display: flex;
        height: 20px;
        width: 20px;

        &::before {
            content: '';

            height: inherit;
            width: inherit;
            background-color: $tertiary-content;
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
        }
    }

    .mx_IncomingCallToast_silence::before {
        mask-image: url('$(res)/img/voip/silence.svg');
    }

    .mx_IncomingCallToast_unSilence::before {
        mask-image: url('$(res)/img/voip/un-silence.svg');
    }
}
