.mx_NonUrgentEchoFailureToast {
    .mx_NonUrgentEchoFailureToast_icon {
        display: inline-block;
        width: $font-18px;
        height: $font-18px;
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: #fff; // we know that non-urgent toasts are always styled the same
        mask-image: url('$(res)/img/element-icons/cloud-off.svg');
        margin-right: 8px;
    }

    span { // includes the i18n block
        vertical-align: middle;
    }

    .mx_AccessibleButton {
        padding: 0;
    }
}
