{#
Copyright 2021 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% macro common_class() -%}
  px-4 py-2 border-2 rounded-lg font-medium text-center focus:ring-0 focus:outline-0 focus:border-black dark:focus:border-white
{%- endmacro %}

{% macro plain_class() -%}
  {{ self::common_class() }} border-accent bg-accent text-white hover:opacity-75
{%- endmacro %}

{% macro ghost_class() -%}
  {{ self::common_class() }} border-accent hover:bg-accent/10 text-accent
{%- endmacro %}

{% macro text_class() -%}
  {{ self::common_class() }} border-transparent hover:text-accent/70 text-accent
{%- endmacro %}

{% macro link(text, href="#", class="") %}
  <a class="{{ self::plain_class() }} {{ class }}" href="{{ href }}">{{ text }}</a>
{% endmacro %}

{% macro link_text(text, href="#", class="") %}
  <a class="{{ self::text_class() }} {{ class }}" href="{{ href }}">{{ text }}</a>
{% endmacro %}

{% macro link_ghost(text, href="#", class="") %}
  <a class="{{ self::ghost_class() }} {{ class }}" href="{{ href }}">{{ text }}</a>
{% endmacro %}

{% macro button(text, name="", type="submit", class="", value="") %}
  <button name="{{ name }}" value="{{ value }}" type="{{ type }}" class="{{ self::plain_class() }} {{ class }}">{{ text }}</button>
{% endmacro %}

{% macro button_text(text, name="", type="submit", class="", value="") %}
  <button name="{{ name }}" value="{{ value }}" type="{{ type }}" class="{{ self::text_class() }} {{ class }}">{{ text }}</button>
{% endmacro %}

{% macro button_ghost(text, name="", type="submit", class="", value="") %}
  <button name="{{ name }}" value="{{ value }}" type="{{ type }}" class="{{ self::ghost_class() }} {{ class }}">{{ text }}</button>
{% endmacro %}
