@use '_variables' as *;
@use '_mixins' as *;

input:not([type=submit]) {
  @include tube-input-text(340px);

  display: block;
}

textarea {
  @include tube-textarea(340px, 200px);

  display: block;
}

.tube-select-container {
  @include tube-select-container(340px);
}

.label-small-info {
  font-style: italic;
  margin-bottom: 10px;
  font-size: 13px;
}

my-tube-checkbox + .label-small-info {
  margin-top: 5px;
}
