.mx_AccessibleButton {
    cursor: pointer;
}

.mx_AccessibleButton_disabled {
    cursor: default;
}

.mx_AccessibleButton_hasKind {
    padding: 7px 18px;
    text-align: center;
    border-radius: $border-radius-8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: $font-14px;
}

.mx_AccessibleButton_kind_primary {
    color: $button-primary-fg-color;
    background-color: $button-primary-bg-color;
    font-weight: 600;
}

.mx_AccessibleButton_kind_primary_outline {
    color: $button-primary-bg-color;
    background-color: $button-secondary-bg-color;
    border: 1px solid $button-primary-bg-color;
    font-weight: 600;
}

.mx_AccessibleButton_kind_secondary {
    color: $accent-color;
    font-weight: 600;
}

.mx_AccessibleButton_kind_primary.mx_AccessibleButton_disabled,
.mx_AccessibleButton_kind_primary_outline.mx_AccessibleButton_disabled {
    opacity: 0.4;
}

.mx_AccessibleButton_hasKind.mx_AccessibleButton_kind_primary_sm {
    padding: 5px 12px;
    color: $button-primary-fg-color;
    background-color: $button-primary-bg-color;
}

.mx_AccessibleButton_kind_primary_sm.mx_AccessibleButton_disabled {
    opacity: 0.4;
}

.mx_AccessibleButton_kind_danger {
    color: $button-danger-fg-color;
    background-color: $button-danger-bg-color;
}

.mx_AccessibleButton_kind_danger_outline {
    color: $button-danger-bg-color;
    background-color: transparent;
    border: 1px solid $button-danger-bg-color;
}

.mx_AccessibleButton_kind_danger.mx_AccessibleButton_disabled {
    color: $button-danger-disabled-fg-color;
    background-color: $button-danger-disabled-bg-color;
}

.mx_AccessibleButton_kind_danger_outline.mx_AccessibleButton_disabled {
    color: $button-danger-disabled-bg-color;
    border-color: $button-danger-disabled-bg-color;
}

.mx_AccessibleButton_hasKind.mx_AccessibleButton_kind_danger_sm {
    padding: 5px 12px;
    color: $button-danger-fg-color;
    background-color: $button-danger-bg-color;
}

.mx_AccessibleButton_kind_danger_sm.mx_AccessibleButton_disabled {
    color: $button-danger-disabled-fg-color;
    background-color: $button-danger-disabled-bg-color;
}

.mx_AccessibleButton_kind_link {
    color: $button-link-fg-color;
    background-color: $button-link-bg-color;
}

.mx_AccessibleButton_kind_link.mx_AccessibleButton_disabled {
    opacity: 0.4;
}

.mx_AccessibleButton_hasKind.mx_AccessibleButton_kind_link_sm {
    padding: 5px 12px;
    color: $button-link-fg-color;
    background-color: $button-link-bg-color;
}

.mx_AccessibleButton_kind_link_sm.mx_AccessibleButton_disabled {
    opacity: 0.4;
}
