.mx_AddressTile {
    display: inline-block;
    border-radius: $border-radius-3px;
    background-color: rgba(74, 73, 74, 0.1);
    border: solid 1px $input-border-color;
    line-height: $font-26px;
    color: $primary-content;
    font-size: $font-14px;
    font-weight: normal;
    margin-right: 4px;
}

.mx_AddressTile.mx_AddressTile_error {
    background-color: rgba(255, 0, 100, 0.1);
    color: $warning-color;
    border-color: $warning-color;
}

.mx_AddressTile_network {
    display: inline-block;
    position: relative;
    padding-left: 2px;
    padding-right: 4px;
    vertical-align: middle;
}

.mx_AddressTile_avatar {
    display: inline-block;
    position: relative;
    padding-left: 2px;
    padding-right: 7px;
    vertical-align: middle;
}

.mx_AddressTile_mx {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
}

.mx_AddressTile_name {
    display: inline-block;
    padding-right: 4px;
    font-weight: 600;
    overflow: hidden;
    height: 26px;
    vertical-align: middle;
}

.mx_AddressTile_name.mx_AddressTile_justified {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.mx_AddressTile_id {
    display: inline-block;
    padding-right: 11px;
}

.mx_AddressTile_id.mx_AddressTile_justified {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.mx_AddressTile_unknownMx {
    display: inline-block;
    font-weight: 600;
    padding-right: 11px;
}

.mx_AddressTile_unknownMxl.mx_AddressTile_justified {
    width: 380px; /* name + id width */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.mx_AddressTile_email {
    display: inline-block;
    font-weight: 600;
    padding-right: 11px;
}

.mx_AddressTile_email.mx_AddressTile_justified {
    width: 200px; /* same as id width */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.mx_AddressTile_unknown {
    display: inline-block;
    padding-right: 11px;
}

.mx_AddressTile_unknown.mx_AddressTile_justified {
    width: 380px; /* name + id width */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.mx_AddressTile_dismiss {
    display: inline-block;
    padding-right: 11px;
    padding-left: 1px;
    cursor: pointer;
}

.mx_AddressTile_dismiss object {
    pointer-events: none;
}
