.mx_desktopCapturerSourcePicker {
    overflow: hidden;

    .mx_desktopCapturerSourcePicker_tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 500px;
        overflow: overlay;

        .mx_desktopCapturerSourcePicker_source {
            width: 50%;
            display: flex;
            flex-direction: column;

            .mx_desktopCapturerSourcePicker_source_thumbnail {
                margin: 4px;
                padding: 4px;
                border-width: 2px;
                border-radius: 8px;
                border-style: solid;
                border-color: transparent;

                &.mx_desktopCapturerSourcePicker_source_thumbnail_selected,
                &:hover,
                &:focus {
                    border-color: $accent-color;
                }
            }

            .mx_desktopCapturerSourcePicker_source_name {
                margin: 0 4px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
