.mx_EditableItemList {
    margin-top: 12px;
    margin-bottom: 10px;
}

.mx_EditableItem {
    display: flex;
    margin-bottom: 5px;
}

.mx_EditableItem_delete {
    order: 3;
    margin-right: 5px;
    cursor: pointer;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    mask-image: url('$(res)/img/feather-customised/cancel.svg');
    mask-repeat: no-repeat;
    background-color: $warning-color;
    mask-size: 100%;
}

.mx_EditableItem_email {
    vertical-align: middle;
}

.mx_EditableItem_promptText {
    margin-right: 10px;
    order: 2;
}

.mx_EditableItem_confirmBtn {
    margin-right: 5px;
}

.mx_EditableItem_item {
    flex: auto 1 0;
    order: 1;
    width: calc(100% - 14px); // leave space for the remove button
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.mx_EditableItemList_label {
    margin-bottom: 5px;
}

