.mx_ErrorBoundary {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mx_ErrorBoundary_body {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;

    .mx_AccessibleButton {
        margin-top: 5px;
    }
}
