$button-size: 32px;
$icon-size: 22px;
$button-gap: 24px;

.mx_ImageView {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.mx_ImageView_image_wrapper {
    pointer-events: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.mx_ImageView_image {
    flex-shrink: 0;
}

.mx_ImageView_panel {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mx_ImageView_info_wrapper {
    pointer-events: initial;
    padding-left: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $lightbox-fg-color;
}

.mx_ImageView_info {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
}

.mx_ImageView_info_sender {
    font-weight: bold;
}

.mx_ImageView_toolbar {
    padding-right: 16px;
    pointer-events: initial;
    display: flex;
    align-items: center;
    gap: calc($button-gap - ($button-size - $icon-size));
}

.mx_ImageView_button {
    padding: calc(($button-size - $icon-size) / 2);
    display: block;

    &::before {
        content: '';
        height: $icon-size;
        width: $icon-size;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        display: block;
        background-color: $icon-button-color;
    }
}

.mx_ImageView_button_rotateCW::before {
    mask-image: url('$(res)/img/image-view/rotate-cw.svg');
}

.mx_ImageView_button_rotateCCW::before {
    mask-image: url('$(res)/img/image-view/rotate-ccw.svg');
}

.mx_ImageView_button_zoomOut::before {
    mask-image: url('$(res)/img/image-view/zoom-out.svg');
}

.mx_ImageView_button_zoomIn::before {
    mask-image: url('$(res)/img/image-view/zoom-in.svg');
}

.mx_ImageView_button_download::before {
    mask-image: url('$(res)/img/image-view/download.svg');
}

.mx_ImageView_button_more::before {
    mask-image: url('$(res)/img/image-view/more.svg');
}

.mx_ImageView_button_close {
    padding: calc($button-size - $button-size);
    border-radius: 100%;
    background: #21262c; // same on all themes
    &::before {
        width: $button-size;
        height: $button-size;
        mask-image: url('$(res)/img/image-view/close.svg');
        mask-size: 40%;
    }
}
