.mx_InfoTooltip_icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.mx_InfoTooltip_icon::before {
    display: inline-block;
    background-color: $muted-fg-color;
    mask-repeat: no-repeat;
    mask-size: 16px;
    width: 16px;
    height: 16px;
    mask-position: center;
    content: '';
    vertical-align: middle;
}

.mx_InfoTooltip_icon_info::before {
    mask-image: url('$(res)/img/element-icons/info.svg');
}

.mx_InfoTooltip_icon_warning::before {
    mask-image: url('$(res)/img/element-icons/warning.svg');
}
