.mx_InviteReason {
    position: relative;
    margin-bottom: 1em;

    .mx_InviteReason_reason {
        visibility: visible;
    }

    .mx_InviteReason_view {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $secondary-content;

        &::before {
            content: "";
            margin-right: 8px;
            background-color: $secondary-content;
            mask-image: url('$(res)/img/feather-customised/eye.svg');
            display: inline-block;
            width: 18px;
            height: 14px;
        }
    }
}

.mx_InviteReason_hidden {
    .mx_InviteReason_reason {
        visibility: hidden;
    }

    .mx_InviteReason_view {
        display: flex;
    }
}
