.mx_MiniAvatarUploader {
    position: relative;
    width: min-content;

    // this isn't a floating tooltip so override some things to not need to bother with z-index and floating
    .mx_Tooltip {
        display: inline-block;
        position: absolute;
        z-index: unset;
        width: max-content;
        left: 72px;
        top: 0;
    }

    .mx_MiniAvatarUploader_indicator {
        position: absolute;

        height: 26px;
        width: 26px;

        right: -6px;
        bottom: -6px;

        background-color: $background;
        border-radius: 50%;
        z-index: 1;

        .mx_MiniAvatarUploader_cameraIcon {
            height: 100%;
            width: 100%;

            background-color: $secondary-content;
            mask-position: center;
            mask-repeat: no-repeat;
            mask-image: url('$(res)/img/element-icons/camera.svg');
            mask-size: 16px;
            z-index: 2;
        }
    }
}

.mx_MiniAvatarUploader_input {
    display: none;
}
