progress.mx_ProgressBar {
    height: 6px;
    width: 60px;
    overflow: hidden;
    appearance: none;
    border: none;

    @mixin ProgressBarBorderRadius $border-radius-10px;
    @mixin ProgressBarColour $progressbar-fg-color;
    @mixin ProgressBarBgColour $progressbar-bg-color;
    ::-webkit-progress-value {
        transition: width 1s;
    }
    ::-moz-progress-bar {
        transition: padding-bottom 1s;
        padding-bottom: var(--value);
        transform-origin: 0 0;
        transform: rotate(-90deg) translateX(-15px);
        padding-left: 15px;

        height: 0;
    }
}
