.mx_Spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex: 1;
}

.mx_MatrixChat_middlePanel .mx_Spinner {
    height: auto;
}

.mx_Spinner_icon {
    color: $accent-color;
}
