/**
* This component expects the parent to specify a positive padding and
* width
*/
.mx_RadioButton {
    $radio-circle-color: $muted-fg-color;
    $active-radio-circle-color: $accent-color;
    position: relative;

    display: flex;
    align-items: baseline;
    flex-grow: 1;

    > .mx_RadioButton_content {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        margin-left: 8px;
        margin-right: 8px;
    }

    .mx_RadioButton_spacer {
        flex-shrink: 0;
        flex-grow: 0;

        height: $font-16px;
        width: $font-16px;
    }

    input[type=radio] {
        // Remove the OS's representation
        margin: 0;
        padding: 0;
        appearance: none;

        + div {
            flex-shrink: 0;
            flex-grow: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            box-sizing: border-box;
            height: $font-16px;
            width: $font-16px;
            margin-left: 2px; // For the highlight on focus

            border: $font-1-5px solid $radio-circle-color;
            border-radius: $font-16px;

            > div {
                box-sizing: border-box;

                height: $font-8px;
                width: $font-8px;

                border-radius: $font-8px;
            }
        }

        &.focus-visible {
            & + div {
                @mixin unreal-focus;
            }
        }

        &:checked {
            & + div {
                border-color: $active-radio-circle-color;

                & > div {
                    background: $active-radio-circle-color;
                }
            }
        }

        &:disabled {
            & + div,
            & + div + span {
                opacity: 0.5;
                cursor: not-allowed;
            }

            & + div {
                border-color: $radio-circle-color;
            }
        }

        &:checked:disabled {
            & + div > div {
                background-color: $radio-circle-color;
            }
        }
    }

    .mx_RadioButton_innerLabel {
        display: flex;
        position: relative;
        top: 4px;
    }
}

.mx_RadioButton_outlined {
    border: 1px solid $input-darker-bg-color;
    border-radius: $border-radius-8px;
}

.mx_RadioButton_checked {
    border-color: $accent-color;
}
