.mx_TagComposer {
    .mx_TagComposer_input {
        display: flex;

        .mx_Field {
            flex: 1;
            margin: 0; // override from field styles
        }

        .mx_AccessibleButton {
            min-width: 70px;
            padding: 0 8px; // override from button styles
            margin-left: 16px; // distance from <Field>
        }

        .mx_Field, .mx_Field input, .mx_AccessibleButton {
            // So they look related to each other by feeling the same
            border-radius: 8px;
        }
    }

    .mx_TagComposer_tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 12px; // this plus 12px from the tags makes 24px from the input

        .mx_TagComposer_tag {
            padding: 6px 8px 8px 12px;
            position: relative;
            margin-right: 12px;
            margin-top: 12px;

            // Cheaty way to get an opacified variable colour background
            &::before {
                content: '';
                border-radius: 20px;
                background-color: $tertiary-content;
                opacity: 0.15;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                // Pass through the pointer otherwise we have effectively put a whole div
                // on top of the component, which makes it hard to interact with buttons.
                pointer-events: none;
            }
        }

        .mx_AccessibleButton {
            background-image: url('$(res)/img/subtract.svg');
            width: 16px;
            height: 16px;
            margin-left: 8px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}
