.mx_ToggleSwitch {
    transition: background-color 0.20s ease-out 0.1s;

    width: $font-44px;
    height: $font-20px;
    border-radius: 1.5rem;
    padding: 2px;

    background-color: $togglesw-off-color;
    opacity: 0.5;
}

.mx_ToggleSwitch_enabled {
    cursor: pointer;
    opacity: 1;
}

.mx_ToggleSwitch.mx_ToggleSwitch_on {
    background-color: $togglesw-on-color;

    > .mx_ToggleSwitch_ball {
        left: calc(100% - $font-20px);
    }
}

.mx_ToggleSwitch_ball {
    position: relative;
    width: $font-20px;
    height: $font-20px;
    border-radius: $font-20px;
    background-color: $togglesw-ball-color;
    transition: left 0.15s ease-out 0.1s;
    left: 0;
}
