.mx_TooltipButton {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 5px;

    border: 2px solid $neutral-badge-color;
    border-radius: 20px;
    color: $neutral-badge-color;

    transition: opacity 0.2s ease-in;
    opacity: 0.6;

    line-height: $font-11px;
    text-align: center;

    cursor: pointer;
}

.mx_TooltipButton:hover {
    opacity: 1.0;
}

.mx_TooltipButton_container {
    position: relative;
    top: -18px;
    left: 4px;
}

.mx_TooltipButton_helpText {
    width: 400px;
    text-align: start;
    line-height: 17px !important;
}

