@keyframes mx_fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mx_fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

.mx_Tooltip_chevron {
    position: absolute;
    left: -7px;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $menu-border-color;
    border-bottom: 7px solid transparent;
}

.mx_Tooltip_chevron::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid $menu-bg-color;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: -6px;
    left: 1px;
}

.mx_Tooltip {
    display: none;
    position: fixed;
    border-radius: $border-radius-8px;
    box-shadow: 4px 4px 12px 0 $menu-box-shadow-color;
    z-index: 6000; // Higher than context menu so tooltips can be used everywhere
    padding: 10px;
    pointer-events: none;
    line-height: $font-14px;
    font-size: $font-12px;
    font-weight: 500;
    max-width: 200px;
    word-break: break-word;
    margin-right: 50px;

    background-color: $inverted-bg-color;
    color: $accent-fg-color;
    border: 0;
    text-align: center;

    .mx_Tooltip_chevron {
        display: none;
    }

    &.mx_Tooltip_visible {
        animation: mx_fadein 0.2s forwards;
    }

    &.mx_Tooltip_invisible {
        animation: mx_fadeout 0.1s forwards;
    }
}

// These tooltips use an older style with a chevron
.mx_Field_tooltip {
    background-color: $menu-bg-color;
    color: $primary-content;
    border: 1px solid $menu-border-color;
    text-align: unset;

    .mx_Tooltip_chevron {
        display: unset;
    }
}

.mx_Tooltip_title {
    font-weight: 600;
}

.mx_Tooltip_sub {
    opacity: 0.7;
    margin-top: 4px;
}
