.mx_Validation {
    position: relative;
}

.mx_Validation_details {
    padding-left: 20px;
    margin: 0;
}

.mx_Validation_description + .mx_Validation_details {
    margin: 1em 0 0;
}

.mx_Validation_detail {
    position: relative;
    font-weight: normal;
    list-style: none;
    margin-bottom: 0.5em;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        top: 0;
        left: -18px;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
    }

    &.mx_Validation_valid {
        color: $input-valid-border-color;

        &::before {
            mask-image: url('$(res)/img/feather-customised/check.svg');
            background-color: $input-valid-border-color;
        }
    }

    &.mx_Validation_invalid {
        color: $input-invalid-border-color;

        &::before {
            mask-image: url('$(res)/img/feather-customised/x.svg');
            background-color: $input-invalid-border-color;
        }
    }
}
