.mx_MessageContextMenu {

    .mx_IconizedContextMenu_icon {
        width: 16px;
        height: 16px;
        display: block;

        &::before {
            content: '';
            width: 16px;
            height: 16px;
            display: block;
            mask-position: center;
            mask-size: contain;
            mask-repeat: no-repeat;
            background: $primary-content;
        }
    }

    .mx_MessageContextMenu_iconCollapse::before {
        mask-image: url('$(res)/img/element-icons/message/chevron-up.svg');
    }

    .mx_MessageContextMenu_iconReport::before {
        mask-image: url('$(res)/img/element-icons/warning-badge.svg');
    }

    .mx_MessageContextMenu_iconLink::before {
        mask-image: url('$(res)/img/element-icons/link.svg');
    }

    .mx_MessageContextMenu_iconPermalink::before {
        mask-image: url('$(res)/img/element-icons/room/share.svg');
    }

    .mx_MessageContextMenu_iconUnhidePreview::before {
        mask-image: url('$(res)/img/element-icons/settings/appearance.svg');
    }

    .mx_MessageContextMenu_iconForward::before {
        mask-image: url('$(res)/img/element-icons/message/fwd.svg');
    }

    .mx_MessageContextMenu_iconRedact::before {
        mask-image: url('$(res)/img/element-icons/trashcan.svg');
    }

    .mx_MessageContextMenu_iconResend::before {
        mask-image: url('$(res)/img/element-icons/retry.svg');
    }

    .mx_MessageContextMenu_iconSource::before {
        mask-image: url('$(res)/img/element-icons/room/format-bar/code.svg');
    }

    .mx_MessageContextMenu_iconQuote::before {
        mask-image: url('$(res)/img/element-icons/room/format-bar/quote.svg');
    }

    .mx_MessageContextMenu_iconPin::before {
        mask-image: url('$(res)/img/element-icons/room/pin-upright.svg');
    }

    .mx_MessageContextMenu_iconUnpin::before {
        mask-image: url('$(res)/img/element-icons/room/pin.svg');
    }
}
