.mx_StatusMessageContextMenu {
    padding: 10px;
}

.mx_StatusMessageContextMenu_form {
    display: flex;
    flex-direction: column;
}

input.mx_StatusMessageContextMenu_message {
    border-radius: $border-radius-4px;
    border: 1px solid $input-border-color;
    padding: 6.5px 11px;
    background-color: $background;
    font-weight: normal;
    margin: 0 0 10px;
}

.mx_StatusMessageContextMenu_message::placeholder {
    color: $memberstatus-placeholder-color;
}

.mx_StatusMessageContextMenu_actionContainer {
    display: flex;
}

.mx_StatusMessageContextMenu_submit,
.mx_StatusMessageContextMenu_clear {
    @mixin mx_DialogButton;
    align-self: start;
    font-size: $font-12px;
    padding: 6px 1em;
    border: 1px solid transparent;
    margin-right: 10px;
}

.mx_StatusMessageContextMenu_submit[disabled] {
    opacity: 0.49;
}

.mx_StatusMessageContextMenu_clear {
    color: $warning-color;
    background-color: transparent;
    border: 1px solid $warning-color;
}

.mx_StatusMessageContextMenu_actionContainer .mx_Spinner {
    justify-content: flex-start;
}
