.mx_TagTileContextMenu_item {
    padding: 8px;
    padding-right: 20px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: $font-16px;
}

.mx_TagTileContextMenu_item::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin-right: 8px;
}

.mx_TagTileContextMenu_viewCommunity::before {
    mask-image: url('$(res)/img/element-icons/view-community.svg');
}

.mx_TagTileContextMenu_moveUp::before {
    transform: rotate(180deg);
    mask-image: url('$(res)/img/feather-customised/chevron-down.svg');
}

.mx_TagTileContextMenu_moveDown::before {
    mask-image: url('$(res)/img/feather-customised/chevron-down.svg');
}

.mx_TagTileContextMenu_hideCommunity::before {
    mask-image: url('$(res)/img/element-icons/hide.svg');
}

.mx_TagTileContextMenu_createSpace::before {
    mask-image: url('$(res)/img/element-icons/message/fwd.svg');
}

.mx_TagTileContextMenu_separator {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: $menu-border-color;
}
