.mx_AccessSecretStorageDialog_reset {
    position: relative;
    padding-left: 24px; // 16px icon + 8px padding
    margin-top: 7px; // vertical alignment to buttons

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        height: 16px;
        width: 16px;
        left: 0;
        top: 2px; // alignment
        background-image: url("$(res)/img/element-icons/warning-badge.svg");
        background-size: contain;
    }

    .mx_AccessSecretStorageDialog_reset_link {
        color: $warning-color;
    }
}

.mx_AccessSecretStorageDialog_titleWithIcon::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    position: relative;
    top: 5px;
    background-color: $primary-content;
}

.mx_AccessSecretStorageDialog_resetBadge::before {
    // The image isn't capable of masking, so we use a background instead.
    background-image: url("$(res)/img/element-icons/warning-badge.svg");
    background-size: 24px;
    background-color: transparent;
}

.mx_AccessSecretStorageDialog_secureBackupTitle::before {
    mask-image: url('$(res)/img/feather-customised/secure-backup.svg');
}

.mx_AccessSecretStorageDialog_securePhraseTitle::before {
    mask-image: url('$(res)/img/feather-customised/secure-phrase.svg');
}

.mx_AccessSecretStorageDialog_keyStatus {
    height: 30px;
}

.mx_AccessSecretStorageDialog_passPhraseInput {
    width: 300px;
    border: 1px solid $accent-color;
    border-radius: $border-radius-5px;
    padding: 10px;
}

.mx_AccessSecretStorageDialog_recoveryKeyEntry {
    display: flex;
    align-items: center;
}

.mx_AccessSecretStorageDialog_recoveryKeyEntry_textInput {
    flex-grow: 1;
}

.mx_AccessSecretStorageDialog_recoveryKeyEntry_entryControlSeparatorText {
    margin: 16px;
}

.mx_AccessSecretStorageDialog_recoveryKeyFeedback {
    &::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 20px;
        height: 20px;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 20px;
        margin-right: 5px;
    }
}

.mx_AccessSecretStorageDialog_recoveryKeyFeedback_valid {
    color: $input-valid-border-color;
    &::before {
        mask-image: url('$(res)/img/feather-customised/check.svg');
        background-color: $input-valid-border-color;
    }
}

.mx_AccessSecretStorageDialog_recoveryKeyFeedback_invalid {
    color: $input-invalid-border-color;
    &::before {
        mask-image: url('$(res)/img/feather-customised/x.svg');
        background-color: $input-invalid-border-color;
    }
}

.mx_AccessSecretStorageDialog_recoveryKeyEntry_fileInput {
    display: none;
}
