.mx_RestoreKeyBackupDialog_keyStatus {
    height: 30px;
}

.mx_RestoreKeyBackupDialog_primaryContainer {
    /* FIXME: plinth colour in new theme(s). background-color: $accent-color; */
    padding: 20px;
}

.mx_RestoreKeyBackupDialog_passPhraseInput,
.mx_RestoreKeyBackupDialog_recoveryKeyInput {
    width: 300px;
    border: 1px solid $accent-color;
    border-radius: $border-radius-5px;
    padding: 10px;
}

.mx_RestoreKeyBackupDialog_content > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 110px; /* Empirically measured */
}
