/**
 * React Transition Group animations are prefixed with 'mx_rtg--' so that we
 * know they should not be used anywhere outside of React Transition Groups.
*/

.mx_rtg--fade-enter {
    opacity: 0;
}
.mx_rtg--fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease;
}
.mx_rtg--fade-exit {
    opacity: 1;
}
.mx_rtg--fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease;
}


@keyframes mx--anim-pulse {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}


@media (prefers-reduced-motion) {
    @keyframes mx--anim-pulse {
        // Override all keyframes in reduced-motion
    }
    .mx_rtg--fade-enter-active {
        transition: none;
    }
    .mx_rtg--fade-exit-active {
        transition: none;
    }
}
