.mx_DevicesPanel {
    display: table;
    table-layout: fixed;
    width: 880px;
    border-spacing: 10px;
}

.mx_DevicesPanel_header {
    display: table-header-group;
    font-weight: bold;
}

.mx_DevicesPanel_header > .mx_DevicesPanel_deviceButtons {
    height: 48px; // make this tall so the table doesn't move down when the delete button appears
}

.mx_DevicesPanel_header > div {
    display: table-cell;
    vertical-align: middle;
}

.mx_DevicesPanel_header .mx_DevicesPanel_deviceName {
    width: 50%;
}

.mx_DevicesPanel_header .mx_DevicesPanel_deviceLastSeen {
    width: 30%;
}

.mx_DevicesPanel_header .mx_DevicesPanel_deviceButtons {
    width: 20%;
}

.mx_DevicesPanel_device {
    display: table-row;
}

.mx_DevicesPanel_device > div {
    display: table-cell;
}

.mx_DevicesPanel_myDevice {
    font-weight: bold;
}
