.mx_IntegrationManager .mx_Dialog {
    width: 60%;
    height: 70%;
    overflow: hidden;
    padding: 0px;
    max-width: initial;
    max-height: initial;
}

.mx_IntegrationManager iframe {
    background-color: #fff;
    border: 0px;
    width: 100%;
    height: 100%;
}

.mx_IntegrationManager_loading h3 {
    text-align: center;
}

.mx_IntegrationManager_error {
    text-align: center;
    padding-top: 20px;
}

.mx_IntegrationManager_error h3 {
    color: $warning-color;
}
