.mx_LayoutSwitcher {
    .mx_LayoutSwitcher_RadioButtons {
        display: flex;
        flex-direction: row;
        gap: 12px;

        color: $primary-content;
        margin-top: 16px;

        > .mx_LayoutSwitcher_RadioButton {
            flex-grow: 0;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;

            width: 300px;

            border: 1px solid $appearance-tab-border-color;
            border-radius: $border-radius-10px;

            .mx_EventTile_msgOption,
            .mx_MessageActionBar {
                display: none;
            }

            .mx_LayoutSwitcher_RadioButton_preview {
                flex-grow: 1;
                display: flex;
                align-items: center;
                padding: 10px;
                pointer-events: none;
            }

            .mx_RadioButton {
                flex-grow: 0;
                padding: 10px;
            }

            .mx_EventTile_content {
                margin-right: 0;
            }

            &.mx_LayoutSwitcher_RadioButton_selected {
                border-color: $accent-color;
            }
        }

        .mx_RadioButton {
            border-top: 1px solid $appearance-tab-border-color;

            > input + div {
                border-color: rgba($muted-fg-color, 0.2);
            }
        }

        .mx_RadioButton_checked {
            background-color: rgba($accent-color, 0.08);
        }

        .mx_EventTile {
            margin: 0;
            &[data-layout=bubble] {
                margin-top: -6px;
            }
            &[data-layout=irc] {
                > a {
                    display: none;
                }
            }
            .mx_EventTile_line {
                max-width: 90%;
            }
        }
    }

    .mx_LayoutSwitcher_Checkboxes {
        color: $primary-content;
        margin-top: 16px;

        .mx_Checkbox {
            margin-bottom: 8px;
        }
    }
}
