.mx_UserNotifSettings {
    color: $primary-content; // override from default settings page styles

    .mx_UserNotifSettings_pushRulesTable {
        width: calc(100% + 12px); // +12px to line up center of 'Noisy' column with toggle switches
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 40px;

        tr > th {
            font-weight: $font-semi-bold;
        }

        tr > th:first-child {
            text-align: left;
            font-size: $font-18px;
        }

        tr > th:nth-child(n + 2) {
            color: $secondary-content;
            font-size: $font-12px;
            vertical-align: middle;
            width: 66px;
        }

        tr > td:nth-child(n + 2) {
            text-align: center;
        }

        tr > td {
            padding-top: 8px;
        }

        // Override StyledRadioButton default styles
        .mx_RadioButton {
            justify-content: center;

            .mx_RadioButton_content {
                display: none;
            }

            .mx_RadioButton_spacer {
                display: none;
            }
        }
    }

    .mx_UserNotifSettings_floatingSection {
        margin-top: 40px;

        & > div:first-child { // section header
            font-size: $font-18px;
            font-weight: $font-semi-bold;
        }

        > table {
            border-collapse: collapse;
            border-spacing: 0;
            margin-top: 8px;

            tr > td:first-child {
                // Just for a bit of spacing
                padding-right: 8px;
            }
        }
    }

    .mx_UserNotifSettings_clearNotifsButton {
        margin-top: 8px;
    }

    .mx_TagComposer {
        margin-top: 35px; // lots of distance from the last line of the table
    }
}
