.mx_ProfileSettings_controls_topic {
    & > textarea {
        font-family: inherit;
        resize: vertical;
    }
}

.mx_ProfileSettings_profile {
    display: flex;
}

.mx_ProfileSettings_controls {
    flex-grow: 1;
    margin-right: 54px;

    // We put the header under the controls with some minor styling to cheat
    // alignment of the field with the avatar
    .mx_SettingsTab_subheading {
        margin-top: 0;
    }
}

.mx_ProfileSettings_controls .mx_Field #profileTopic {
    height: 4em;
}

.mx_ProfileSettings_controls .mx_Field:first-child {
    margin-top: 0;
}

.mx_ProfileSettings_hostingSignup {
    margin-left: 20px;

    img {
        margin-left: 5px;
    }
}

.mx_ProfileSettings_avatarUpload {
    display: none;
}

.mx_ProfileSettings_profileForm {
    @mixin mx_Settings_fullWidthField;
    border-bottom: 1px solid $menu-border-color;
}

.mx_ProfileSettings_buttons {
    margin-top: 10px; // 18px is already accounted for by the <p> above the buttons
    margin-bottom: 28px;

    > .mx_AccessibleButton_kind_link {
        padding-left: 0; // to align with left side
    }
}
