.mx_SecureBackupPanel_sigValid, .mx_SecureBackupPanel_sigInvalid,
.mx_SecureBackupPanel_deviceVerified, .mx_SecureBackupPanel_deviceNotVerified {
    font-weight: bold;
}

.mx_SecureBackupPanel_sigValid, .mx_SecureBackupPanel_deviceVerified {
    color: $e2e-verified-color;
}

.mx_SecureBackupPanel_sigInvalid, .mx_SecureBackupPanel_deviceNotVerified {
    color: $e2e-warning-color;
}

.mx_SecureBackupPanel_deviceName {
    font-style: italic;
}

.mx_SecureBackupPanel_buttonRow {
    margin: 1em 0;

    :nth-child(n + 1) {
        margin-inline-end: 10px;
    }
}

.mx_SecureBackupPanel_statusList {
    border-spacing: 0;

    td {
        padding: 0;

        &:first-of-type {
            padding-inline-end: 1em;
        }
    }
}
