.mx_SetIntegrationManager {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx_SetIntegrationManager > .mx_SettingsTab_heading {
    margin-bottom: 10px;
}

.mx_SetIntegrationManager > .mx_SettingsTab_heading > .mx_SettingsTab_subheading {
    display: inline-block;
    padding-left: 5px;
}

.mx_SetIntegrationManager .mx_ToggleSwitch {
    display: inline-block;
    float: right;
    top: 9px;

    @mixin mx_Settings_fullWidthField;
}
