.mx_CallView {
border-radius: $border-radius-8px;
    background-color: $dark-panel-bg-color;
    padding-left: 8px;
    padding-right: 8px;
    // XXX: CallContainer sets pointer-events: none - should probably be set back in a better place
    pointer-events: initial;
}

.mx_CallView_large {
    padding-bottom: 10px;
    margin: 5px 5px 5px 18px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .mx_CallView_voice {
        flex: 1;
    }
}

.mx_CallView_pip {
    width: 320px;
    padding-bottom: 8px;
    background-color: $system;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.20);
    border-radius: $border-radius-8px;

    .mx_CallView_video_hold,
    .mx_CallView_voice {
        height: 180px;
    }

    .mx_CallViewButtons {
        bottom: 0px;
    }

    .mx_CallViewButtons_button {
        &::before {
            width: 36px;
            height: 36px;
        }
    }

    .mx_CallView_holdTransferContent {
        padding-top: 10px;
        padding-bottom: 25px;
    }
}

.mx_CallView_content {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 8px;

    > .mx_VideoFeed {
        width: 100%;
        height: 100%;
        border-width: 0 !important; // Override mx_VideoFeed_speaking

        &.mx_VideoFeed_voice {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mx_VideoFeed_video {
            height: 100%;
            background-color: #000;
        }

        .mx_VideoFeed_mic {
            left: 10px;
            bottom: 10px;
        }
    }
}

.mx_CallView_voice {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $inverted-bg-color;
}

.mx_CallView_voice_avatarsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div {
        margin-left: 12px;
        margin-right: 12px;
    }
}

.mx_CallView_voice .mx_CallView_holdTransferContent {
    // This masks the avatar image so when it's blurred, the edge is still crisp
    .mx_CallView_voice_avatarContainer {
        border-radius: 2000px;
        overflow: hidden;
        position: relative;
    }
}

.mx_CallView_holdTransferContent {
    height: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: $accent-fg-color;
    .mx_AccessibleButton_hasKind {
        padding: 0px;
        font-weight: bold;
    }
}

.mx_CallView_video {
    width: 100%;
    height: 100%;
    z-index: 30;
    overflow: hidden;
}

.mx_CallView_video_hold {
    overflow: hidden;

    // we keep these around in the DOM: it saved wiring them up again when the call
    // is resumed and keeps the container the right size
    .mx_VideoFeed {
        visibility: hidden;
    }
}

.mx_CallView_video_holdBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.mx_CallView_video .mx_CallView_holdTransferContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: $accent-fg-color;
    text-align: center;

    &::before {
        display: block;
        margin-left: auto;
        margin-right: auto;
        content: '';
        width: 40px;
        height: 40px;
        background-image: url('$(res)/img/voip/paused.svg');
        background-position: center;
        background-size: cover;
    }
    .mx_CallView_pip &::before {
        width: 30px;
        height: 30px;
    }
    .mx_AccessibleButton_hasKind {
        padding: 0px;
    }
}


.mx_CallView_presenting {
    opacity: 1;
    transition: opacity 0.5s;

    position: absolute;
    margin-top: 18px;
    padding: 4px 8px;
    border-radius: 4px;

    // Same on both themes
    color: white;
    background-color: #17191c;
}

.mx_CallView_presenting_hidden {
    opacity: 0.001; // opacity 0 can cause a re-layout
    pointer-events: none;
}
