.mx_CallViewForRoom {
    overflow: hidden;

    .mx_CallViewForRoom_ResizeWrapper {
        display: flex;
        margin-bottom: 8px;

        &:hover .mx_CallViewForRoom_ResizeHandle {
            // Need to use important to override element style attributes
            // set by re-resizable
            width: 100% !important;

            display: flex;
            justify-content: center;

            &::after {
                content: '';
                margin-top: 3px;

                border-radius: 4px;

                height: 4px;
                width: 100%;
                max-width: 64px;

                background-color: $primary-content;
            }
        }
    }
}
