.mx_DialPadContextMenu_dialPad .mx_DialPad {
    row-gap: 16px;
    column-gap: 32px;
}

.mx_DialPadContextMenuWrapper {
    padding: 15px;
}

.mx_DialPadContextMenu_header {
    border: none;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;

    /* a separator between the input line and the dial buttons */
    border-bottom: 1px solid $quaternary-content;
    transition: border-bottom 0.25s;
}

.mx_DialPadContextMenu_cancel {
    float: right;
    mask: url('$(res)/img/feather-customised/cancel.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    width: 14px;
    height: 14px;
    background-color: $dialog-close-fg-color;
    cursor: pointer;
}

.mx_DialPadContextMenu_header:focus-within {
    border-bottom: 1px solid $accent-color;
}

.mx_DialPadContextMenu_title {
    color: $muted-fg-color;
    font-size: 12px;
    font-weight: 600;
}

.mx_DialPadContextMenu_dialled {
    height: 1.5em;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin: 0px;
}
.mx_DialPadContextMenu_dialled input {
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    max-width: 185px;
    text-align: left;
    padding: 8px 0px;
    background-color: rgb(0, 0, 0, 0);
}

.mx_DialPadContextMenu_dialPad {
    margin: 16px;
}
