.mx_VideoFeed {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border: transparent 2px solid;
    display: flex;

    &.mx_VideoFeed_voice {
        background-color: $inverted-bg-color;
        aspect-ratio: 16 / 9;
    }

    &.mx_VideoFeed_speaking {
        border: $accent-color 2px solid;

        .mx_VideoFeed_video {
            border-radius: 0;
        }
    }

    .mx_VideoFeed_video {
        width: 100%;
        background-color: transparent;

        &.mx_VideoFeed_video_mirror {
            transform: scale(-1, 1);
        }
    }

    .mx_VideoFeed_mic {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;

        background-color: rgba(0, 0, 0, 0.5); // Same on both themes
        border-radius: 100%;

        &::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            background-color: white; // Same on both themes
            border-radius: 7px;
        }

        &.mx_VideoFeed_mic_muted::before {
            mask-image: url('$(res)/img/voip/mic-muted.svg');
        }

        &.mx_VideoFeed_mic_unmuted::before {
            mask-image: url('$(res)/img/voip/mic-unmuted.svg');
        }
    }
}
