// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"
#include "Pods/Target Support Files/Pods-ChatPods-ChatShareExtension/Pods-ChatPods-ChatShareExtension.release.xcconfig"

PROVISIONING_PROFILE = $(SHARE_EXTENSION_PROVISIONING_PROFILE)
PROVISIONING_PROFILE_SPECIFIER = $(SHARE_EXTENSION_PROVISIONING_PROFILE_SPECIFIER)

COPY_PHASE_STRIP = NO
