.mx_SpacePublicShare {
    .mx_AccessibleButton {
        @mixin SpacePillButton;

        &.mx_SpacePublicShare_shareButton::before {
            mask-image: url('$(res)/img/element-icons/link.svg');
        }

        &.mx_SpacePublicShare_inviteButton::before {
            mask-image: url('$(res)/img/element-icons/room/invite.svg');
        }
    }
}
