$spacePanelWidth: 71px;

.mx_SpaceCreateMenu_wrapper {
    // background blur everything except SpacePanel
    .mx_ContextualMenu_background {
        background-color: $dialog-backdrop-color;
        opacity: 0.6;
        left: $spacePanelWidth;
    }

    .mx_ContextualMenu {
        padding: 24px;
        width: 480px;
        box-sizing: border-box;
        background-color: $background;
        position: relative;

        > div {
            > h2 {
                font-weight: $font-semi-bold;
                font-size: $font-18px;
                margin-top: 4px;
            }

            > p {
                font-size: $font-15px;
                color: $secondary-content;
            }

            .mx_SpaceFeedbackPrompt {
                border-top: 1px solid $input-border-color;
                padding-top: 12px;
                margin-top: 16px;
            }
        }

        .mx_SpaceCreateMenuType {
            @mixin SpacePillButton;
        }

        .mx_SpaceCreateMenuType_public::before {
            mask-image: url('$(res)/img/globe.svg');
        }
        .mx_SpaceCreateMenuType_private::before {
            mask-image: url('$(res)/img/element-icons/lock.svg');
        }

        .mx_SpaceCreateMenu_back {
            width: 28px;
            height: 28px;
            position: relative;
            background-color: $roomlist-button-bg-color;
            border-radius: 14px;
            margin-bottom: 12px;

            &::before {
                content: "";
                position: absolute;
                height: 28px;
                width: 28px;
                top: 0;
                left: 0;
                background-color: $tertiary-content;
                transform: rotate(90deg);
                mask-repeat: no-repeat;
                mask-position: 2px 3px;
                mask-size: 24px;
                mask-image: url('$(res)/img/feather-customised/chevron-down.svg');
            }
        }

        .mx_AccessibleButton_kind_primary {
            padding: 8px 22px;
            margin-left: auto;
            display: block;
            width: min-content;
        }

        .mx_AccessibleButton_kind_link {
            padding: 0;
            font-size: inherit;
        }

        .mx_AccessibleButton_disabled {
            cursor: not-allowed;
        }
    }
}

.mx_SpaceFeedbackPrompt {
    font-size: $font-15px;
    line-height: $font-24px;

    > span {
        color: $secondary-content;
        position: relative;
        font-size: inherit;
        line-height: inherit;
        margin-right: auto;
    }

    .mx_AccessibleButton_kind_link {
        color: $accent-color;
        position: relative;
        padding: 0;
        margin-left: 8px;
        font-size: inherit;
        line-height: inherit;
    }
}
