// TODO: Update design for custom tags to match new designs

.mx_CustomRoomTagPanel {
    background-color: $groupFilterPanel-bg-color;
    max-height: 40vh;
}

.mx_CustomRoomTagPanel_scroller {
    max-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mx_CustomRoomTagPanel .mx_AccessibleButton {
    margin: 0 auto;
    width: 40px;
    padding: 10px 0 9px 0;
    position: relative;
}

.mx_CustomRoomTagPanel .mx_BaseAvatar_image {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.mx_CustomRoomTagPanel .mx_AccessibleButton.CustomRoomTagPanel_tileSelected::before {
    content: '';
    height: 56px;
    background-color: $accent-color-alt;
    width: 5px;
    position: absolute;
    left: -9px;
    border-radius: 0 $border-radius-3px $border-radius-3px 0;
    top: 5px; // just feels right (see comment above about designs needing to be updated)
}
