.mx_MainSplit {
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    height: 100%;
}

.mx_MainSplit > .mx_RightPanel_ResizeWrapper {
    padding: 5px;
    // margin left to not allow the handle to not encroach on the space for the scrollbar
    margin-left: 8px;
    height: calc(100vh - 51px); // height of .mx_RoomHeader.light-panel

    &:hover .mx_RightPanel_ResizeHandle {
        // Need to use important to override element style attributes
        // set by re-resizable
        top: 50% !important;
        transform: translate(0, -50%);

        height: 64px !important; // to match width of the ones on roomlist
        width: 4px !important;
        border-radius: $border-radius-4px !important;

        background-color: $primary-content;
        opacity: 0.8;
    }
}
