.mx_MatrixChat_splash {
    position: relative;
    height: 100%;
}

.mx_MatrixChat_splashButtons {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.mx_MatrixChat_wrapper {
    display: flex;

    width: 100%;
    height: 100%;
}

.mx_MatrixToolbar {
    order: 1;

    height: 40px;
}

.mx_MatrixChat {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;

    flex: 1;
    min-height: 0;
}

.mx_MatrixChat_syncError {
    color: $accent-fg-color;
    background-color: $warning-bg-color;
    border-radius: $border-radius-5px;
    display: table;
    padding: 30px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

/* not the left panel, and not the resize handle, so the roomview/groupview/... */
.mx_MatrixChat > :not(.mx_LeftPanel):not(.mx_SpacePanel):not(.mx_ResizeHandle):not(.mx_LeftPanel_wrapper) {
    background-color: $background;

    flex: 1 1 0;
    min-width: 0;

    /* To fix https://github.com/vector-im/element-web/issues/3298 where Safari
       needed height 100% all the way down to the HomePage. Height does not
       have to be auto, empirically.
    */
    height: 100%;
}

.mx_MatrixChat > .mx_ResizeHandle_horizontal:hover {
    position: relative;

    &::before {
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translate(0, -50%);

        height: 64px; // to match width of the ones on roomlist
        width: 4px;
        border-radius: $border-radius-4px;

        content: ' ';

        background-color: $primary-content;
        opacity: 0.8;
    }
}
