.mx_RightPanel {
    overflow-x: hidden;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-8px;
    padding: 4px 0;
    box-sizing: border-box;
    height: 100%;
    contain: strict;

    .mx_RoomView_MessageList {
        padding: 14px 18px; // top and bottom is 4px smaller to balance with the padding set above
    }
}

.mx_RightPanel_header {
    order: 1;
    border-bottom: 1px solid $primary-hairline-color;
    flex: 0 0 52px;
}

/** Fixme - factor this out with the main header **/

.mx_RightPanel_headerButtonGroup {
    height: 100%;
    display: flex;
    background-color: $background;
    padding: 0 9px;
    align-items: center;
}

.mx_RightPanel_headerButton {
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 1px;
    margin-right: 1px;
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 4px; // center with parent of 32px
        left: 4px; // center with parent of 32px
        height: 24px;
        width: 24px;
        background-color: $icon-button-color;
        mask-repeat: no-repeat;
        mask-size: contain;
    }

    &:hover {
        background: rgba($accent-color, 0.1);

        &::before {
            background-color: $accent-color;
        }
    }
}

.mx_RightPanel_notifsButton::before {
    mask-image: url('$(res)/img/element-icons/notifications.svg');
    mask-position: center;
}

.mx_RightPanel_roomSummaryButton::before {
    mask-image: url('$(res)/img/element-icons/room/room-summary.svg');
    mask-position: center;
}

.mx_RightPanel_groupMembersButton::before {
    mask-image: url('$(res)/img/element-icons/community-members.svg');
    mask-position: center;
}

.mx_RightPanel_roomsButton::before {
    mask-image: url('$(res)/img/element-icons/community-rooms.svg');
    mask-position: center;
}

$dot-size: 8px;
$pulse-color: $pinned-unread-color;

.mx_RightPanel_pinnedMessagesButton {
    &::before {
        mask-image: url('$(res)/img/element-icons/room/pin.svg');
        mask-position: center;
    }

    .mx_RightPanel_pinnedMessagesButton_unreadIndicator {
        position: absolute;
        right: 0;
        top: 0;
        margin: 4px;
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;
        transform: scale(1);
        background: rgba($pulse-color, 1);
        box-shadow: 0 0 0 0 rgba($pulse-color, 1);
        animation: mx_RightPanel_indicator_pulse 2s infinite;
        animation-iteration-count: 1;

        &::after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            top: 0;
            left: 0;
            transform: scale(1);
            transform-origin: center center;
            animation-name: mx_RightPanel_indicator_pulse_shadow;
            animation-duration: inherit;
            animation-iteration-count: inherit;
            border-radius: 50%;
            background: rgba($pulse-color, 1);
        }
    }
}

@keyframes mx_RightPanel_indicator_pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes mx_RightPanel_indicator_pulse_shadow {
    0% {
        opacity: 0.7;
    }

    70% {
        transform: scale(2.2);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.mx_RightPanel_headerButton_highlight {
    &::before {
        background-color: $accent-color !important;
    }
}

.mx_RightPanel_headerButton_badge {
    font-size: $font-8px;
    border-radius: $border-radius-8px;
    color: $accent-fg-color;
    background-color: $accent-color;
    font-weight: bold;
    position: absolute;
    top: -4px;
    left: 20px;
    padding: 2px 4px;
}

.mx_RightPanel_collapsebutton {
    flex: 1;
    text-align: right;
    height: 16px;
    border: none;
}

.mx_RightPanel .mx_MemberList,
.mx_RightPanel .mx_MemberInfo,
.mx_RightPanel .mx_GroupRoomList,
.mx_RightPanel_blank {
    order: 2;
    flex: 1 1 0;
}

.mx_RightPanel .mx_RoomView_messagePanelSpinner {
    order: 2;
    margin: auto;
}

.mx_RightPanel_empty {
    margin-right: -28px;

    h2 {
        font-weight: 700;
        margin: 16px 0;
    }

    h2, p {
        font-size: $font-14px;
    }

    &::before {
        content: '';
        display: block;
        margin: 11px auto 29px auto;
        height: 42px;
        width: 42px;
        background-color: $rightpanel-button-color;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
    }
}

.mx_RightPanel_scopeHeader {
    margin: 24px;
    text-align: center;
    font-weight: $font-semi-bold;
    font-size: $font-18px;
    line-height: $font-22px;

    .mx_BaseAvatar {
        margin-right: 8px;
        vertical-align: middle;
    }

    .mx_BaseAvatar_image {
        border-radius: 8px;
    }
}
