// Note: this component expects to be contained within a flexbox
.mx_RoomSearch {
    flex: 1;
    border-radius: $border-radius-8px;
    background-color: $roomlist-button-bg-color;
    // keep border thickness consistent to prevent movement
    border: 1px solid transparent;
    height: 28px;
    padding: 1px;

    // Create a flexbox for the icons (easier to manage)
    display: flex;
    align-items: center;

    .mx_RoomSearch_icon {
        width: 16px;
        height: 16px;
        mask: url('$(res)/img/element-icons/roomlist/search.svg');
        mask-repeat: no-repeat;
        background-color: $secondary-content;
        margin-left: 7px;
    }

    .mx_RoomSearch_input {
        border: none !important; // !important to override default app-wide styles
        flex: 1 !important; // !important to override default app-wide styles
        color: $primary-content !important; // !important to override default app-wide styles
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: $font-12px;
        line-height: $font-16px;

        &:not(.mx_RoomSearch_inputExpanded)::placeholder {
            color: $tertiary-content !important; // !important to override default app-wide styles
        }
    }

    &.mx_RoomSearch_hasQuery {
        border-color: $secondary-content;
    }

    &.mx_RoomSearch_focused {
        border-color: $accent-color;
    }

    &.mx_RoomSearch_focused, &.mx_RoomSearch_hasQuery {
        background-color: $background;

        .mx_RoomSearch_clearButton {
            width: 16px;
            height: 16px;
            mask-image: url('$(res)/img/element-icons/roomlist/search-clear.svg');
            mask-position: center;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: $secondary-content;
            margin-right: 8px;
        }
    }

    .mx_RoomSearch_clearButton {
        width: 0;
        height: 0;
    }

    &.mx_RoomSearch_minimized {
        border-radius: 32px;
        height: auto;
        width: auto;
        padding: 8px;

        .mx_RoomSearch_icon {
            margin-left: 0;
        }
    }
}
