$topLevelHeight: 32px;
$nestedHeight: 24px;
$gutterSize: 16px;
$activeBorderTransparentGap: 1px;

$activeBackgroundColor: $roomtile-selected-bg-color;
$activeBorderColor: $secondary-content;

.mx_SpacePanel {
    background-color: $groupFilterPanel-bg-color;
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    position: relative;
    // Fix for the blurred avatar-background
    z-index: 1;

    // Create another flexbox so the Panel fills the container
    display: flex;
    flex-direction: column;

    .mx_SpacePanel_spaceTreeWrapper {
        flex: 1;
        padding: 8px 8px 16px 0;
    }

    .mx_SpacePanel_toggleCollapse {
        flex: 0 0 auto;
        width: 40px;
        height: 40px;
        mask-position: center;
        mask-size: 32px;
        mask-repeat: no-repeat;
        margin-left: $gutterSize;
        margin-bottom: 12px;
        background-color: $roomlist-header-color;
        mask-image: url('$(res)/img/element-icons/expand-space-panel.svg');

        &.expanded {
            transform: scaleX(-1);
        }
    }

    ul {
        margin: 0;
        list-style: none;
        padding: 0;

        > .mx_SpaceItem {
            padding-left: 16px;
        }
    }

    .mx_SpaceButton_toggleCollapse {
        cursor: pointer;
    }

    .mx_SpaceItem_dragging {
        .mx_SpaceButton_toggleCollapse {
            visibility: hidden;
        }
    }

    .mx_SpaceTreeLevel {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        flex-grow: 1;
    }

    .mx_SpaceItem {
        display: inline-flex;
        flex-flow: wrap;

        &.mx_SpaceItem_narrow {
            align-self: baseline;
        }
    }

    .mx_SpaceItem.collapsed {
        & > .mx_SpaceButton > .mx_SpaceButton_toggleCollapse {
            transform: rotate(-90deg);
        }

        & > .mx_SpaceTreeLevel {
            display: none;
        }
    }

    .mx_SpaceItem_new {
        position: relative;

        .mx_BetaDot {
            position: absolute;
            left: 33px;
            top: -5px;
        }
    }

    .mx_SpaceItem:not(.hasSubSpaces) > .mx_SpaceButton {
        margin-left: $gutterSize;
        min-width: 40px;
    }

    .mx_SpaceButton {
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 4px 4px 4px 0;
        width: 100%;
        cursor: pointer;

        &.mx_SpaceButton_active {
            &:not(.mx_SpaceButton_narrow) .mx_SpaceButton_selectionWrapper {
                background-color: $activeBackgroundColor;
            }

            &.mx_SpaceButton_narrow .mx_SpaceButton_selectionWrapper {
                padding: $activeBorderTransparentGap;
                border: 3px $activeBorderColor solid;
            }
        }

        .mx_SpaceButton_selectionWrapper {
            position: relative;
            display: flex;
            flex: 1;
            align-items: center;
            border-radius: 12px;
            padding: 4px;
        }

        &:not(.mx_SpaceButton_narrow) {
            .mx_SpaceButton_selectionWrapper {
                width: 100%;
                overflow: hidden;
                border-radius: $border-radius-8px;
            }
        }

        .mx_SpaceButton_name {
            flex: 1;
            margin-left: 8px;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: $font-14px;
            line-height: $font-18px;
        }

        .mx_SpaceButton_toggleCollapse {
            width: $gutterSize;
            height: 20px;
            mask-position: center;
            mask-size: 20px;
            mask-repeat: no-repeat;
            background-color: $roomlist-header-color;
            mask-image: url('$(res)/img/feather-customised/chevron-down.svg');
        }

        .mx_SpaceButton_icon {
            width: $topLevelHeight;
            min-width: $topLevelHeight;
            height: $topLevelHeight;
            border-radius: 8px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: $topLevelHeight;
                height: $topLevelHeight;
                top: 0;
                left: 0;
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: 18px;
            }
        }

        /// MARK - imzqqq, meta-spaces
        &.mx_SpaceButton_home,
        &.mx_SpaceButton_favourites,
        &.mx_SpaceButton_people,
        &.mx_SpaceButton_orphans {
            .mx_SpaceButton_icon {
                background-color: #ffffff;

                &::before {
                    background-color: #3f3d3d;
                }
            }
        }

        &.mx_SpaceButton_home .mx_SpaceButton_icon::before {
            mask-image: url('$(res)/img/element-icons/home.svg');
        }

        &.mx_SpaceButton_favourites .mx_SpaceButton_icon::before {
            mask-image: url('$(res)/img/element-icons/roomlist/favorite.svg');
        }

        &.mx_SpaceButton_people .mx_SpaceButton_icon::before {
            mask-image: url('$(res)/img/element-icons/room/members.svg');
        }

        &.mx_SpaceButton_orphans .mx_SpaceButton_icon::before {
            mask-image: url('$(res)/img/element-icons/roomlist/hash-circle.svg');
        }
        ///

        &.mx_SpaceButton_new .mx_SpaceButton_icon {
            background-color: $roomlist-button-bg-color;

            &::before {
                background-color: $primary-content;
                mask-image: url('$(res)/img/element-icons/plus.svg');
                transition: all .2s ease-in-out; // TODO transition
            }
        }

        &.mx_SpaceButton_newCancel .mx_SpaceButton_icon::before {
            transform: rotate(45deg);
        }

        .mx_BaseAvatar_image {
            border-radius: 8px;
        }

        .mx_SpaceButton_menuButton {
            width: 20px;
            min-width: 20px; // yay flex
            height: 20px;
            margin-top: auto;
            margin-bottom: auto;
            display: none;
            position: relative;

            &::before {
                top: 2px;
                left: 2px;
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                mask-position: center;
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-image: url('$(res)/img/element-icons/context-menu.svg');
                background: $primary-content;
            }
        }
    }

    .mx_SpacePanel_badgeContainer {
        // Create a flexbox to make aligning dot badges easier
        display: flex;
        align-items: center;

        .mx_NotificationBadge {
            margin: 0 2px; // centering
        }

        .mx_NotificationBadge_dot {
            // make the smaller dot occupy the same width for centering
            margin: 0 7px;
        }
    }

    &.collapsed {
        .mx_SpaceButton {
            .mx_SpacePanel_badgeContainer {
                position: absolute;
                right: 0;
                top: 0;

                .mx_NotificationBadge {
                    background-clip: padding-box;
                }

                .mx_NotificationBadge_dot {
                    margin: 0 -1px 0 0;
                    border: 3px solid $groupFilterPanel-bg-color;
                }

                .mx_NotificationBadge_2char,
                .mx_NotificationBadge_3char {
                    margin: -5px -5px 0 0;
                    border: 2px solid $groupFilterPanel-bg-color;
                }
            }

            &.mx_SpaceButton_active .mx_SpacePanel_badgeContainer {
                // when we draw the selection border we move the relative bounds of our parent
                // so update our position within the bounds of the parent to maintain position overall
                right: -3px;
                top: -3px;
            }
        }
    }

    &:not(.collapsed) {
        .mx_SpaceButton:hover,
        .mx_SpaceButton:focus-within,
        .mx_SpaceButton_hasMenuOpen {
            &:not(.mx_SpaceButton_invite) {
                // Hide the badge container on hover because it'll be a menu button
                .mx_SpacePanel_badgeContainer {
                    display: none;
                }

                .mx_SpaceButton_menuButton {
                    display: block;
                }
            }
        }
    }

    /* root space buttons are bigger and not indented */
    & > .mx_AutoHideScrollbar {
        & > .mx_SpaceButton {
            height: $topLevelHeight;

            &.mx_SpaceButton_active::before {
                height: $topLevelHeight;
            }
        }

        & > ul {
            padding-left: 0;
        }
    }
}

.mx_SpacePanel_contextMenu {
    .mx_SpacePanel_contextMenu_header {
        margin: 12px 16px 12px;
        font-weight: $font-semi-bold;
        font-size: $font-15px;
        line-height: $font-18px;
    }

    .mx_IconizedContextMenu_optionList .mx_AccessibleButton.mx_SpacePanel_contextMenu_inviteButton {
        color: $accent-color;

        .mx_SpacePanel_iconInvite::before {
            background-color: $accent-color;
            mask-image: url('$(res)/img/element-icons/room/invite.svg');
        }
    }

    .mx_SpacePanel_iconSettings::before {
        mask-image: url('$(res)/img/element-icons/settings.svg');
    }

    .mx_SpacePanel_iconLeave::before {
        mask-image: url('$(res)/img/element-icons/leave.svg');
    }

    .mx_SpacePanel_iconMembers::before {
        mask-image: url('$(res)/img/element-icons/room/members.svg');
    }

    .mx_SpacePanel_iconPlus::before {
        mask-image: url('$(res)/img/element-icons/roomlist/plus-circle.svg');
    }

    .mx_SpacePanel_iconHash::before {
        mask-image: url('$(res)/img/element-icons/roomlist/hash-circle.svg');
    }

    .mx_SpacePanel_iconExplore::before {
        mask-image: url('$(res)/img/element-icons/roomlist/browse.svg');
    }

    .mx_SpacePanel_noIcon {
        display: none;

        & + .mx_IconizedContextMenu_label {
            padding-left: 5px !important; // override default iconized label style to align with header
        }
    }
}


.mx_SpacePanel_sharePublicSpace {
    margin: 0;
}
