.mx_TabbedView {
    margin: 0;
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 8px;
}

.mx_TabbedView_tabsOnLeft {
    flex-direction: column;
    position: absolute;

    .mx_TabbedView_tabLabels {
        width: 170px;
        max-width: 170px;
        position: fixed;
    }

    .mx_TabbedView_tabPanel {
        margin-left: 240px; // 170px sidebar + 70px padding
        flex-direction: column;
    }

    .mx_TabbedView_tabLabel_active {
        background-color: $tab-label-active-bg-color;
        color: $tab-label-active-fg-color;
    }

    .mx_TabbedView_tabLabel_active .mx_TabbedView_maskedIcon::before {
        background-color: $tab-label-active-icon-bg-color;
    }

    .mx_TabbedView_maskedIcon {
        width: 16px;
        height: 16px;
        margin-left: 8px;
        margin-right: 16px;
    }

    .mx_TabbedView_maskedIcon::before {
        mask-size: 16px;
        width: 16px;
        height: 16px;
    }
}

.mx_TabbedView_tabsOnTop {
    flex-direction: column;

    .mx_TabbedView_tabLabels {
        display: flex;
        margin-bottom: 8px;
    }

    .mx_TabbedView_tabLabel {
        padding-left: 0px;
        padding-right: 52px;

        .mx_TabbedView_tabLabel_text {
            font-size: 15px;
            color: $tertiary-content;
        }
    }

    .mx_TabbedView_tabPanel {
        flex-direction: row;
    }

    .mx_TabbedView_tabLabel_active {
        color: $accent-color;
        .mx_TabbedView_tabLabel_text {
            color: $accent-color;
        }
    }

    .mx_TabbedView_tabLabel_active .mx_TabbedView_maskedIcon::before {
        background-color: $accent-color;
    }

    .mx_TabbedView_maskedIcon {
        width: 22px;
        height: 22px;
        margin-left: 0px;
        margin-right: 8px;
    }

    .mx_TabbedView_maskedIcon::before {
        mask-size: 22px;
        width: inherit;
        height: inherit;
    }
}

.mx_TabbedView_tabLabels {
    color: $tab-label-fg-color;
}

.mx_TabbedView_tabLabel {
    display: flex;
    align-items: center;
    vertical-align: text-top;
    cursor: pointer;
    padding: 8px 0;
    border-radius: $border-radius-8px;
    font-size: $font-13px;
    position: relative;
}

.mx_TabbedView_maskedIcon {
    display: inline-block;
}

.mx_TabbedView_maskedIcon::before {
    display: inline-block;
    background-color: $icon-button-color;
    mask-repeat: no-repeat;
    mask-position: center;
    content: '';
}

.mx_TabbedView_tabLabel_text {
    vertical-align: middle;
}

.mx_TabbedView_tabPanel {
    flex-grow: 1;
    display: flex;
    min-height: 0; // firefox
}

.mx_TabbedView_tabPanelContent {
    flex-grow: 1;
    overflow: auto;
    min-height: 0; // firefox
}
