.mx_ViewSource_separator {
    clear: both;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.mx_ViewSource_heading {
    font-size: $font-17px;
    font-weight: 400;
    color: $primary-content;
    margin-top: 0.7em;
}

.mx_ViewSource pre {
    text-align: left;
    font-size: $font-12px;
    padding: 0.5em 1em 0.5em 1em;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.mx_ViewSource_details {
    margin-top: 0.8em;
}
