{#
Copyright 2021 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% import "components/button.html" as button %}
{% import "components/field.html" as field %}
{% import "components/back_to_client.html" as back_to_client %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}matrix-authentication-service{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/tailwind.css">
  </head>
  <body class="bg-white text-black-900 dark:bg-black-800 dark:text-white flex flex-col min-h-screen">
    <nav class="container mx-auto py-2 flex-initial flex items-center px-2" role="navigation" aria-label="main navigation">
      {% block navbar_start %}{% endblock navbar_start %}

      <div class="flex-1"></div>

      {% block navbar_end %}
        <div class="grid grid-flow-col auto-cols-max gap-4 place-items-center">
          {% if current_session %}
            <div class="text-grey-200 dark:text-grey-250 mx-2">
              Logged in as <span class="font-bold">{{ current_session.user.username }}</span>.
            </div>

            {{ button::link(text="My account", href="/account") }}

            <form method="POST" action="/logout">
              <input type="hidden" name="csrf" value="{{ csrf_token }}" />
              {{ button::button_ghost(text="Log out", name="logout", type="submit") }}
            </form>
          {% else %}
            {{ button::link(text="Log in", href="/login") }}
            {{ button::link_ghost(text="Register", href="/register") }}
          {% endif %}
        </div>
      {% endblock navbar_end %}
    </nav>

    {% block content %}{% endblock content %}
  </body>
</html>
