.mx_AuthPage {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $authpage-bg-color;
}

.mx_AuthPage_modal {
    display: flex;
    margin: 100px auto auto;
    border-radius: $border-radius-4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
    background-color: $authpage-modal-bg-color;
}

@media only screen and (max-width: 480px) {
    .mx_AuthPage_modal {
        margin-top: 0;
    }
}
