.mx_CountryDropdown .mx_Dropdown_input .mx_Dropdown_option {
    padding: 0 3px;
}

.mx_CountryDropdown .mx_Dropdown_arrow {
    padding-right: 3px;
}

.mx_CountryDropdown_shortOption {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.mx_CountryDropdown_option {
    display: flex;
    align-items: center;
}
