.mx_InteractiveAuthEntryComponents_emailWrapper {
    padding-right: 100px;
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;

    &::before, &::after {
        position: absolute;
        width: 116px;
        height: 116px;
        content: "";
        right: -10px;
    }

    &::before {
        background-color: rgba(244, 246, 250, 0.91);
        border-radius: 50%;
        top: -20px;
    }

    &::after {
        background-image: url('$(res)/img/element-icons/email-prompt.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: -25px;
    }
}

.mx_InteractiveAuthEntryComponents_msisdnWrapper {
    text-align: center;
}

.mx_InteractiveAuthEntryComponents_msisdnEntry {
    font-size: 200%;
    font-weight: bold;
    border: 1px solid $strong-input-border-color;
    border-radius: $border-radius-3px;
    width: 6em;
}

.mx_InteractiveAuthEntryComponents_msisdnEntry:focus {
    border: 1px solid $accent-color;
}

.mx_InteractiveAuthEntryComponents_msisdnSubmit {
    margin-top: 4px;
    margin-bottom: 5px;
}

.mx_InteractiveAuthEntryComponents_termsSubmit {
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
}

// XXX: This should be a common button class
.mx_InteractiveAuthEntryComponents_msisdnSubmit:disabled {
    background-color: $light-fg-color;
    cursor: default;
}

.mx_InteractiveAuthEntryComponents_termsSubmit:disabled {
    background-color: $accent-color-darker;
    cursor: default;
}

.mx_InteractiveAuthEntryComponents_termsPolicy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mx_InteractiveAuthEntryComponents_passwordSection {
    width: 300px;
}

.mx_InteractiveAuthEntryComponents_sso_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;

    .mx_AccessibleButton {
        margin-left: 5px;
    }
}
