.mx_AuthBody_language {
    width: 100%;
}

.mx_AuthBody_language .mx_Dropdown_input {
    border: none;
    font-size: $font-14px;
    font-weight: 600;
    color: $authpage-lang-color;
    width: auto;
}

.mx_AuthBody_language .mx_Dropdown_arrow {
    background: $authpage-lang-color;
}
