.mx_Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    &.mx_WelcomePage_registrationDisabled {
        .mx_ButtonCreateAccount {
            display: none;
        }
    }
}

.mx_Welcome .mx_AuthBody_language {
    width: 160px;
    margin-bottom: 10px;
}
