// Dev note: there's no actual component called <PlaybackContainer />. These classes
// are shared amongst multiple voice message components.

// Container for live recording and playback controls
.mx_MediaBody.mx_VoiceMessagePrimaryContainer {
    // The waveform (right) has a 1px padding on it that we want to account for, otherwise
    // inherit from mx_MediaBody
    padding-right: 11px;

    // Cheat at alignment a bit
    display: flex;
    align-items: center;

    contain: content;

    .mx_Waveform {
        .mx_Waveform_bar {
            background-color: $voice-record-waveform-incomplete-fg-color;
            height: 100%;
            /* Variable set by a JS component */
            transform: scaleY(max(0.05, var(--barHeight)));

            &.mx_Waveform_bar_100pct {
                // Small animation to remove the mechanical feel of progress
                transition: background-color 250ms ease;
                background-color: $message-body-panel-fg-color;
            }
        }
    }

    .mx_Clock {
        width: $font-42px; // we're not using a monospace font, so fake it
        padding-right: 6px; // with the fixed width this ends up as a visual 8px most of the time, as intended.
        padding-left: 8px; // isolate from recording circle / play control
    }

    &.mx_VoiceMessagePrimaryContainer_noWaveform {
        max-width: 162px; // with all the padding this results in 185px wide
    }
}
