<div class="navbar {% if include.invisible %}no-color{% endif %}">
    <div class="navbar-logo">
        <button onClick="toggleMobileMenu()" class="navbar-button"><i class="fa fa-bars"></i></button>
        <a href="/">Flow</a>
    </div>
    <div id="menu" class="navbar-links">
        <a href="/about">About</a>
        <a href="/download">Download</a>
        <a href="/blog">Press</a>
        <a href="/docs">Documentation</a>
    </div>
</div>