// .mx_AppearanceUserSettingsTab_fontSlider,
// .mx_AppearanceUserSettingsTab_fontSlider_preview {
//     @mixin mx_Settings_fullWidthField;
// }

.mx_AppearanceUserSettingsTab{
    font-size: $font-14px;
}

.mx_AppearanceUserSettingsTab .mx_Field {
    width: 256px;
}

.mx_AppearanceUserSettingsTab_fontScaling {
    color: $primary-content;
}

.mx_AppearanceUserSettingsTab_fontSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background: rgba($appearance-tab-border-color, 0.2);
    border-radius: $border-radius-10px;
    font-size: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.mx_AppearanceUserSettingsTab_fontSlider_preview {
    border: 1px solid $appearance-tab-border-color;
    border-radius: $border-radius-10px;
    padding: 0 16px 9px 16px;
    pointer-events: none;
    display: flow-root;

    .mx_EventTile[data-layout=bubble] {
        margin-top: 3px;
    }

    .mx_EventTile_msgOption {
        display: none;
    }

    &.mx_IRCLayout {
        padding-top: 9px;
    }
}

.mx_AppearanceUserSettingsTab_fontSlider_smallText {
    font-size: 15px;
    padding-right: 20px;
    padding-left: 5px;
    font-weight: 500;
}

.mx_AppearanceUserSettingsTab_fontSlider_largeText {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 5px;
    font-weight: 500;
}

.mx_AppearanceUserSettingsTab_inlineCustomValues {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 64px;
}

.mx_AppearanceUserSettingsTab {
    > .mx_SettingsTab_SubHeading {
        margin-bottom: 32px;
    }
}

.mx_AppearanceUserSettingsTab_themeInUseSection,
.mx_AppearanceUserSettingsTab_RoomListStyleSection {
    color: $primary-content;
}

.mx_AppearanceUserSettingsTab_themeSection {
    $radio-bg-color: $input-darker-bg-color;
    color: $primary-content;

    > .mx_ThemeSelectors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -10px;

        > .mx_RadioButton {
            padding: $font-5px $font-10px;
            box-sizing: border-box;
            border-radius: $border-radius-10px;
            width: 150px;

            min-height: 5rem;
            display: flex;
            align-items: center;

            background: $radio-bg-color;
            opacity: 0.4;

            flex-shrink: 1;
            flex-grow: 0;

            margin-right: 10px;
            margin-top: 10px;

            font-weight: 600;
            color: $muted-fg-color;

            .mx_RadioButton_content {
                margin-right: 0
            }

            .mx_RadioButton_spacer {
                display: none;
            }

            > span {
                justify-content: center;
            }
        }

        > .mx_RadioButton_enabled {
            opacity: 1;

            // These colors need to be hardcoded because they don't change with the theme
            &.mx_ThemeSelector_light {
                background-color: #fafafa;
                color: #2e2f32;
            }

            &.mx_ThemeSelector_dark {
                // 5% lightened version of 181b21
                background-color: #303030;
                color: #ffffff;

                > input > div {
                    border-color: $input-darker-bg-color;
                    > div {
                        border-color: $input-darker-bg-color;
                    }
                }
            }

            &.mx_ThemeSelector_black {
                background-color: #000000;
                color: #fafafa;

                > input > div {
                    border-color: $input-darker-bg-color;
                    > div {
                        border-color: $input-darker-bg-color;
                    }
                }
            }
        }
    }
}

.mx_AppearanceUserSettingsTab_addCustomThemeSection {
    > form {
        display: flex;
        flex-direction: row;

        .mx_Field_input {
            margin: 0;
            margin-right: 10px;
        }
    }
}

.mx_AppearanceUserSettingsTab_userNameColorModeSection {
    .mx_SettingsTab_settingsTable {
        tr > th:first-child, tr > td:first-child {
            padding-right: 16px;
        }
    }
}

.mx_SettingsTab_customFontSizeField {
    margin-left: calc($font-16px + 10px);
}

.mx_AppearanceUserSettingsTab_systemFont {
    margin-left: calc($font-16px + 10px);
}

.mx_AppearanceUserSettingsTab_Advanced {
    color: $primary-content;

    .mx_AppearanceUserSettingsTab_AdvancedToggle {
        color: $accent-color;
        cursor: pointer;
        margin-bottom: 20px;
        font-size: $font-15px;
    }
}
