.mx_PreferencesUserSettingsTab {
    .mx_Field {
        @mixin mx_Settings_fullWidthField;
    }

    .mx_SettingsTab_section {
        margin-bottom: 30px;

        > details {
            > summary {
                cursor: pointer;
                color: $primary-content;
            }

            & + .mx_SettingsFlag {
                margin-top: 20px;
            }
        }
    }

    .mx_PreferencesUserSettingsTab_CommunityMigrator {
        margin-right: 200px;

        > div {
            font-weight: $font-semi-bold;
            font-size: $font-15px;
            line-height: $font-18px;
            color: $primary-content;
            margin: 16px 0;

            .mx_BaseAvatar {
                margin-right: 12px;
                vertical-align: middle;
            }

            .mx_AccessibleButton {
                float: right;
            }
        }
    }
}
