.mx_SecurityUserSettingsTab .mx_DevicesPanel {
    // Normally the panel is 880px, however this can easily overflow the container.
    // TODO: Fix the table to not be squishy
    width: auto;
    max-width: 880px;
}

.mx_SecurityUserSettingsTab_deviceInfo {
    display: table;
    padding-left: 0;
}

.mx_SecurityUserSettingsTab_deviceInfo > li {
    display: table-row;
}

.mx_SecurityUserSettingsTab_deviceInfo > li > label,
.mx_SecurityUserSettingsTab_deviceInfo > li > span {
    display: table-cell;
    padding-right: 1em;
}

.mx_SecurityUserSettingsTab_importExportButtons .mx_AccessibleButton {
    margin-right: 10px;
}

.mx_SecurityUserSettingsTab_bulkOptions .mx_AccessibleButton {
    margin-right: 10px;
}

.mx_SecurityUserSettingsTab_importExportButtons {
    margin-bottom: 15px;
}

.mx_SecurityUserSettingsTab_ignoredUser {
    margin-bottom: 5px;
}

.mx_SecurityUserSettingsTab_ignoredUser .mx_AccessibleButton {
    margin-right: 10px;
}

.mx_SecurityUserSettingsTab {
    .mx_SettingsTab_section {
        .mx_AccessibleButton_kind_link {
            padding: 0;
            font-size: inherit;
        }
    }

    .mx_SecurityUserSettingsTab_warning {
        color: $notice-primary-color;
        position: relative;
        padding-left: 40px;
        margin-top: 30px;

        &::before {
            mask-repeat: no-repeat;
            mask-position: 0 center;
            mask-size: $font-24px;
            position: absolute;
            width: $font-24px;
            height: $font-24px;
            content: "";
            top: 0;
            left: 0;
            background-color: $notice-primary-color;
            mask-image: url('$(res)/img/feather-customised/alert-triangle.svg');
        }
    }
}
