.mx_SidebarUserSettingsTab {
    .mx_SidebarUserSettingsTab_subheading {
        font-size: $font-15px;
        line-height: $font-24px;
        color: $primary-content;
        margin-bottom: 4px;
    }

    .mx_Checkbox {
        margin-top: 12px;
        font-size: $font-15px;
        line-height: $font-24px;
        color: $secondary-content;
    }

    .mx_SidebarUserSettingsTab_checkboxMicrocopy {
        margin-bottom: 12px;
        margin-left: 24px;
        font-size: $font-15px;
        line-height: $font-24px;
        color: $secondary-content;
    }

    .mx_SidebarUserSettingsTab_homeAllRoomsCheckbox {
        margin-left: 24px;

        & + div {
            margin-left: 48px;
        }
    }

    .mx_SidebarUserSettingsTab_homeCheckbox,
    .mx_SidebarUserSettingsTab_favouritesCheckbox,
    .mx_SidebarUserSettingsTab_peopleCheckbox,
    .mx_SidebarUserSettingsTab_orphansCheckbox {
        .mx_Checkbox_background + div {
            padding-left: 20px;
            position: relative;

            &::before {
                background-color: $secondary-content;
                content: "";
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                width: 16px;
                height: 16px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .mx_SidebarUserSettingsTab_homeCheckbox .mx_Checkbox_background + div::before {
        mask-image: url('$(res)/img/element-icons/home.svg');
    }

    .mx_SidebarUserSettingsTab_favouritesCheckbox .mx_Checkbox_background + div::before {
        mask-image: url('$(res)/img/element-icons/roomlist/favorite.svg');
    }

    .mx_SidebarUserSettingsTab_peopleCheckbox .mx_Checkbox_background + div::before {
        mask-image: url('$(res)/img/element-icons/room/members.svg');
    }

    .mx_SidebarUserSettingsTab_orphansCheckbox .mx_Checkbox_background + div::before {
        mask-image: url('$(res)/img/element-icons/roomlist/hash-circle.svg');
    }
}
