Package: element-nightly
Vendor: support@imqzzzZ
Architecture: amd64
Maintainer: imqzzZ
Depends: libgtk-3-0, libnotify4, libnss3, libxss1, libxtst6, xdg-utils, libatspi2.0-0, libuuid1, libsecret-1-0, libsqlcipher0
Recommends: libappindicator3-1
Section: net
Priority: extra
Homepage: https://chat.dingshunyu.top/
Description: 
 A feature-rich client for Chat (nightly unstable build).
