// import font-size variables manually, ideally this scss would get loaded by the theme which has all variables in context
@import "../../../node_modules/matrix-react-sdk/res/css/_font-sizes.scss";
@import "../../../node_modules/matrix-react-sdk/res/css/_border-radii.scss";

.mx_ErrorView {
    background: #c5e0f7;
    background: -moz-linear-gradient(top, #c5e0f7 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #c5e0f7 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #c5e0f7 0%, #ffffff 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c5e0f7', endColorstr='#ffffff', GradientType=0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100%;
    min-height: 100%;
    height: auto;
    color: #000;

    .mx_ErrorView_container {
        max-width: 680px;
        margin: auto;
    }

    .mx_Button {
        border: 0;
        border-radius: $border-radius-4px;
        font-size: $font-18px;
        margin-left: 4px;
        margin-right: 4px;
        min-width: 80px;
        background-color: #8BC34A;
        color: #fff;
        cursor: pointer;
        padding: 12px 22px;
        word-break: break-word;
        text-decoration: none;
    }

    .mx_Center {
        justify-content: center;
    }

    .mx_HomePage_header {
        color: #2e2f32;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    font-size: $font-16px;
    h1 {
        font-size: $font-32px;
    }
    h2 {
        font-size: $font-24px;
        color: #000;
    }

    .mx_HomePage_col {
        display: flex;
        flex-direction: row;
    }

    .mx_HomePage_row {
        flex: 1 1 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mx_HomePage_logo {
        margin: auto 20px auto 0;
    }

    h1, h2 {
        font-weight: 600;
        margin-bottom: 32px;
    }

    .mx_Spacer {
        margin-top: 24px;
    }

    .mx_FooterLink {
        color: #368bd6;
        text-decoration: none;
    }
}
