{#
Copyright 2021 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends "base.html" %}

{% block content %}
  <section class="flex-1 flex flex-col items-center justify-center">
    <div>
      <h1 class="my-2 text-5xl font-extrabold leading-tight">Matrix Authentication Service</h1>
      <p class="text-lg">
        OpenID Connect discovery document:
        <a class="text-links hover:text-links/70" href="{{ discovery_url }}">{{ discovery_url }}</a>
      </p>
    </div>
  </section>
{% endblock content %}
