{#
Copyright 2021 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends "base.html" %}

{% block navbar_start %}
  {% if next and next.kind == "continue_authorization_grant" %}
    {{ back_to_client::link(
      text="← Back",
      uri=next.grant.redirect_uri,
      mode=next.grant.response_mode,
      params=dict(error="access_denied", state=next.grant.state)
    ) }}
  {% endif %}
{% endblock %}

{% block navbar_end %}{% endblock %}

{% block content %}
  <section class="flex items-center justify-center flex-1">
    <form method="POST" class="grid grid-cols-1 gap-6 w-96 m-2">
      <div class="text-center">
        <h1 class="text-lg text-center font-medium">Log in</h1>
        {% if next and next.kind == "continue_authorization_grant" %}
          <p>to continue to <em>{{ next.grant.client.client_id }}</em></p>
        {% else %}
          <p>Use your existing account</p>
        {% endif %}
      </div>
      <input type="hidden" name="csrf" value="{{ csrf_token }}" />
      {# TODO: errors #}
      {{ field::input(label="Username", name="username") }}
      {{ field::input(label="Password", name="password", type="password") }}
      {{ button::button(text="Next") }}
      {{ button::link_text(text="Create account", href=register_link) }}
    </form>
  </section>

  {% if next and next.kind == "continue_authorization_grant" %}
    <section class="self-center my-6">
      {{ back_to_client::link(
        text="Return to application",
        class=button::text_class(),
        uri=next.grant.redirect_uri,
        mode=next.grant.response_mode,
        params=dict(error="access_denied", state=next.grant.state)
      ) }}
    </section>
  {% endif %}
{% endblock content %}
