{#
Copyright 2021 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends "base.html" %}

{% block navbar_start %}
  {% if next and next.kind == "continue_authorization_grant" %}
    {{ back_to_client::link(
      text="← Back",
      uri=next.grant.redirect_uri,
      mode=next.grant.response_mode,
      params=dict(error="access_denied", state=next.grant.state)
    ) }}
  {% endif %}
{% endblock %}

{% block content %}
  <section class="flex items-center justify-center flex-1">
    <form method="POST" class="grid grid-cols-1 gap-6 w-96 m-4">
      <div class="text-center">
        <h1 class="text-lg text-center font-medium">Confim access</h1>
        {% if next and next.kind == "continue_authorization_grant" %}
          <p>to continue to <em>{{ next.grant.client.client_id }}</em></p>
        {% endif %}
      </div>
      <input type="hidden" name="csrf" value="{{ csrf_token }}" />
      {# TODO: errors #}
      {{ field::input(label="Password", name="password", type="password") }}
      {{ button::button(text="Confirm password") }}
    </form>
  </section>

  <div class="flex justify-center">
    <div class="w-96 m-2">
      <h3 class="title is-3">Current session data:</h3>
      <pre class="text-sm whitespace-pre-wrap"><code>{{ current_session | json_encode(pretty=True) | safe }}</code></pre>
    </div>
    {% if next %}
      <div class="w-96 m-2">
        <h3 class="title is-3">Next action:</h3>
        <pre class="text-sm whitespace-pre-wrap"><code>{{ next | json_encode(pretty=True) | safe }}</code></pre>
      </div>
    {% endif %}
  </div>

  {% if next and next.kind == "continue_authorization_grant" %}
    <section class="self-center my-6">
      {{ back_to_client::link(
        text="Return to application",
        class=button::text_class(),
        uri=next.grant.redirect_uri,
        mode=next.grant.response_mode,
        params=dict(error="access_denied", state=next.grant.state)
      ) }}
    </section>
  {% endif %}
{% endblock content %}

