<footer class="footer container">
  <div class="sponsorship">
    <div class="container">
      <h2>
        {{ i18n "sponsoredBy" }}
      </h2>

      <div class="logo-grid">
        <div>
          <a href="https://www.dotcom-monitor.com/es/">
            <img src="/assets/sponsors/dotcom-monitor-logo.png" alt="Dotcom-Monitor" />
          </a>

          <a href="https://www.loadview-testing.com/api-testing/">
            <img src="/assets/sponsors/LoadView-logo.png" alt="LoadView" />
          </a>

          <a href="https://webhostingbuddy.com/wordpress-hosting/">
            <img src="/assets/sponsors/web-hosting-buddy-logo.png" alt="Web Hosting Buddy" />
          </a>

          <a href="https://www.drivencoffee.com/">
            <img src="/assets/sponsors/driven-coffee-logo.png" alt="Driven Coffee" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <p class="legal legal--right">
    <a href='https://github.com/imzqqq'>{{ i18n "joinMastodon" }}</a> · <a href='https://blog.flow.org'>{{ i18n "blog" }}</a> · <a href='https://flow.social/@Flow' target='_blank'><i class='fab fa-flow'></i></a> · <a href='https://twitter.com/imzqqq' rel='nofollow' target='_blank'><i class='fab fa-twitter'></i></a>
  </p>

  <p class="legal">{{ i18n "viewSource" }}</a> · <a href='https://github.com/imzqqq'>{{ i18n "imprint" }}</a></p>
</footer>
