.mx_NetworkDropdown {
    height: 32px;
    position: relative;
    width: max-content;
    padding-right: 32px;
    margin-left: auto;
    margin-right: 9px;
    margin-top: 12px;

    .mx_AccessibleButton {
        width: max-content;
    }
}

.mx_NetworkDropdown_menu {
    min-width: 204px;
    margin: 0;
    box-sizing: border-box;
    border-radius: $border-radius-4px;
    border: 1px solid $dialog-close-fg-color;
    background-color: $background;
    max-height: calc(100vh - 20px); // allow 10px padding on both top and bottom
    overflow-y: auto;
}

.mx_NetworkDropdown_menu_network {
    font-weight: bold;
}

.mx_NetworkDropdown_server {
    padding: 12px 0;
    border-bottom: 1px solid $input-darker-fg-color;

    .mx_NetworkDropdown_server_title {
        padding: 0 10px;
        font-size: $font-15px;
        font-weight: 600;
        line-height: $font-20px;
        margin-bottom: 4px;
        position: relative;

        // remove server button
        .mx_AccessibleButton {
            position: absolute;
            display: inline;
            right: 10px;
            height: 16px;
            width: 16px;
            margin-top: 2px;

            &::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                mask-image: url('$(res)/img/feather-customised/x.svg');
                background-color: $notice-primary-color;
            }
        }
    }

    .mx_NetworkDropdown_server_subtitle {
        padding: 0 10px;
        font-size: $font-10px;
        line-height: $font-14px;
        margin-top: -4px;
        margin-bottom: 4px;
        color: $muted-fg-color;
    }

    .mx_NetworkDropdown_server_network {
        font-size: $font-12px;
        line-height: $font-16px;
        padding: 4px 10px;
        cursor: pointer;
        position: relative;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &[aria-checked=true]::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            right: 10px;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            mask-image: url('$(res)/img/feather-customised/check.svg');
            background-color: $input-valid-border-color;
        }
    }
}

.mx_NetworkDropdown_server_add,
.mx_NetworkDropdown_server_network {
    &:hover {
        background-color: $header-panel-bg-color;
    }
}

.mx_NetworkDropdown_server_add {
    padding: 16px 10px 16px 32px;
    position: relative;
    border-radius: 0 0 $border-radius-4px $border-radius-4px;

    &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        left: 7px;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        mask-image: url('$(res)/img/feather-customised/plus.svg');
        background-color: $muted-fg-color;
    }
}

.mx_NetworkDropdown_handle {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        right: -27.5px; // - (width: 26 + spacing to align with X above: 1.5)
        top: -3px;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        mask-image: url('$(res)/img/feather-customised/chevron-down-thin.svg');
        background-color: $primary-content;
    }

    .mx_NetworkDropdown_handle_server {
        color: $muted-fg-color;
        font-size: $font-12px;
    }
}

.mx_NetworkDropdown_dialog .mx_Dialog {
    width: 45vw;
}
