.mx_cryptoEvent {
    // white infill for the transparency
    &.mx_cryptoEvent_icon::before {
        background-color: #ffffff;
        mask-image: url('$(res)/img/e2e/normal.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 80%;
    }

    &.mx_cryptoEvent_icon::after {
        mask-image: url('$(res)/img/e2e/normal.svg');
        background-color: $composer-e2e-icon-color;
    }

    &.mx_cryptoEvent_icon_verified::after {
        mask-image: url("$(res)/img/e2e/verified.svg");
        background-color: $accent-color;
    }

    &.mx_cryptoEvent_icon_warning::after {
        mask-image: url("$(res)/img/e2e/warning.svg");
        background-color: $notice-primary-color;
    }


    .mx_cryptoEvent_state, .mx_cryptoEvent_buttons {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    .mx_cryptoEvent_buttons {
        align-items: center;
        display: flex;
        gap: 5px;
    }

    .mx_cryptoEvent_state {
        width: 130px;
        padding: 10px 20px;
        margin: auto 0;
        text-align: center;
        color: $notice-secondary-color;
        overflow-wrap: break-word;
        font-size: $font-12px;
    }
}
