.mx_EventTileBubble {
    background-color: $dark-panel-bg-color;
    padding: 10px;
    border-radius: $border-radius-8px;
    margin: 10px auto;
    max-width: 75%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 24px minmax(0, 1fr) min-content;

    &::before, &::after {
        position: relative;
        grid-column: 1;
        grid-row: 1 / 3;
        width: 16px;
        height: 16px;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        margin-top: 4px;
    }

    .mx_EventTileBubble_title, .mx_EventTileBubble_subtitle {
        overflow-wrap: break-word;
    }

    .mx_EventTileBubble_title {
        font-weight: 600;
        font-size: $font-15px;
        grid-column: 2;
        grid-row: 1;
    }

    .mx_EventTileBubble_subtitle {
        font-size: $font-12px;
        grid-column: 2;
        grid-row: 2;
    }
}
