// A "media body" is any file upload looking thing, apart from images and videos (they
// have unique styles).

.mx_MediaBody {
    background-color: $message-body-panel-bg-color;
    border-radius: $border-radius-12px;
    max-width: 243px; // use max-width instead of width so it fits within right panels

    color: $message-body-panel-fg-color;
    font-size: $font-14px;
    line-height: $font-24px;

    padding: 6px 12px;
}
