$timelineImageBorderRadius: $border-radius-4px;

.mx_MImageBody_thumbnail--blurhash {
    position: absolute;
    left: 0;
    top: 0;
}

.mx_MImageBody_thumbnail {
    object-fit: contain;
    border-radius: $timelineImageBorderRadius;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .mx_Blurhash > canvas {
        animation: mx--anim-pulse 1.75s infinite cubic-bezier(.4, 0, .6, 1);
        border-radius: $timelineImageBorderRadius;
    }

    .mx_no-image-placeholder {
        background-color: $primary-content;
    }
}

.mx_MImageBody_thumbnail_container {
    // Prevent the padding-bottom (added inline in MImageBody.js) from
    // affecting elements below the container.
    overflow: hidden;

    // Make sure the _thumbnail is positioned relative to the _container
    position: relative;
}

.mx_MImageBody_gifLabel {
    position: absolute;
    display: block;
    top: 0px;
    left: 14px;
    padding: 5px;
    border-radius: $border-radius-5px;
    background: $imagebody-giflabel;
    border: 2px solid $imagebody-giflabel-border;
    color: $imagebody-giflabel-color;
    pointer-events: none;
}

.mx_HiddenImagePlaceholder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    // To center the text in the middle of the frame
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    cursor: pointer;
    background-color: $header-panel-bg-color;

    .mx_HiddenImagePlaceholder_button {
        color: $accent-color;

        span.mx_HiddenImagePlaceholder_eye {
            margin-right: 8px;

            background-color: $accent-color;
            mask-image: url('$(res)/img/feather-customised/eye.svg');
            display: inline-block;
            width: 18px;
            height: 14px;
        }

        span:not(.mx_HiddenImagePlaceholder_eye) {
            vertical-align: text-bottom;
        }
    }
}

.mx_EventTile:hover .mx_HiddenImagePlaceholder {
    background-color: $background;
}
