.mx_MImageReplyBody {
    display: flex;

    .mx_MImageBody_thumbnail_container {
        flex: 1;
        margin-right: 4px;
    }

    .mx_MImageReplyBody_info {
        flex: 1;

        .mx_MImageReplyBody_sender {
            grid-area: sender;
        }

        .mx_MImageReplyBody_filename {
            grid-area: filename;
        }
    }
}

