.mx_ReactionsRowButton {
    display: inline-flex;
    line-height: $font-20px;
    margin-right: 6px;
    padding: 1px 6px;
    border: 1px solid $reaction-row-button-border-color;
    border-radius: 500px;
    background-color: $reaction-row-button-bg-color;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;

    &:hover {
        border-color: $reaction-row-button-hover-border-color;
    }

    &.mx_ReactionsRowButton_selected {
        background-color: $reaction-row-button-selected-bg-color;
        border-color: $reaction-row-button-selected-border-color;
    }

    &.mx_AccessibleButton_disabled {
        cursor: not-allowed;
    }

    .mx_ReactionsRowButton_content {
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 4px;
    }
}
