.mx_RedactedBody {
    white-space: pre-wrap;
    color: $muted-fg-color;
    vertical-align: middle;

    padding-left: 20px;
    position: relative;

    &::before {
        height: 14px;
        width: 14px;
        background-color: $muted-fg-color;
        mask-image: url('$(res)/img/feather-customised/trash.custom.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
    }
}
