@import url('spinner.css');
@import url('client.css');
@import url('preview.css');
@import url('create.css');
@import url('open.css');

:root {
    --app-background: #f4f4f4;
    --background: #ffffff;
    --foreground: #000000;
    --font: #333333;
    --grey: #666666;
    --accent: #0098d4;
    --error: #d6001c;
    --link: #0098d4;
    --borders: #f4f4f4;
    --lightgrey: #E6E6E6;
    --spinner-stroke-size: 2px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--app-background);
    background-image: url('../images/background.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: var(--font);
    padding: 0 0 0 0;
    margin: 0;
}

noscript {
    display: block;
    padding: 20px;
}

p { line-height: 150%; }
a { text-decoration: none; }

h1 { font-size: 24px; }
h2 { font-size: 21px; }
h3 { font-size: 16px; }

body,
button,
input,
textarea {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
}

button, input[type=submit] {
    cursor: pointer;
}

button, input {
    font-size: inherit;
    font-weight: inherit;
}

input[type="checkbox"], input[type="radio"] {
    margin: 0 8px 0 0;
}

.RootView {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
}

.card {
    background-color: var(--background);
    border-radius: 16px;
    box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.06);
}

.card, .footer {
    padding: 2rem;
}

.hidden {
    display: none !important;
}


@media screen and (max-width: 480px) {
    body {
        background-image: none;
        background-color: var(--background);
        padding: 0;
    }

    .card {
        border-radius: unset;
        box-shadow: unset;
    }
}

.footer .links li:not(:first-child) {
    margin-left: 0.5em;
}

.footer .links li:not(:first-child)::before {
    content: "·";
    margin-right: 0.5em;
}

.footer .links li {
    display: inline-block;
}

.footer .links {
    font-size: 12px;
    list-style: none;
    padding: 0;
}

a, button.text {
    color: var(--link);
}

button.text {
    background: none;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    padding: 8px 0;
    margin: -8px 0;
}

button.text:hover {
    cursor: pointer;
}

.primary, .secondary {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 12px 8px;
    margin: 8px 0;
}

.secondary {
    background: var(--background);
    color: var(--link);
    border: 1px solid var(--link);
    border-radius: 32px;
}

.primary {
    background: var(--link);
    color: var(--background);
    border-radius: 32px;
}

.primary.icon, .secondary.icon {
    background-repeat: no-repeat;
    background-position: 12px center;
}

.icon.link { background-image: url('../images/link.svg'); }
.icon.tick { background-image: url('../images/tick.svg'); }
.icon.copy { background-image: url('../images/copy.svg'); }

button.primary, input[type='submit'].primary, button.secondary, input[type='submit'].secondary {
    border: none;
    font-size: inherit;
}

input[type='text'].large {
    width: 100%;
    padding: 12px;
    background: var(--background);
    border: 1px solid var(--foreground);
    border-radius: 16px;
    font-size: 14px;
}

.fullwidth {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.LoadServerPolicyView {
    display: flex;
}

.LoadServerPolicyView .spinner {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.LoadServerPolicyView h2 {
    margin-top: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
