<div class="header-bar fixed-top"></div>
<header class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <input class="menu-btn order-0" type="checkbox" id="menu-btn">
    <label class="menu-icon d-md-none" for="menu-btn"><span class="navicon"></span></label>
    <a class="navbar-brand order-1 order-md-0 mr-auto" href="{{ "/" | absURL }}">
      <span class="logo-container">
        <img src="/images/logo.svg">
      </span>
      <span class="logo-label">
        {{ .Site.Params.Title }}
      </span>
    </a>
    <ul class="navbar-nav social-nav order-3 order-md-5">
      {{ range .Site.Menus.social -}}
        <li class="nav-item nav-item-social">
          <a title="{{ .Name | safeHTML }}" class="nav-link" href="{{ .URL | absURL }}">{{ .Pre | safeHTML }}<span class="ml-2 sr-only">{{ .Name | safeHTML }}</span></a>
        </li>
      {{ end -}}
    </ul>
    <div class="collapse navbar-collapse order-4 order-md-1">
      <ul class="navbar-nav main-nav mr-auto order-5 order-md-2">
        {{- $current := . -}}
        {{ range .Site.Menus.main -}}
          {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
          {{- $active = or $active (eq .Name $current.Title) -}}
          {{- $active = or $active (and (eq .Name "Docs") (eq $current.Section "docs")) -}}
          {{- $active = or $active (and (eq .Name "Guides") (eq $current.Section "guides")) -}}
          {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "authors")) -}}
          <li class="nav-item{{ if $active }} active{{ end }}">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end -}}
          <li class="nav-item">
            <a class="nav-link" href="https://directory.live.imzqqq.top" target="_blank" rel="noopener noreferrer">Directory</a>
          </li>
      </ul>
      <div class="break order-6 d-md-none"></div>
      <form class="navbar-form flex-grow-1 order-7 order-md-3">
        <input id="userinput" class="form-control is-search" type="search" placeholder="Search docs..." aria-label="Search docs..." autocomplete="off">
        <div id="suggestions" class="shadow bg-white rounded"></div>
      </form>
    </div>
  </div>
</header>