// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Config/AppIdentifiers.xcconfig"
#include "Config/AppVersion.xcconfig"

PRODUCT_NAME = ChatSwiftUI
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).riotswiftui

INFOPLIST_FILE = ChatSwiftUI/Info.plist

SKIP_INSTALL = YES

SWIFT_OBJC_INTERFACE_HEADER_NAME = GeneratedInterface-Swift.h
