{#
Copyright 2021-2022 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends "base.html" %}

{% block content %}
  <section class="container mx-auto grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 p-2">
    <div class="rounded border-2 border-grey-50 dark:border-grey-450 p-4 grid gap-4 xl:grid-cols-2 grid-cols-1 place-content-start">
      <h1 class="text-2xl font-bold xl:col-span-2">Manage my account</h1>
      <div class="font-bold">Your username</div>
      <div>{{ current_session.user.username }}</div>
      <div class="font-bold">Unique identifier</div>
      <div>{{ current_session.user.sub }}</div>
      <div class="font-bold">Active sessions</div>
      <div>{{ active_sessions }}</div>
      {% if current_session.user.primary_email %}
        <div class="font-bold">Primary email</div>
        <div>{{ current_session.user.primary_email.email }}</div>
      {% endif %}
      {{ button::link_ghost(text="Change password", href="/account/password", class="col-span-2 place-self-end") }}
    </div>
    <div class="rounded border-2 border-grey-50 dark:border-grey-450 p-4 grid gap-4 xl:grid-cols-2 grid-cols-1 place-content-start">
      <h2 class="text-xl font-bold xl:col-span-2">Current session</h2>
      <div class="font-bold">Started at</div>
      <div>{{ current_session.created_at | date(format="%Y-%m-%d %H:%M:%S") }}</div>
      <div class="font-bold">Last authentication</div>
      <div>
        {% if current_session.last_authentication %}
          {{ current_session.last_authentication.created_at | date(format="%Y-%m-%d %H:%M:%S") }}
        {% else %}
          Never
        {% endif %}
      </div>
      {{ button::link_ghost(text="Revalidate", href="/reauth", class="col-span-2 place-self-end") }}
    </div>
    <div class="rounded border-2 border-grey-50 dark:border-grey-450 p-4 grid gap-4 xl:grid-cols-2 grid-cols-1 place-content-start">
      <h2 class="text-xl font-bold xl:col-span-2">Emails</h2>
      {% for email in emails %}
        <div class="font-bold">{{ email.email }}</div>
        <div>{% if email.confirmed_at %}Confirmed{% else %}Unconfirmed{% endif %}</div>
      {% endfor %}
      {{ button::link_ghost(text="Manage", href="/account/emails", class="col-span-2 place-self-end") }}
    </div>
  </section>
{% endblock content %}
