{#
Copyright 2022 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends "base.html" %}

{% block content %}
  <section class="container mx-auto grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 p-2">
    <form class="rounded border-2 border-grey-50 dark:border-grey-450 p-4 grid gap-4 xl:grid-cols-2 grid-cols-1 place-content-start" method="POST">
      <h2 class="text-xl font-bold xl:col-span-2">Change my password</h2>
      <input type="hidden" name="csrf" value="{{ csrf_token }}" />
      {{ field::input(label="Current password", name="current_password", type="password", class="xl:col-span-2") }}
      {{ field::input(label="New password", name="new_password", type="password") }}
      {{ field::input(label="Confirm password", name="new_password_confirm", type="password") }}
      {{ button::button(text="Change password", type="submit", class="xl:col-span-2 place-self-end") }}
    </form>
  </section>
{% endblock content %}

