name: Chat
attributes:
  ORGANIZATIONNAME: chat.imzqqq.top

configs:
  Debug: debug
  Release: release

fileGroups:
    - README.md
    - Podfile
    - project.yml

configFiles:
  Debug: Config/Project-Debug.xcconfig
  Release: Config/Project-Release.xcconfig

options:
  defaultConfig: Release
  groupSortPosition: bottom
  transitivelyLinkDependencies: false
  createIntermediateGroups: true
  useBaseInternationalization: true
  postGenCommand: sh Tools/XcodeGen/postGenCommand.sh
    
include:
  - path: Chat/target.yml
  - path: ChatTests/target.yml
  - path: ChatShareExtension/target.yml
  - path: SiriIntents/target.yml
  - path: ChatNSE/target.yml
  - path: DesignKit/target.yml
  - path: ChatSwiftUI/target.yml
