// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Config/AppIdentifiers.xcconfig"
#include "Config/AppVersion.xcconfig"

PRODUCT_NAME = SiriIntents
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).SiriIntents

INFOPLIST_FILE = SiriIntents/Info.plist

CODE_SIGN_ENTITLEMENTS = SiriIntents/SiriIntents.entitlements

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @executable_path/../../Frameworks    
SKIP_INSTALL = YES

SWIFT_OBJC_INTERFACE_HEADER_NAME = GeneratedInterface-Swift.h
