// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"
#include "Pods/Target Support Files/Pods-ChatPods-SiriIntents/Pods-ChatPods-SiriIntents.release.xcconfig"

PROVISIONING_PROFILE = $(SIRI_INTENTS_PROVISIONING_PROFILE)
PROVISIONING_PROFILE_SPECIFIER = $(SIRI_INTENTS_PROVISIONING_PROFILE_SPECIFIER)

COPY_PHASE_STRIP = NO
